<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>sidebar</title> 

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- bootstrap-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <!-- 스콘로고 -->
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SCON</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading  -->
            <div class="sidebar-heading">
                교육원 관리
            </div> 

            <!-- Nav Item - 교육원 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/business/businessInfo" data-target="#collapseAcademy"
                    aria-expanded="true" aria-controls="collapseAcademy">
                    <span>정보 관리</span>
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
                <a class="nav-link collapsed" href="/admin/notiTables" data-target="#collapseNotice"
                    aria-expanded="true" aria-controls="collapseNotice">
                    <span>공지 사항</span>
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>                
            </li>
            <!-- Nav Item - 강사 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTeacher"
                    aria-expanded="true" aria-controls="collapseTeacher">
                    <span>강사 관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div id="collapseTeacher" class="collapse" aria-labelledby="headingTeacher"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">강사 관리:</h6>
                        <a class="collapse-item" href="/admin/teacherRegist">강사 등록</a>
                        <a class="collapse-item" href="/admin/teacherList">강사 목록</a>
                    </div>
                </div>
            </li>
            
            
            <!--Divider-->
            <hr class="sidebar-divider">
            <!-- Heading  -->
            <div class="sidebar-heading">
                원생 관리
            </div> 


            <!-- Nav Item - 원생 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/studentList" data-target="#collapseStudent"
                    aria-expanded="true" aria-controls="collapseStudent">
                    <span>원생 관리</span>
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </li>

             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/studentRegist" data-target="#collapseStudentRegist"
                    aria-expanded="true" aria-controls="collapseStudentRegist">
                    <span>원생 등록</span>
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </li>

              <!--Divider-->
              <hr class="sidebar-divider">
            <!-- Heading  -->
            <div class="sidebar-heading">
                교육 관리
            </div> 

            <!-- Nav Item - 강의 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLecture"
                    aria-expanded="true" aria-controls="collapseLecture">
                    <span>강의 관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div id="collapseLecture" class="collapse" aria-labelledby="headingLecture"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">강의 관리:</h6>
                        <a class="collapse-item" href="/admin/classRegist">강의 등록</a>
                        <a class="collapse-item" href="/admin/classList">강의 조회</a>
                        <a class="collapse-item" href="/admin/registClassFile">강의첨부파일 등록</a>
                        <a class="collapse-item" href="/admin/ClassFileList">강의첨부파일 조회</a>
                    </div>
                </div>
            </li>
            

            <!-- Nav Item - 출결 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAttendance"
                    aria-expanded="true" aria-controls="collapseAttendance">
                    <span>출결 관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div id="collapseAttendance" class="collapse" aria-labelledby="headingAttendance"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">출결 관리:</h6>
                        <a class="collapse-item" href="/admin/check/chkInsertForm">출결 등록</a>
                        <a class="collapse-item" href="/admin/check/chkViewClass">출결 조회</a>
                        <a class="collapse-item" href="/admin/check/chkUpdateForm">출결 수정</a>
                        <a class="collapse-item" href="/admin/check/chkAbsent">결석 조회</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 상담 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCounseling"
                    aria-expanded="true" aria-controls="collapseCounseling">
                    <span>상담 관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div id="collapseCounseling" class="collapse" aria-labelledby="headingCounseling"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">상담 관리:</h6>
                        <a class="collapse-item" href="/admin/consultant/hopeList">상담 신청 내역</a>
                        <a class="collapse-item" href="/admin/consultant/list">상담 일지 관리</a>
                    </div>
                </div>
            </li>
            
            <!-- Nav Item - 성적 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGrade"
                    aria-expanded="true" aria-controls="collapseGrade">
                    <span>성적 관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div id="collapseGrade" class="collapse" aria-labelledby="headingGrade"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">성적 관리</h6>
                        <a class="collapse-item" href="/admin/gradeList?clsId=1">자바 기초 1반</a>
                        <a class="collapse-item" href="/admin/gradeList?clsId=2">스프링 중급 2반</a>
                        <a class="collapse-item" href="/admin/gradeList?clsId=3">프론트 집중 3반</a>
                    </div>
                </div>
            </li> 
            
            <!-- Nav Item - 과제 관리 Collapse Menu -->
           <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTaskBoard"
                    aria-expanded="true" aria-controls="collapseTaskBoard">
                    <span>과제 관리</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div id="collapseTaskBoard" class="collapse" aria-labelledby="headingTaskBoard"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">과제 관리:</h6>
                        <a class="collapse-item" href="/admin/taskBoardList?clsId=1">자바 기초 1반</a>
                        <a class="collapse-item" href="/admin/taskBoardList?clsId=2">스프링 중급 2반</a>
                        <a class="collapse-item" href="/admin/taskBoardList?clsId=3">프론트 집중 3반</a>
                    </div>
                </div>
            </li>
            
            <!--Divider-->
            <hr class="sidebar-divider">
            <!-- Heading  -->
            <div class="sidebar-heading">
                회계 관리
            </div> 

            <!-- Nav Item - 수납 관리 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/lecture/list" data-target="#collapsePayment"
                    aria-expanded="true" aria-controls="collapsePayment">
                    <span>수납 관리</span>
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </li>
            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

     
            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <p class="text-center mb-2"><strong>Scon</strong> <br>
                    학원관리프로그램</p>
                <a class="btn btn-success btn-sm">1588-1100</a>
            </div>

        </ul>
        <!-- End of Sidebar -->


    </div>
    <!-- End of Page Wrapper -->


</body>

</html>