<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공지사항</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    

    <style>
    /* 정렬 */
    .table th{
        vertical-align: middle;
        max-width: 3rem;
    }

    /* 컬럼높이 */
    .table td {
        height: 4rem;
        vertical-align: middle;
    }

    /* 내용 */
    #notiContents {
        height: 20rem;
        vertical-align : top;
        padding-top: 1.2rem;
    }

    
    /* 첨부파일명 */
    .notiFile { 
        color: #858796; 
    }
    .notiFile:link { 
        text-decoration: none;
    }
    .notiFile:visited { 
        text-decoration: none;
    }
    .notiFile:hover { 
        text-decoration: underline;
        color: #8B169E;
    }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
    <div th:replace="/common/adminSidebar.html"></div> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div th:replace="/common/adminTopbar.html"></div>
                <!-- 채팅 -->
                <!-- <div th:replace="/admin/chat/chatList.html"></div>  -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">공지사항</h1>                        
                    </div>
                    <hr class="border-bottom-primary">

                    <!-- 공지사항 작성 테이블 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">공지사항 상세조회</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>작성자</th>
                                        <td>관리자</td>
                                    </tr>
                                    <tr>
                                        <th>제목</th>
                                        <td>공지사항 제목입니다.</td>
                                    </tr>
                                    <tr>
                                        <th>파일첨부</th>
                                        <td><a class="notiFile" href="#" download="">첨부된파일.jpg</a></td>
                                    </tr>
                                    <tr>
                                        <th>내용</th>
                                        <td id="notiContents">공지사항 내용입니다.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.con  tainer-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->
        
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins --><script src="vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>