
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>성적 관리</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- BootStrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!--  파비콘 -->
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
	
	<style>
    #place-center{
        padding-left: 5%;
    }

    #small-btn{
        width: 65px;
        height: 20px;
        font-size: 10px;
        text-align: center;
    }

     .pagination{ float: right; }

	 #table-scroll{
        height: 400px;
        overflow: auto;
    }
    
    #btn-collection{
    	padding-bottom: 10px;
    	
    }
    
</style>
<script>
	const successMessage = '[[${successMessage}]]';
	if(successMessage) {
		alert(successMessage);
	}
</script>
</head>

<body id="page-top">
    <div id="wrapper">
        	<!-- navbar include -->
        	<div th:replace="/common/adminSidebar"></div>
        	<div id="content-wrapper" class="d-flex flex-column">
            
            <!-- header include -->
            <div th:replace="/common/adminTopbar"></div>

            <!-- Main Content -->
            <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">성적</h1>
            </div>
                <hr class="border-bottom-primary">
                <button type="button" class="btn btn-primary"
                th:onclick="'location.href=\'' + @{/admin/insertGrade(clsId=${param.clsId})} + '\';'">성적 추가 하기</button>


                    <br><br>
                    <!--   성적관리 시작 부분 -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">성적 관리</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" id="table-scroll">
                        <!--  <div class="table-wrapper">   -->
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" name="checked" id="flexCheckDefault">
                                                 <label class="form-check-label" for="flexCheckDefault"></label>
                                               </div>
                                             </th>
                                            <th>이름</th>
                                            <th>수업</th>
                                            <th>점수</th>
                                            <th>등록일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form id="check-form">
                                        <tr th:each="grade : ${ gradeList }">
                                            <td>
                                                <span class="form-check">
                                                	<input class="form-check-input btn-check" type="checkbox" name="gradeId" id="flexCheckDefault" th:value="${grade.gradeId}">
                                                </span>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                </label>
                                            </td>
                                            <input type="hidden" th:value="${grade.gradeId}" class="gradeId"/>
                                            <input type="hidden" th:value="${grade.clsId}" id="clsId" />
                                            <td th:text="${ grade.memberName}" class="memberName"></td>
                                            <td th:text="${ grade.clsName }" class="clsName"></td>
                                            <td th:text="${ grade.grade }" class="grade"></td>
                                            <td th:text="${ grade.gradeDate }" class="gradeDate"></td>
                                        </tr>
                                        </form>
                                    </tbody>
                           <!---->  </div> 
                                </table>
                            </div>
                         </div>
                         <!--- 수정 삭제 버튼 --->
                                <div class="container" id="btn-collection">
                                    <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="beforeCheck();">수정</button>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="beforeCheck2();" data-bs-target="#exampleModal" 
                                        style="background-color: red; border: none;">
                                            삭제
                                        </button>
                                    </div>
                                    </div>
                                </div>        
                        <!-- 푸터 --> 
                        </div>
			
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- footer include -->
            <div th:replace="/common/footer"></div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->



            <!-- Modal (삭제 모달)-->
             <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">성적 삭제</h5>
                         <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">×</span>
                             </div>
                                 <div class="modal-body">
                                     삭제 하시겠습니까?
                                 </div>
                                 <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                 <button type="button" class="btn btn-primary delete-btn" onclick="deleteGrade();">삭제</button>
                             </div>
                         </div>
                     </div>
                 </div>



        <!-- accModal1 (수정 모달)-->
        <div class="modal fade" id="accModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">성적 수정</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                       	<input type="hidden" name="gradeId" id="gradeId" />
                        <div class="row mb-3">
                            <div class="col-lg-1"></div>
                            <label for="stdName" class="col-sm-2 col-form-label col-lg-3">원생</label>
                            <div class="col-sm-10 col-lg-7">
                                <input type="text" class="form-control" id="stdName" readonly>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-1"></div>
                            <label for="clsName" class="col-sm-2 col-form-label col-lg-3">수강 강의</label>
                            <div class="col-sm-10 col-lg-7">
                                <input type="text" class="form-control" id="clsName" readonly>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-1"></div>
                            <label for="grade" class="col-sm-2 col-form-label col-lg-3">점수 입력</label>
                            <div class="col-sm-10 col-lg-7">
                                <input type="text" class="form-control" id="grade">
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-7">
                                <div class="custom-control custom-radio custom-control-inline">
                                </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" onclick="closeModal();">취소</button>
                    <button type="submit" class="btn btn-primary update-btn">확인</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /accModal1 -->
          
	


	</div>
</div>

    <!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins --><script src="vendor/chart.js/Chart.min.js"></script>
 <!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script> -->
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts 
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>  -->



    <script>
			// 성적 수정 모달 (O)
			$(".update-btn").on('click', function() {
				let grade = $("#grade").val()
	        	let gradeId = $("#gradeId").val()
	        	
	        	let data = {
					'grade' : grade,
					'gradeId' : gradeId
				}
	        	$.ajax({
					type: 'POST', 						
					url: '/admin/grade', 							
					data: data, 						
				
					success: function(data) { 					
						location.reload()
					},
					error: function(xhr) { 
						console.log("수정 실패")
					}
				
				})
			}); 
			
		//수정 모달 (원생명, 수강 강의 값 자동 넣기/중복 체크 여부 확인) (O)
        function beforeCheck() {
            if($(".btn-check").is(":checked") && $(".btn-check:checked").length == 1) {
            	let curCheck = $(".btn-check:checked");
            	let index= $(".btn-check").index(curCheck);
            	let memberName = $(".memberName").eq(index).text();
            	let clsName = $(".clsName").eq(index).text();
            	let grade = $(".grade").eq(index).text();
            	let gradeId = $(".gradeId").eq(index).val();
            	
            	$("#stdName").val(memberName);
            	$("#clsName").val(clsName);
            	$("#grade").val(grade);
            	$("#gradeId").val(gradeId);
            	
	            $("#accModal1").modal("show");
	        } else if($(".btn-check").is(":checked") && $(".btn-check:checked").length > 1) {
	            alert("학생을 한명만 선택 해주세요.");
	        } else {
	            alert("선택된 학생이 없습니다.");
	        }
	    }
		
        //삭제 모달 (체크 여부 확인) (O)
        function beforeCheck2(){
	        if($(".btn-check").is(":checked") && $(".btn-check:checked").length >= 1) {     	
	        	$("#delete-modal").modal("show");
		    }  else {
		        alert("선택된 학생이 없습니다.");
		        console.log("선택된 학생 없음");
		    }
	    }

        //모달 닫기  (O)
	    function closeModal() {
	        $("#accModal1").modal("hide");
	    }
        
       //성적 삭제 (O)
        
  	   function deleteGrade(){
        	let checked = $(".btn-check:checked").length; //체크된 체크박스 길이 담기
        	gradeIdArr = [];              
        	let clsId = $("#clsId").val();                //성적 정보와 함께 넘길 clsId 담기

        	for(let i = 0; i < checked; i++){
        		let gradeId = $(".btn-check:checked")[i].value;   //체크된 체크박스의 value(=gradeId) 담기
        		gradeIdArr.push(gradeId);                        //배열에 push 하기
        	}   
        	
        	console.log(gradeIdArr);
        	
        	$.ajax({
        		
        		url : '/admin/gradeList',
        		type : 'POST',
        		
        		data : {
        			'gradeId' : gradeIdArr,
        			'clsId' : clsId
        		},
        		
        		success: function(data){
        			console.log(data);
        			alert("성적 삭제 완료")
        			location.reload();
        		},
        		error : function(xhr, textStatus, errorThrown, data){
        			console.log("성적 삭제 실패.");
        			console.log("xhr : " + xhr);
        			console.log("data : " + data);
        			alert("성적 삭제 실패");
        			location.reload();
        			
        		}
        	});
        
        }  
 
 </script>

</body>



</html>
