<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>과제 제출</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    

    <style>
    /* 파일첨부 */
    form input { 
        border-radius: 5px; 
        padding: 5px 10px; 
    } 
    form input::file-selector-button { 
        display: none; 
    }

    /* 내용 */
    .notiContents {
        min-height: 20rem;
        
    }
    
    /* 정렬 */
    .table th{
        vertical-align: middle;
    }

    /* 수정, 삭제 버튼 */
    #delete-btn {
        background-color: red;
        border: none;
    }

    /* 댓글 작성 창*/
    textarea {
        resize: none;
    }

    #apply-btn {
        background-color: purple;
        color: white;
        border-radius: 3px;
        border: none;
       
    }
    </style>


</head>


<body id="page-top">
    <div id="wrapper">
        	<!-- navbar include -->
        	<div th:replace="/common/adminSidebar.html"></div>
        	<div id="content-wrapper" class="d-flex flex-column">
            
            <!-- header include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

            <!-- Page Heading -->
             <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">과제 게시판</h1>                        
             </div>
             <hr class="border-bottom-primary">

                    <!-- 공지사항 작성 테이블 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">과제 제출</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            작성자 <span id="pointtext"></span>
                                        </th>
                                        <td>
                                            <input class="form-control" type="text" placeholder="관리자" 
                                            aria-label="Disabled input example" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            제목 <span id="pointtext"></span>
                                        </th>
                                        <td>
                                            <input class="form-control" type="text" placeholder="" 
                                            aria-label="default input example" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>파일첨부</th>
                                        <td>
                                           <form method="post" enctype="multipart/form-data"> 
                                                <label for="file-input"></label> 
                                                <input id="file-input" type="file" /> 
                                            </form> 


                                            <!-- <form method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                <label for="exampleFormControlFile1">파일 선택</label>
                                                <input type="file" class="form-control-file notiFile" id="exampleFormControlFile1">
                                                </div>
                                            </form> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>내용 <span id="pointtext"></span></th>
                                        <td>
                                            <textarea class="form-control notiContents" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>댓글 <span id="replytext"></span>
                                        <td>
                        <!-- Comments section-->
                        <section class="mb-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control col-md-12" rows="1" placeholder="댓글을 작성해주세요"></textarea><button id="apply-btn">등록</button></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"></div>
                                    <div class="ms-5">
                                        <div class="fw-bold"><span style="color:black; font-weight: bold;">김민아</span>
                                             <a href="#">수정</a>&nbsp;<a href="#" onclick="">삭제</a></div>
                                        엄청 잘했다
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"></div>
                                            <div class="ms-3">
                                                <div class="fw-bold"><span style="color:black; font-weight: bold;">한지우</span>
                                                    <a href="#">수정</a>&nbsp;<a href="#" onclick="">삭제</a></div>
                                                100점 맞을듯
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"></div>
                                            <div class="ms-3">
                                                <div class="fw-bold"><span style="color:black; font-weight: bold;">유지수</span><a href="#">
                                                    수정</a>&nbsp;<a href="#" onclick="">삭제</a></div>
                                               퍼가요~
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 글쓴이만 보이는 버튼 -->
                            <div class="row buttonbox">
                                <button class="col-1 w-10 btn btn-primary btn-sm" id="correct-btn" type="submit">수정</button>
                                <button class="col-1 w-10 btn btn-primary btn-sm" id="delete-btn" type="submit">삭제</button>
                            </div>
                        </div>
                    </div>
                    <h2 >

                    </h2>

               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- footer include -->
            <div th:replace="/common/footer"></div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!--  Ajax -->
	<script>
	
    $("#send-btn").click(function(){
            
            const taskTitle = document.getElementById("task-title").value;
            const taskContent = document.getElementById("task-content").value;
            //여기 파일 담기
        $.ajax({
            url : "",
            type: "post",
            data : {
                    taskTitle : taskTitle,
                    taskContent : taskContent
                    /* 파일 넣기 */
                  },
                  success : function(data){
                      console.log(data);
                      console.table(data);
                  },
                  error : function(xhr){
                      console.log(xhr);
                  }
        });
    });
      </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- Page level plugins --><script src="vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>