<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>학사일정</title>

<!-- 파비콘 -->
<link rel="icon" type="image/x-icon" href="/img/favicon.png">

<!--  캘린더 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- sweetalert2 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

<!-- Css -->
<link href="/css/schedule2.css" rel="stylesheet">

<script src="/js/sche.js" type="text/javascript" defer></script>

</head>

<body id="page-top">
<div id="calendarBox">
	<div id="calendar"></div>
</div>

						<!-- 일정 추가 모달 -->
							<!-- modal 추가 -->
							<div class="modal fade" id="calendarModal" tabindex="-1"
								role="dialog" aria-labelledby="registModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="registModalLabel">일정을 입력하세요.</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form id="calendarForm">
											<div class="modal-body">
												<div class="form-group">
													<label for="taskId" class="col-form-label">일정 내용</label> <input
														type="text" class="form-control" id="calendar_content"
														name="calendar_content"> <label for="taskId"
														class="col-form-label">시작 날짜</label> <input type="date"
														class="form-control" id="calendar_start_date"
														name="calendar_start_date"> <label for="taskId"
														class="col-form-label">종료 날짜</label> <input type="date"
														class="form-control" id="calendar_end_date"
														name="calendar_end_date"> <label for="taskId"
														class="col-form-label">색상</label>
													<div class="row">
														<input type="color" class="form-control col-5 left"
															id="calendar_color" name="calendar_color" value="#bc7fcd">
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary btn-font"
													id="addCalendar">등록</button>
												<button type="button"
													class="btn btn-primary btn-font d-none" id="upadteCalendar">수정</button>
												<button type="button"
													class="btn btn-primary btn-font d-none" id="deleteCalendar">삭제</button>
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal" id="sprintSettingModalClose">취소</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<!--  모달 추가 -->

</body>

</html>