<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>학사일정</title>

<!-- 파비콘 -->
<link rel="icon" type="image/x-icon" href="/img/favicon.png">

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<script src="/js/sche.js" type="text/javascript" defer></script>

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<!--  캘린더 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- sweetalert2 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

<!-- Css -->
<link href="/css/schedule.css" rel="stylesheet">


</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block sec:authorize="hasAnyRole('ADMIN','DIRECTOR')">
		<div th:replace="/common/adminSidebar.html"></div>
		</th:block>
		
		<th:block sec:authorize="hasAnyRole('STUDENT')">
		<div th:replace="/common/studentSidebar.html"></div>
		</th:block>
		
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				
					<div th:replace="/common/adminTopbar.html"></div>
				
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">학사 일정</h1>
					</div>
					<hr class="border-bottom-primary">

					<!-- contents -->
					<div class="card shadow mb-4 pb-5">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
						</div>
						<div class="card-body pb-5">
							<!-- 
                                캘린더
                                https://blog.naver.com/PostView.naver?blogId=iiwvii&logNo=222368096146&parentCategoryNo=&categoryNo=1&viewDate=&isShowPopularPosts=true&from=search
                            -->
							<div id="calendarBox">
								<div id="calendar"></div>
							</div>

						<!-- 일정 추가 모달 -->
							<!-- modal 추가 -->
							<div class="modal fade" id="calendarModal" tabindex="-1"
								role="dialog" aria-labelledby="registModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="registModalLabel">일정을 입력하세요.</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form id="calendarForm">
											<div class="modal-body">
												<div class="form-group">
													<label for="taskId" class="col-form-label">일정 내용</label> <input
														type="text" class="form-control" id="calendar_content"
														name="calendar_content"> <label for="taskId"
														class="col-form-label">시작 날짜</label> <input type="date"
														class="form-control" id="calendar_start_date"
														name="calendar_start_date"> <label for="taskId"
														class="col-form-label">종료 날짜</label> <input type="date"
														class="form-control" id="calendar_end_date"
														name="calendar_end_date"> <label for="taskId"
														class="col-form-label">색상</label>
													<div class="row">
														<input type="color" class="form-control col-5 left"
															id="calendar_color" name="calendar_color" value="#bc7fcd">
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary btn-font"
													id="addCalendar">등록</button>
												<button type="button"
													class="btn btn-primary btn-font d-none" id="upadteCalendar">수정</button>
												<button type="button"
													class="btn btn-primary btn-font d-none" id="deleteCalendar">삭제</button>
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal" id="sprintSettingModalClose">취소</button>
											</div>
										</form>

									</div>
								</div>
							</div>

							<!--  모달 추가 -->


						</div>
					</div>

				</div>
				<!-- End of container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="/common/footer.html"></div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>


	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/chart.js/Chart.min.js"></script>
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/chart-area-demo.js"></script>
	<script src="/js/demo/chart-pie-demo.js"></script>
	<script src="/js/demo/datatables-demo.js"></script>


</body>

</html>