<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>원생 수납 내역 조회</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <!-- alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script>
    	const successMessage = '[[${successMessage}]]'
    	if(successMessage) {
    		alert(successMessage);
    		/* Swal.fire({
				text: successMessage,
				icon: "success",
			  	confirmButtonText: '확인',
			}).then((result) => {
				if(result.isConfirmed) {
					location.reload();
				}
			}); */
    	}
    </script>

</head>

<body id="page-top">
    <div id="wrapper">

        <!-- sidebar include -->
        <div th:replace="/common/adminSidebar.html"></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- topbar include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">원생 수납 내역</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">원생 수납 내역 조회</h6>
                        </div>
                        <br>
                        <div class="clsDate2">
                        	<div class="col-lg-3 ml-2">
                        		<button type="button" class="btn btn-primary btn-search"
                                	th:onclick="location.href='/admin/lecture/insertForm'">수강 등록</button>
                                	<!-- th:onclick="location.href='/admin/lecture/insertForm'" -->
                                	<!-- id="insertForm" -->
                        	</div>
	                        <form id="searchForm" class="form-inline" action="/admin/lecture/list" method="get">
	                        	<input type="hidden" name="pageNo" th:value="${ page.cri.pageNo }">
	                            <div class="search-area col-lg-12">
	                            	<select class="form-control form-select-lg" name="type">
								    	<option value="" th:selected="${ #strings.isEmpty( page.cri.type ) }">-- 검색 유형 --</option>
								    	<option value="stdName" th:selected="${ #strings.equals( page.cri.type, 'stdName' ) }">원생 이름</option>
								    	<option value="lecStatus" th:selected="${ #strings.equals( page.cri.type, 'lecStatus' ) }">수강 상태</option>
								    	<option value="accOption" th:selected="${ #strings.equals( page.cri.type, 'accOption' ) }">결제 방법</option>
								    	<option value="accStatus" th:selected="${ #strings.equals( page.cri.type, 'accStatus' ) }">수납 여부</option>
									</select>
	                                <div class="form-group mx-sm-3">
                                    <input type="text" name="keyword" class="form-control" th:value="${ page.cri.keyword }" id="keyword"
                                        placeholder="검색어를 입력하세요">
                                </div>
	                                <button type="button" class="btn btn-primary btn-search mr-2">검색</button>
	                            </div>
	                        </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered-yj dataTable-yj" id="accDataTable"
                                    width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>원생</th>
                                            <th>강의명</th>
                                            <th>수강 기간</th>
                                            <th>수강 상태</th>
                                            <th>수강료</th>
                                            <th>수납일</th>
                                            <th>결제 방법</th>
                                            <th>수납 여부</th>
                                            <th>환불 처리</th>
                                            <th>관리</th>
                                        </tr>
                                    </thead>
                                    <tbody class="accTbody">
                                        <tr th:if="${not #lists.isEmpty( lectureList )}" th:each="lec : ${ lectureList }" class="lecTr">
                                            <td th:text="${ lec.no }" class="lecNo">번호</td>
                                            <td th:text="${ lec.member.name }" class="memberId">원생</td>
                                            <td th:text="${ lec.cls.clsName }" class="clsId">강의명</td>
                                            <td>
                                            	<div class="clsDate3">
													<div th:text="${ lec.cls.clsStart }" id="clsSrt">수강 시작일</div>
													<span>&nbsp;~&nbsp;</span>
													<div th:text="${ lec.cls.clsEnd }" id="clsEnd">수강 종료일</div>
												</div>
                                            </td>
                                            <td th:text="${ lec.lecStatus }">수강 상태</td>
                                            <td >
                                            	<span th:text="${#numbers.formatInteger(lec.lecPay, 0, 'COMMA')}" class="lecPay"></span><span> 원</span>
                                            </td>
                                            <td th:text="${ lec.accDate }">수납일</td>
                                            <td th:text="${ lec.accOption }">결제 방법</td>
                                            <td th:text="${ lec.accStatus }" class="accStatus">수납 여부</td>
                                            <td>
                                            	<span th:if="${not #strings.isEmpty(lec.ref.refDate)}" th:text="${'환불'}" class="refund"></span>
                                            	<span th:unless="${not #strings.isEmpty(lec.ref.refDate)}" th:text="${''}" class="refund"></span>
                                            </td>
                                            <td class="btn-no">
                                                <div class="btn-acc">
                                                    <button type="button" class="btn btn-primary btn-acc1"
                                                    	th:onclick="'location.href=\'' + @{/admin/lecture/updateForm(no=${lec.no}, pageNo=${page.cri.pageNo}, type=${page.cri.type}, keyword=${page.cri.keyword})} + '\';'">상세</button>
                                                    <button type="button" class="btn btn-light btn-acc2 refBtn"
                                                    	data-toggle="modal" th:onclick="refund(this, [[${lec.no}]])">환불</button>
                                                    	<!-- th:onclick="refund(this, [[${lec.no}]])" -->
                                                    	<!-- th:onclick="|refundDetail(${lec.no})|" -->
                                                    	<!--  data-target="#refundModal" -->
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:unless="${not #lists.isEmpty( lectureList )}">
                                        	<td colspan="11">조회된 결과가 없습니다</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이징 -->
                            <nav aria-label="Page navigation">
								<div class="pageInfo_area">
									<ul id="pageInfo" class="pageInfo pagination mt-1 mb-0">
									
										<!-- 첫 페이지 이동 -->
										<!-- 첫 번째 블럭이면 안 보이게 조건 걸기 -->
										<li class="page-item">
											<a th:if="${ page.startPage > 1 }" th:href="${ 1 }" th:text="'<<'" class="page-link"></a>
										</li>

										<!-- 이전 페이지 버튼 -->
										<li th:if="${ page.prev }" class="page-item">
											<a th:href="${ page.startPage - 1 }" th:text="'<'" class="page-link"></a>
										</li>
										
										<!-- 각 번호 페이지 버튼 -->
										<th:block th:with="start = ${ page.startPage }, end = ${ page.endPage }">
											<li th:each="num : ${ #numbers.sequence(start, end) }" class="pageInfo_btn page-item">
												<!-- <a th:if="${ page.cri.pageNo == num }" th:text="${ num }" class="page-link" disabled></a> -->
												<a th:href="${ num }" th:text="${ num }" class="page-link"></a>
												<!-- <a th:if="${ page.cri.pageNo != num }" th:href="@{/student/consultant/list(pageNo=${num})}" th:text="${ num }" class="page-link"></a> -->
											</li>
										</th:block>
										
										<!-- 다음 페이지 버튼 -->
										<li th:if="${ page.next }" class="page-item">
											<a th:href="${ page.endPage + 1 }" th:text="'>'" class="page-link"></a>
										</li>
										
										<!-- 마지막 페이지 이동 -->
										<li class="page-item">
									    	<a th:if="${ page.cri.pageNo == page.maxPage }" th:text="'>>'" class="page-link d-none" disabled></a>
									    	<a th:if="${ page.cri.pageNo != page.maxPage }" th:href="${ page.maxPage }" th:text="'>>'" class="page-link"></a>
									    </li>
							    
									</ul>
								</div>
							</nav>
							
							<!-- <form id="searchForm" method="get">	
								<input type="hidden" name="pageNo" th:value="${ page.cri.pageNo }">
								<input type="hidden" name="limit" th:value="${ page.cri.limit }">
								<input type="hidden" name="keyword" th:value="${ page.cri.keyword }">	
								<input type="hidden" name="type" th:value="${ page.cri.type }">	
							</form> -->

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- footer include -->
            <div th:replace="/common/footer.html"></div>

            <!-- refundModal-->
            <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ref-modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">환불 처리</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" name="">
                            	<input type="hidden" name="no" id="lecNo" th:value="${no}"/>
                                <div class="row mb-3">
                                    <div class="col-lg-1"></div>
                                    <label for="memberId" class="col-sm-2 col-form-label col-lg-3">원생 <span id="pointtext">*</span></label>
                                    <div class="col-sm-10 col-lg-7">
                                        <input type="text" class="form-control" id="memberId" readonly>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-1"></div>
                                    <label for="clsId" class="col-sm-2 col-form-label col-lg-3">강의명 <span id="pointtext">*</span></label>
                                    <div class="col-sm-10 col-lg-7">
                                        <input type="text" class="form-control" id="clsId" readonly>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-1"></div>
                                    <label for="refDate" class="col-sm-2 col-form-label col-lg-3">환불일 <span id="pointtext">*</span></label>
                                    <div class="col-sm-10 col-lg-7">
                                        <input type="date" class="form-control" id="refDate" name="refDate" required>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                <div class="row mb-3 refPay">
                                    <div class="col-lg-1"></div>
                                    <label for="refPay" class="col-sm-2 col-form-label col-lg-3">환불 금액 <span id="pointtext">*</span></label>
                                    <div class="col-sm-10 col-lg-7">
                                        <input type="number" class="form-control" id="refPay" name="refPay" required>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-1"></div>
                                    <label for="refContent" class="col-sm-2 col-form-label col-lg-3">환불 사유</label>
                                    <div class="col-sm-10 col-lg-7">
                                        <div class="input-group refContent">
                                            <textarea class="form-control" aria-label="With textarea"
                                                id="refContent"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                <div class="modal-footer pb-0">
                                    <button type="button" class="btn btn-light resetbuttonbox"
                                        data-dismiss="modal">취소</button>
                                    <button type="button" class="btn btn-primary submitbuttonbox" id="registRef">환불처리</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /refundModal -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

	<script type="text/javascript">
		/* 입력 검색 - 원하는 td만 검색 */
		/* function searchTable() {
			var input, filter, table, tr, td, i, j, found;
			input = document.getElementById("accSearch");
			filter = input.value.toLowerCase();
			table = document.getElementById("accDataTable");
			tr = table.getElementsByTagName("tr");
			for (i = 1; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length - 1; j++) {
					if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		} */
		
		/* 페이징 & 검색 */
		let searchForm = $("#searchForm");   	
        
        $(".pageInfo a").on("click", function(e){
        	e.preventDefault();
            searchForm.find("input[name='pageNo']").val($(this).attr("href"));
            searchForm.attr("action", "/admin/lecture/list");
	        searchForm.submit();
        });
    	
    	$(".search-area button").on("click", function(e){
    		e.preventDefault();
    		
    		let type = $(".search-area select").val();
	    	let keyword = $(".search-area input[name='keyword']").val();
	    	
	    	if(!type){
    			swal({
    				text: "검색 유형을 선택하세요",
    				icon: "warning",
    				button: "확인"
    			});
    			return false;
    		}
	    	
    		if(!keyword){
    			swal({
    				text: "검색어를 입력하세요",
    				icon: "warning",
    				button: "확인"
    			});
    			return false;
    		}		
    		
    		searchForm.find("input[name='pageNo']").val(1);
    		searchForm.submit();
    	});

		/* 환불 모달에 값 넣기 - 보여지는 화면에서 모든 값이 존재하기 때문에 ajax 통신 사용 불필요 */
		function refund(elem, no) {
			document.getElementsByClassName('no').value = no;
			console.log(document.getElementsByClassName('no').value);

			document.getElementsByClassName('memberId').value = elem.closest('.lecTr').querySelector('.memberId').innerHTML;
			console.log(document.getElementsByClassName('memberId').value);

			document.getElementsByClassName('clsId').value = elem.closest('.lecTr').querySelector('.clsId').innerHTML;
			console.log(document.getElementsByClassName('clsId').value);
			
			document.getElementsByClassName('refund').value = elem.closest('.lecTr').querySelector('.refund').innerHTML;
			console.log(document.getElementsByClassName('refund').value);
			
			document.getElementsByClassName('accStatus').value = elem.closest('.lecTr').querySelector('.accStatus').innerHTML;
			console.log(document.getElementsByClassName('accStatus').value);
			
			$("#lecNo").val(document.getElementsByClassName('no').value);
			$("#memberId").val(document.getElementsByClassName('memberId').value);
			$("#clsId").val(document.getElementsByClassName('clsId').value);
			
			if(document.getElementsByClassName('refund').value == "환불") {
    			swal({
    				text: "환불 처리가 완료된 수강 내역입니다",
    				icon: "warning",
    				button: "확인"
    			});
    		} else if(document.getElementsByClassName('accStatus').value == "미납") {
    			swal({
    				text: "미납인 수강 내역입니다",
    				icon: "warning",
    				button: "확인"
    			});
    		} else if(document.getElementsByClassName('refund').value == "") {
    			$("#refundModal").modal("show");
    		}
		}
		
		/* 환불 모달에 값 넣기 */
		/* function refundDetail(no) {
			$.ajax({
				url : "/admin/lecture/refund",
				type : "get",
				data : { no : no },
				success : function(data) {
					console.log(data);
					$("#lecNo").val(no);
					$("#memberId").val(data.member.name);
					$("#clsId").val(data.cls.clsName);
				},
				error : function(xhr) {
					console.log(xhr);
				}
			});
		} */
		
		/* 환불 등록 */
		$("#registRef").click(function() {
			
			const no = document.getElementById("lecNo").value;
			const refDate = document.getElementById("refDate").value;
			const refPay = document.getElementById("refPay").value;
			const refContent = document.getElementById("refContent").value;
			
			/* let no = $("#lecNo").val();
			let refDate = $("#refDate").val();
			let refPay = $("#refPay").val();
			let refContent = $("#refContent").val(); */
			console.log(no);
			console.log(refDate);
			console.log(refPay);
			console.log(refContent);
			
			const refund = {
					lecNo : no,
					refDate : refDate,
					refPay : refPay,
					refContent : refContent
			};
			
			if($("#refDate").val() == "") {
				//alert("환불일을 입력하세요")
				swal({
    				text: "환불일을 입력하세요",
    				icon: "warning",
    				button: "확인"
    			});
				$("#refDate").focus();
				return false;
			}
			
			if($("#refPay").val() == "") {
				//alert("환불 금액을 입력하세요")
				swal({
    				text: "환불 금액을 입력하세요",
    				icon: "warning",
    				button: "확인"
    			});
				$("#refPay").focus();
				return false;
			}
			
			$.ajax({
				url : "/admin/lecture/registRefund",
				type : "post",
				data : refund,
				success : function(data) {
					console.log(data);
					alert(data);
					/* Swal.fire({
						text: data,
						icon: "success",
					  	confirmButtonText: '확인',
					}).then((result) => {
						if(result.isConfirmed) {
							location.reload();
						}
					}); */
					location.href="/admin/lecture/list";
				},
				error : function(xhr) {
					console.log(xhr);
				}
			});
		});
	</script>

	<!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/emo/datatables-demo.js"></script>

</body>

</html>