<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>원생 수납 내역 조회</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script>
    	const successMessage = '[[${successMessage}]]'
    	if(successMessage) {
    		alert(successMessage);
    	}
    </script>

</head>

<body id="page-top">
    <div id="wrapper">

        <!-- sidebar include -->
        <div th:replace="/common/adminSidebar.html"></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- topbar include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">원생 수납 내역</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">원생 수납 내역 조회</h6>
                        </div>
                        <br>
                        <div class="clsDate2">
                        	<div class="col-lg-3 ml-2">
                        		<button type="button" class="btn btn-primary btn-search"
                                	th:onclick="location.href='/admin/lecture/insertForm'">수강 등록</button>
                        	</div>
	                        <form class="form-inline" action="" method="get">
	                            <div class="search-area col-lg-12">
	                                <div class="form-group mx-sm-3">
	                                    <input type="text" class="form-control" id="accSearch" onkeyup='searchTable()'
	                                        placeholder="검색어를 입력하세요">
	                                </div>
	                                <button type="button" class="btn btn-primary btn-search mr-2">검색</button>
	                            </div>
	                        </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered-yj dataTable-yj" id="accDataTable"
                                    width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>원생</th>
                                            <th>강의명</th>
                                            <th>수강 기간</th>
                                            <th>수강 상태</th>
                                            <th>수강료</th>
                                            <th>수납일</th>
                                            <th>결제 방법</th>
                                            <th>수납 여부</th>
                                            <th>환불 처리</th>
                                            <th>관리</th>
                                        </tr>
                                    </thead>
                                    <tbody class="accTbody">
                                        <tr th:each="lec : ${ lectureList }" class="lecTr">
                                            <td th:text="${ lec.no }" class="no">번호</td>
                                            <td th:text="${ lec.member.name }" class="std">원생</td>
                                            <td th:text="${ lec.cls.clsName }" class="cls">강의명</td>
                                            <td>
                                            	<div class="clsDate3">
													<div th:text="${ lec.cls.clsStart }" id="clsSrt2">수강 시작일</div>
													<span>&nbsp;~&nbsp;</span>
													<div th:text="${ lec.cls.clsEnd }" id="clsEnd2">수강 종료일</div>
												</div>
                                            </td>
                                            <td th:text="${ lec.lecStatus }">수강 상태</td>
                                            <td th:text="${ lec.lecPay }">수강료</td>
                                            <td th:text="${ lec.accDate }">수납일</td>
                                            <td th:text="${ lec.accOption }">결제 방법</td>
                                            <td th:text="${ lec.accStatus }">수납 여부</td>
                                            <td></td>
                                            <td class="btn-no">
                                                <div class="btn-acc">
                                                    <button type="button" class="btn btn-primary btn-acc1"
                                                    	th:onclick="'location.href=\'' + @{/admin/lecture/updateForm(no=${lec.no})} + '\';'">수정</button>
                                                    <button type="button" class="btn btn-light btn-acc2 refBtn"
                                                    	th:onclick="refund(this, [[${lec.no}]])">환불</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이징 -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination mt-1 mb-0">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- footer include -->
            <div th:replace="/common/footer.html"></div>

            <!-- 환불모달-->
            <div id="refModal" class="modal refModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="mt-2">환불 처리</h5>
                        <span class="refClose">&times;</span>
                    </div>
                    <form action="" method="post" name="refundForm">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-lg-1"></div>
                                <label for="std" class="col-sm-2 col-form-label col-lg-3">원생</label>
                                <div class="col-sm-10 col-lg-7">
                                    <input type="text" class="form-control" id="std" readonly>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-1"></div>
                                <label for="cls" class="col-sm-2 col-form-label col-lg-3">수강 강의</label>
                                <div class="col-sm-10 col-lg-7">
                                    <input type="text" class="form-control" id="cls" readonly>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-1"></div>
                                <label for="refDate" class="col-sm-2 col-form-label col-lg-3">환불일</label>
                                <div class="col-sm-10 col-lg-7">
                                    <input type="date" class="form-control" id="refDate">
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-1"></div>
                                <label for="refPay" class="col-sm-2 col-form-label col-lg-3">환불 금액</label>
                                <div class="col-sm-10 col-lg-7">
                                    <input type="number" class="form-control" id="refPay" required>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-1"></div>
                                <label for="refContent" class="col-sm-2 col-form-label col-lg-3">환불 사유</label>
                                <div class="col-sm-10 col-lg-7">
                                    <div class="input-group refContent">
                                        <textarea class="form-control" aria-label="With textarea"
                                            id="refContent"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbuttonbox">환불처리</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /환불모달 -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

	<script>
		/* 입력 검색 - 원하는 td만 검색 */
		function searchTable() {
			var input, filter, table, tr, td, i, j, found;
			input = document.getElementById("accSearch");
			filter = input.value.toLowerCase();
			table = document.getElementById("accDataTable");
			tr = table.getElementsByTagName("tr");
			for (i = 1; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length - 1; j++) {
					if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}

		/* 환불 모달 */
		var modal = document.getElementById("refModal");
		var btn = document.getElementsByClassName("refBtn");
		var span = document.getElementsByClassName("refClose")[0];

		function refund(elem, no) {
			document.getElementsByClassName('no').value = no;
			console.log(document.getElementsByClassName('no').value);

			document.getElementsByClassName('std').value = elem.closest('.lecTr').querySelector('.std').innerHTML;
			console.log(document.getElementsByClassName('std').value);

			document.getElementsByClassName('cls').value = elem.closest('.lecTr').querySelector('.cls').innerHTML;
			console.log(document.getElementsByClassName('cls').value);
		}
		
		if(refund) {
			for(i = 0; i < btn.length; i++){
			    btn[i].onclick = function () {
			    	
			        modal.style.display = "block";
			    }
			}
		}


		span.onclick = function() {
			modal.style.display = "none";
		}

		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		/* 환불 모달에 값 넣기 */
		$(".refBtn").click(function () {
		     var std = $(".std").text();
		     var cls = $(".cls").text();
		     console.log(std);
		     console.log(cls);
		     
		    /*  for(var i = 0; i < std.length; i++){
		    	 console.log(std[i]);
		     } */
		     	
		     $("#std").val(std);
		     $("#cls").val(cls);
		 });
	</script>

	<!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/emo/datatables-demo.js"></script>

</body>

</html>