<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>상담 신청</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body id="page-top">
    <div id="wrapper">

        <!-- sidebar include -->
        <div th:replace="/common/studentSidebar.html"></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- topbar include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">상담 관리</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">상담 신청</h6>
                        </div>
                        <div class="card-body">
                            <form action="/student/consultant/insertForm" method="post">
                                <div class="col-lg-9 con-table-center">
                                    <table class="table table-bordered-yj">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <label for="conHDate" class="col-form-label">희망일</label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-4">
                                                        <input type="date" class="form-control" id="conHDate" name="conHDate">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conHTime" class="col-form-label">희망 시간</label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-4">
                                                        <select class="form-control form-select-lg"
                                                            aria-label=".form-select-lg example" id="conHTime"
                                                            name="conHTime">
                                                            <optgroup label="희망 시간 선택">
	                                                            <option value="09:00 ~ 09:50">09:00 ~ 09:50</option>
	                                                            <option value="10:00 ~ 10:50">10:00 ~ 10:50</option>
	                                                            <option value="11:00 ~ 11:50">11:00 ~ 11:50</option>
	                                                            <option value="14:00 ~ 14:50">14:00 ~ 14:50</option>
	                                                            <option value="15:00 ~ 15:50">15:00 ~ 15:50</option>
	                                                            <option value="16:00 ~ 16:50">16:00 ~ 16:50</option>
	                                                            <option value="17:00 ~ 17:50">17:00 ~ 17:50</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conHTitle" class="col-form-label">제목 <span
                                                            id="pointtext">*</span></label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-10">
                                                        <input type="text" class="form-control" id="conHTitle" name="conHTitle" required>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conHContent" class="col-form-label">내용 <span
                                                            id="pointtext">*</span></label>
                                                    <p class="textCnt"><span id="counter">0</span>/1000</p>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-10">
                                                        <div class="con-input-group">
                                                            <textarea class="form-control conHContent" aria-label="With textarea"
                                                                id="conHContent" name="conHContent"
                                                                placeholder="상담 내용은 최소 10글자 이상 입력해주시기 바랍니다."
                                                                minlength="10" required></textarea>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        $("textarea").keyup(function () {
                                                            let inputLength = $(this).val().length;
                                                            $("#counter").text(inputLength);

                                                            let remain = 1000 - inputLength;

                                                            if (remain >= 0) {
                                                                $("#counter").css("color", "#8B169E");
                                                            } else {
                                                                $("#counter").css("color", "#e03131");
                                                            }
                                                        });
                                                    </script>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="buttonbox">
                                    <button type="button" class="btn btn-light resetbuttonbox"
                                    	onclick="cancelRegist()">취소하기</button>
                                    <button type="submit" class="btn btn-primary submitbuttonbox">등록하기</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- footer include -->
            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <script type="text/javascript">
    	function cancelRegist() {
    		if(confirm('작성 중인 내용은 저장되지 않습니다. \n상담 등록을 취소하시겠습니까?')) {
    			location.href = "/student/consultant/list";
    		}
    	}
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>