<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>상담 신청</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
    <script>
    	const successMessage = '[[${successMessage}]]'
    	if(successMessage) {
    		alert(successMessage);
    	}
    </script>

</head>

<body id="page-top">
    <div id="wrapper">

        <!-- sidebar include -->
        <div th:replace="/common/studentSidebar.html"></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- topbar include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">상담 관리</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">상담 신청 내역</h6>
                        </div>
                        <br>
						<div class="lec-flex col-lg-12">
							<div class="row ml-2">
								<button type="button" class="btn btn-primary btn-conh"
									th:onclick="location.href='/student/consultant/insertForm'">상담 등록</button>
							</div>
							<form class="form-inline" action="/student/consultant/list" method="get">
								<div class="search-area col-lg-12">
									<div class="form-group mx-sm-3">
										<input type="text" name="keyword" th:value="${ page.cri.keyword }" class="form-control"
											id="accSearch" placeholder="검색어를 입력하세요"></div>
									<button type="submit" class="btn btn-primary btn-search">검색</button>
								</div>
							</form>
						</div>
						<div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered-yj dataTable-yj" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>상담 신청일</th>
                                            <th>상담 제목</th>
                                        </tr>
                                    </thead>
                                    <tbody class="accTbody">
                                        <tr th:each="conH : ${ consultantList }">
                                            <td th:text="${ conH.no }">번호</td>
                                            <td th:text="${ conH.conWriteDate }">상담 신청일</td>
                                            <!-- <td th:text="${ conH.conHTitle }" class="conHTitle"
                                            th:onclick="'location.href=\'' + @{/student/consultant/detail/{no} (conNo=${conH.no})} + '\';'">상담 제목</td> -->
                                            <!-- <td class="conHTitle">
                                            	<a th:href="@{/student/consultant/detail(no=${conH.no})}">[[${conH.conHTitle}]]</a>
                                            </td> -->
                                            <td th:text="${ conH.conHTitle }" class="conHTitle"
                                            	th:onclick="'location.href=\'' + @{/student/consultant/detail(no=${conH.no})} + '\';'">상담 제목</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이징 -->
                            <nav aria-label="Page navigation">
								<div class="pageInfo_area">
									<ul id="pageInfo" class="pageInfo pagination mt-1 mb-0">
									
										<!-- 첫 페이지 이동 -->
										<!-- 첫 번째 블럭이면 안 보이게 조건 걸기 -->
										<!-- <li class="page-item">
											<a th:href="@{/student/consultant/list/?pageNo=1}" class="page-link"><span aria-hidden="true"><<</span></a>
										</li> -->

										<!-- 이전페이지 버튼 -->
										<l1 th:if="${ page.prev }" class="page-item"><a th:href="@{/student/consultant/list(pageNo=${page.startPage - 1})}" class="page-link"><</a></l1>
										
										<!-- 각 번호 페이지 버튼 -->
										<th:block th:with="start = ${ page.startPage }, end = ${ page.endPage }">
											<li th:each="num : ${ #numbers.sequence(start, end) }" class="pageInfo_btn page-item">
												<a th:if="${ page.cri.pageNo == num }" th:text="${ num }" class="page-link" disabled></a>
												<a th:if="${ page.cri.pageNo != num }" th:href="@{/student/consultant/list(pageNo=${num})}" th:text="${ num }" class="page-link"></a>
											</li>
										</th:block>
										
										<!-- 다음페이지 버튼 -->
										<l1 th:if="${ page.next }" class="page-item"><a th:href="@{/student/consultant/list(pageNo=${page.endPage + 1})}" class="page-link">></a></l1>
										
										<!-- 마지막 페이지 이동 - 오류 -->
										<!-- <li class="page-item">
									    	<a th:href="@{/student/consultant/list(pageNo=${page.maxPage})}" class="page-link"><span aria-hidden="true"><<</span></a>
									    </li> -->
							    
									</ul>
								</div>
							</nav>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- footer include -->
            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script type="text/javascript">
    	/* 입력 검색 - tr 전체 */
        /* $(document).ready(function() {
            $("#accSearch").keyup(function() {
                var value = $(this).val().toLowerCase();
                $(".accTbody tr").filter(function() {
                    // 찾는 문자 없을 시 -1 반환
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        }); */
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>