<form action="" method="post">
	<div class="table-responsive table-responsive-lec1">
		<table class="table table-bordered-yj dataTable-yj mt-0"
			id="dataTable" width="100%" cellspacing="0">
			<tbody>
				<tr>
					<th class="col-lg-3 p-2"><label for="clsName"
						class="col-form-label">강의명 <span id="pointtext">*</span></label></th>
					<td class="col-lg-9 p-2">
						<div class="col-sm-10 col-lg-4">
							<select class="form-control form-select-lg"
								aria-label=".form-select-lg example" id="clsName">
								<option selected>강의 선택</option>
								<option value="1">국어</option>
								<option value="2">영어</option>
								<option value="3">수학</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th class="col-lg-3 p-2"><label for="memName"
						class="col-form-label">담당 강사 <span id="pointtext">*</span></label>
					</th>
					<td class="col-lg-9 p-2">
						<div class="col-sm-10 col-lg-4">
							<input type="text" class="form-control" id="memName" readonly>
						</div>
					</td>
				</tr>
				<tr>
					<th class="col-lg-3 p-2"><label for="clsDate"
						class="col-form-label">수강 기간 <span id="pointtext">*</label>
					</th>
					<td class="col-lg-9 p-2">
						<div class="clsDate">
							<div class="col-sm-10 col-lg-4">
								<input type="date" class="form-control" id="clsSrt" readonly>
							</div>
							<span class="mt-2">~</span>
							<div class="col-sm-10 col-lg-4">
								<input type="date" class="form-control" id="clsEnd" readonly>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th class="col-lg-3 p-2"><label for="lecPay"
						class="col-form-label">수강료 <span id="pointtext">*</span></label></th>
					<td class="col-lg-9 p-2">
						<div class="col-sm-10 col-lg-4">
							<input type="number" class="form-control" id="lecPay">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="buttonbox mt-2">
			<button type="button" class="btn btn-light btn-lec2 mr-2">취소하기</button>
			<button type="button" class="btn btn-primary btn-lec1"
				data-toggle="modal" data-target="#updateLec">수정하기</button>
		</div>
	</div>
</form>

<!-- 등록 모달 -->
<div class="modal fade modal-bg-acc" id="updateLec" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-dml modal-content-yj">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">수강 정보를 수정하시겠습니까?</div>
			<form action="" method="post">
				<div class="modal-footer">
					<button class="btn btn-secondary resetbuttonbox" type="button"
						data-dismiss="modal">취소</button>
					<button type="submit" class="btn btn-primary submitbuttonbox">확인</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /등록 모달 -->
<!-- /작성 영역 -->