<fieldset class="row col-lg-12 text-xs">
    <!-- 왼쪽 -->
    <div class="form-group col-lg-6 row">
        <!-- 학생 유형 -->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">학생 유형</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <select class="form-control form-select-lg mb-3 infoformbox">
                <option selected>학생 유형</option>
                <option value="1">초등학생</option>
                <option value="2">중학생</option>
                <option value="3">고등학생</option>
                <option value="4">대학생</option>
                <option value="5">성인</option>
            </select>
        </div>
        <!-- 학교 -->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">학교</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <input type="text" class="form-control infoformbox" id="name">
        </div>
        <!-- 학년 -->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">학년</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <input type="text" class="form-control infoformbox" id="name">
        </div>
        <!-- 학급(반) -->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">학급(반)</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <input type="text" class="form-control infoformbox" id="name">
        </div>
    </div>
    <!-- 오른쪽 -->
    <div class="form-group col-lg-6 row">
        <label for="" class="col-lg-3 sub-btn font-weight-bold font-up">
            대표 학부모 정보
        </label>
        <div class="col-lg-7 row"></div>
        <!-- 학부모 성함-->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">학부모
                성함</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <input type="text" class="form-control infoformbox" id="name">
        </div>
        <!-- 가족관계-->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">가족 관계</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <input type="text" class="form-control infoformbox" id="name">
        </div>
        <!-- 비상 연락처 -->
        <label for="" class="col-lg-3">
            <span class="coloumnamebox input-group-text colbox">비상
                연락처</span>
        </label>
        <div class="col-lg-2"></div>
        <div class="col-lg-7 row">
            <input type="text" class="form-control infoformbox" id="name">
        </div>
    </div>

    <!-- 아래 상담 내용(비고) -->
    <label for="" class="col-lg-1">
        <span class="coloumnamebox input-group-text colbox">상담 내용(비고)</span>
    </label>
    <div class="col-lg-8 text-a">
        <textarea class="form-control text-area" rows="2" id=""></textarea>
    </div>

</fieldset>
<!-- 수정/ 삭제 버튼 -->
<div class="registbtn">
    <button type="submit" class="btn btn-primary submitbuttonbox btn-sm">수정
        하기</button>
    <button type="button" class="btn btn-primary resetbuttonbox btn-sm">삭제
        하기</button>
</div>