<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>수강 수정</title>

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="startbootstrap-sb-admin-2-gh-pages/css/student.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body id="page-top">

	<!--  작성 영역 -->
	<form action="" method="post">
		<div class="table-responsive table-responsive-lec1">
			<table class="table table-bordered-yj dataTable-yj mt-0"
				id="dataTable" width="100%" cellspacing="0">
				<tbody>
					<tr>
						<th class="col-lg-3 p-2"><label for="clsName"
							class="col-form-label">강의명 <span id="pointtext">*</span></label>
						</th>
						<td class="col-lg-9 p-2">
							<div class="col-sm-10 col-lg-4">
								<select class="form-control form-select-lg"
									aria-label=".form-select-lg example" name="clsId" id="clsId">
									<!-- ajax 통신을 통해 return 된 값을 option으로 넣어준다. -->
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<th class="col-lg-3 p-2"><label for="memName"
							class="col-form-label">담당 강사 <span id="pointtext">*</span></label>
						</th>
						<td class="col-lg-9 p-2">
							<div class="col-sm-10 col-lg-4">
								<input type="text" class="form-control" id="memName" readonly>
							</div>
						</td>
					</tr>
					<tr>
						<th class="col-lg-3 p-2"><label for="clsDate"
							class="col-form-label">수강 기간 <span id="pointtext">*</span></label>
						</th>
						<td class="col-lg-9 p-2">
							<div class="clsDate">
								<div class="col-sm-10 col-lg-4">
									<input type="date" class="form-control" id="clsSrt" readonly>
								</div>
								<span class="mt-2">~</span>
								<div class="col-sm-10 col-lg-4">
									<input type="date" class="form-control" id="clsEnd" readonly>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="col-lg-3 p-2"><label for="lecPay"
							class="col-form-label">수강료 <span id="pointtext">*</span></label>
						</th>
						<td class="col-lg-9 p-2">
							<div class="col-sm-10 col-lg-4">
								<input type="number" class="form-control" id="lecPay">
							</div>
						</td>
					</tr>
					<tr>
						<th class="col-lg-3 p-2"><label for="lecDiscount"
							class="col-form-label">할인 사유</label>
						</th>
						<td class="col-lg-9 p-2">
							<div class="col-sm-10 col-lg-10">
								<input type="text" class="form-control lecDiscount" id="lecDiscount" name="lecDiscount"
									placeholder="100자 이내로 작성해 주시기 바랍니다.">
							</div>
						</td>
					</tr>
					<tr>
						<th class="col-lg-3 p-2">
							<label for="lecStatus" class="col-form-label">수강 상태</label>
						</th>
						<td class="col-lg-9 p-2">
							<div class="col-sm-10 col-lg-4">
								<select class="form-control form-select-lg"
									aria-label=".form-select-lg example" id="lecStatus">
									<optgroup label="수강 상태 선택">
										<option value="수강중">수강중</option>
										<option value="수강 완료">수강 완료</option>
									</optgroup>
								</select>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="buttonbox mt-2">
				<button type="button" class="btn btn-light btn-lec2 mr-2"
					th:onclick="location.href='/admin/student/studentList'">취소하기</button>
				<button type="button" class="btn btn-primary btn-lec1">수정하기</button>
			</div>
		</div>
	</form>
	<!-- /작성 영역 -->
	
	<script>
		/* DB에 있는 전체 강의 조회 */
		$(function(){
			$.ajax({
				url : "/admin/student/subMenu3",
				success : function(data) {
					const $classId = $("#clsId");
					
					for(let index in data) {
						$classId.append($("<option>").val(data[index].clsId).text(data[index].clsName));
					}
				},
				error : function(xhr) {
					console.log(xhr);
				}
			});
		});
	</script>

</body>

</html>