<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.board.model.dao.BoardMapper">

	<resultMap id="boardResultMap" type="com.scon.project.admin.board.model.dto.BoardDTO">
		<id property="brdNo" column="BRD_NO"/>
		<result property="headId" column="HEAD_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="brdTitle" column="BRD_TITLE"/>
		<result property="brdContent" column="BRD_CONTENT"/>
		<result property="brdDate" column="BRD_DATE"/>
		<result property="brdUpdate" column="BRD_UPDATE"/>
		<result property="brdView" column="BRD_VIEW"/>
		<result property="brdDelete" column="BRD_DELETE"/>
	</resultMap>
	

	<select id="findAllBoardList" resultMap="boardResultMap">
		SELECT
		       BRD_NO
		     , HEAD_ID
		     , BRD_TITLE
		     , MEMBER_ID
		     , BRD_DATE
		     , BRD_VIEW
		     , BRD_DELETE		     
		  FROM TB_BOARD
		 WHERE BRD_DELETE = 'N'
		 ORDER BY BRD_NO
	</select>
	
	


</mapper>