<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.business.model.dao.BusinessMapper">

	<resultMap id="businessResultMap" type="com.scon.project.admin.business.model.dto.BusinessDTO">
		<id property="busCode" column="BUS_CODE"/>
		<result property="busNum" column="BUS_NUM"/>
		<result property="busTitle" column="BUS_TITLE"/>
		<result property="busRep" column="BUS_REP"/>
		<result property="busPhone" column="BUS_PHONE"/>
		<result property="busFax" column="BUS_FAX"/>
		<result property="busAdr" column="BUS_ADR"/>
		<result property="busHompy" column="BUS_HOMPY"/>
	</resultMap>
	
	<!-- 교육원 정보 조회 -->
	<select id="selectBusinessInfo" resultMap="businessResultMap">
		SELECT
		       BUS_CODE
		     , BUS_NUM
		     , BUS_TITLE
		     , BUS_REP
		     , BUS_PHONE
		     , BUS_FAX
		     , BUS_ADR
		     , BUS_HOMPY		     
		  FROM TB_BUSINESS
	</select>
	
	<!-- 교육원 정보 수정 -->
	<update id="updateBusinessInfo">
		UPDATE TB_BUSINESS
			SET BUS_CODE = #{ busCode }
			  , BUS_NUM = # { busNum }
			  , BUS_TITLE = # { busTitle }
		      , BUS_REP = #{ busRep }
		      , BUS_PHONE = #{ busPhone }
	  	      , BUS_FAX = #{ busFax }
		      , BUS_ADR = #{ busAdr }
		      , BUS_HOMPY = #{ busHompy }
	</update>
	
	

</mapper>