<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.check.model.dao.CheckMapper">

	<resultMap id="checkResultMap" type="com.scon.project.admin.check.model.dto.CheckDTO">
		<id property="no" column="CHQ_NO"/>
		<result property="lecNo" column="LEC_NO"/>
		<result property="chkDate" column="CHQ_DATE"/>
		<result property="chkStart" column="CHQ_START"/>
		<result property="chkFinish" column="CHQ_FINISH"/>
		
		
		<association property="lec" resultMap="lectureResultMap"/>
		<association property="member" resultMap="memberResultMap"/>
		<association property="cls" resultMap="classResultMap"/>
	</resultMap>
	
	<resultMap id="lectureResultMap" type="com.scon.project.admin.lecture.model.dto.LectureDTO">
		<id property="no" column="LEC_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="lecPay" column="LEC_PAY"/>
		<result property="lecStatus" column="LEC_STATUS"/>
		<result property="lecDiscount" column="LEC_DISCOUNT"/>
		<result property="lecDelete" column="LEC_DELETE"/>
		<result property="accStatus" column="ACC_STATUS"/>
		<result property="accDate" column="ACC_DATE"/>
		<result property="accOption" column="ACC_OPTION"/>
		
		<association property="member" resultMap="memberResultMap"/>
		<association property="cls" resultMap="classResultMap"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="password" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="delDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
		<result property="keyword" column="MEMBER_ST2"/>
			
	</resultMap>
	
	<resultMap id="classResultMap" type="com.scon.project.admin.Class.dto.ClassDTO">
		<id property="clsId" column="CLS_ID"/>
		<result property="clsName" column="CLS_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsSubject" column="CLS_SUBJECT"/>
		<result property="clsStuNum" column="CLS_STUNUM"/>
		<result property="clsGrade" column="CLS_GRADE"/>
		<result property="clsPay" column="CLS_PAY"/>
		<result property="clsRoom" column="CLS_ROOM"/>
		<result property="clsStart" column="CLS_START"/>
		<result property="clsEnd" column="CLS_END"/>
		<result property="clsNote" column="CLS_NOTE"/>
		<result property="clsStatus" column="CLS_STATUS"/>
	</resultMap>
	
	
	
	<!-- 출석부 목록 조회 -->
	<select id="selectAllClassList" resultMap="checkResultMap">
	SELECT 
		 A.LEC_NO
		,A.MEMBER_ID
		,B.MEMBER_NAME
		,D.CLS_ID
		,D.CLS_NAME
		,C.CHQ_NO
		,TO_CHAR(C.CHQ_DATE, 'YYYY-MM-DD') AS CHQ_DATE
		,C.CHQ_START
		,C.CHQ_FINISH
	FROM TB_LECTURE A
	JOIN TB_MEMBER B ON (A.MEMBER_ID = B.MEMBER_ID)
	JOIN TB_CHECK C ON (C.LEC_NO = A.LEC_NO)
	JOIN TB_CLASS D ON (A.CLS_ID = D.CLS_ID)
	WHERE 1=1
	<if test="chk.chkDate != null and chk.chkDate != ''">
	   AND TO_CHAR(C.CHQ_DATE, 'YYYY-MM-DD') = #{ chk.chkDate }
	 </if>
	<if test="cls.clsId != 0">
	  AND D.CLS_ID = #{ cls.clsId }
	</if> 	 
	<if test="member.name != null and member.name != ''">
	   AND B.MEMBER_NAME = #{ member.name }
	 </if>
	ORDER BY B.MEMBER_NAME
	</select>

	<!-- 결석 학생 조회 -->
	<select id="selectAllAbsentList" resultMap="checkResultMap">
	SELECT 
		 A.LEC_NO
		,A.MEMBER_ID
		,B.MEMBER_NAME
		,D.CLS_ID
		,D.CLS_NAME
		,C.CHQ_NO
		,TO_CHAR(C.CHQ_DATE, 'YYYY-MM-DD') AS CHQ_DATE
		,C.CHQ_START
		,C.CHQ_FINISH
	FROM TB_LECTURE A
	JOIN TB_MEMBER B ON (A.MEMBER_ID = B.MEMBER_ID)
	JOIN TB_CHECK C ON (C.LEC_NO = A.LEC_NO)
	JOIN TB_CLASS D ON (A.CLS_ID = D.CLS_ID)
	WHERE C.CHQ_START = '결석'
	<if test="chk.chkDate != null and chk.chkDate != ''">
	   AND TO_CHAR(C.CHQ_DATE, 'YYYY-MM-DD') = #{ chk.chkDate }
	 </if>
	<if test="cls.clsId != 0">
	  AND D.CLS_ID = #{ cls.clsId }
	</if> 	 
	<if test="member.name != null and member.name != ''">
	   AND B.MEMBER_NAME = #{ member.name }
	 </if>
	ORDER BY B.MEMBER_NAME
	</select>
	

	
	<!-- 강의 목록 조회 -->
	<select id="selectClassList" resultMap="classResultMap">
		SELECT
			CLS_ID
		, CLS_NAME
		FROM TB_CLASS
		WHERE CLS_STATUS = 'Y'
	</select>
	
	
	
	<!-- 출결 등록 목록 조회 -->
	<select id="selectChkList" resultMap="lectureResultMap">
	SELECT 
		 A.LEC_NO
		,B.MEMBER_ID
		,B.MEMBER_NAME
		,C.CLS_ID
		,C.CLS_NAME
	FROM TB_LECTURE A
	JOIN TB_MEMBER B ON (A.MEMBER_ID = B.MEMBER_ID)
	JOIN TB_CLASS C ON (A.CLS_ID = C.CLS_ID)
	WHERE 1=1
	<!--if test="chk.chkDate != null and chk.chkDate != ''">
	   AND TO_CHAR(C.CHQ_DATE, 'YYYY-MM-DD') = #{ chk.chkDate }
	 </if-->
	<if test="cls.clsId != 0">
	  AND C.CLS_ID = #{ cls.clsId }
	</if> 	 
	<if test="member.name != null and member.name != ''">
	   AND B.MEMBER_NAME = #{ member.name }
	 </if>
	ORDER BY A.LEC_NO
	</select>
	
	<!-- 출결 등록 -->
	<insert id="insertChkList">
		INSERT
			INTO TB_CHECK
			(
			   CHQ_NO
			 , LEC_NO
			 , CHQ_DATE
			 , CHQ_START
			 , CHQ_FINISH 
			)
			VALUES
			(
			   CHQ_NO.NEXTVAL
			 , #{ lecNo }
			 , #{ chkDate }
			 , #{ chkStart }
			 , #{ chkFinish }
			 )
			 
	</insert>
	
	<!-- 출결 수정 -->
	<update id="updateChkList">
		UPDATE TB_CHECK
		   SET CHQ_DATE = #{ chkDate }
			 , CHQ_START = #{ chkStart }
			 , CHQ_FINISH = #{ chkFinish }
		 WHERE CHQ_NO = #{ no }
	</update>
	
	
</mapper>