<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.check.model.dao.CheckMapper">

	<resultMap id="checkResultMap" type="com.scon.project.admin.check.model.dto.CheckDTO">
		<id property="no" column="CHQ_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="chkDate" column="CHQ_DATE"/>
		<result property="chkStart" column="CHQ_START"/>
		<result property="chkFinish" column="CHQ_FINISH"/>
		
		<association property="member" resultMap="memberResultMap"/>
		<association property="cls" resultMap="classResultMap"/>
	</resultMap>
	
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="password" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="delDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
		<result property="keyword" column="MEMBER_ST2"/>
		</resultMap>
	
	<resultMap id="classResultMap" type="com.scon.project.admin.Class.dto.ClassDTO">
		<id property="clsId" column="CLS_ID"/>
		<result property="clsName" column="CLS_NAME"/>
		<result property="clsSubject" column="CLS_SUBJECT"/>
		<result property="clsStuNum" column="CLS_STUNUM"/>
		<result property="clsGrade" column="CLS_GRADE"/>
		<result property="clsPay" column="CLS_PAY"/>
		<result property="clsRoom" column="CLS_ROOM"/>
		<result property="clsStart" column="CLS_START"/>
		<result property="clsEnd" column="CLS_END"/>
		<result property="clsNote" column="CLS_NOTE"/>
		<result property="clsStatus" column="CLS_STATUS"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<select id="classFind" parameterType="com.scon.project.admin.check.model.dto.CheckDTO" resultType="int">
		SELECT 
			*
		FROM TB_CHECK
  			<if test="datePicker != null and datePicker != ''">
			<choose>
				<when test="searchCls != null and searchCls != ''">
					<choose>
						<when test="searchCls == 'class'">
							AND CLS_ID LIKE '%' || #{clsId} || '%'
						</when>
					</choose>
				</when>
			</choose>
		</if>
	</select>

	<select id="selectAllClassList" resultMap="checkResultMap">
		SELECT
		  A.CHQ_NO
		, B.MEMBER_ID
		, B.MEMBER_NAME
		, C.CLS_ID
		, C.CLS_NAME
		, A.CHQ_DATE
		, A.CHQ_START
		, A.CHQ_FINISH
		FROM TB_CHECK A
		JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		JOIN TB_CLASS C ON(A.CLS_ID = C.CLS_ID)
		WHERE B.MEMBER_ID = #{ memberId } 
		ORDER BY A.CHQ_NO DESC
	</select>
	
	<select id="selectAllStudentList" resultMap="checkResultMap">
		SELECT
		  A.CHQ_NO
		, B.MEMBER_ID
		, B.MEMBER_NAME
		, C.CLS_ID
		, C.CLS_NAME
		, A.CHQ_DATE
		, A.CHQ_START
		, A.CHQ_FINISH
		FROM TB_CHECK A
		JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		JOIN TB_CLASS C ON(A.CLS_ID = C.CLS_ID)
		WHERE B.MEMBER_ID = #{ memberId } 
		ORDER BY A.CHQ_NO DESC
	</select>

	
	<!-- 강의 목록 조회 -->
	<select id="selectClassList" resultMap="classResultMap">
		SELECT
			CLS_NAME
		FROM TB_CLASS
		WHERE CLS_STATUS = 'Y'
	</select>
	
	<!-- 출결 등록 -->
	<insert id="insertAttList">
		INSERT
			INTO TB_ATTENDANCE
			
	</insert>
	
	
	<!-- 강의 목록 불러오기 -->
	<!-- <select id="getClassList" resultType="com.scon.project.admin.Class.dto.ClassDTO">
			SELECT
		       CLS_ID
		     , CLS_NAME	     
		  FROM TB_CLASS
		WHERE CLS_STATUS = 'Y'
	</select> -->
</mapper>