<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.Class.dao.ClassMapper">

	<resultMap id="classResultMap" type="com.scon.project.admin.Class.dto.ClassDTO">
		<id property="clsId" column="CLS_ID"/>
		<result property="clsName" column="CLS_NAME"/>
		<result property="clsSubject" column="CLS_SUBJECT"/>
		<result property="clsStuNum" column="CLS_STUNUM"/>
		<result property="clsGrade" column="CLS_GRADE"/>
		<result property="clsPay" column="CLS_PAY"/>
		<result property="clsRoom" column="CLS_ROOM"/>
		<result property="clsStart" column="CLS_START"/>
		<result property="clsEnd" column="CLS_END"/>
		<result property="clsNote" column="CLS_NOTE"/>
		<result property="clsStatus" column="CLS_STATUS"/>
		
		
		 <association property="member" resultMap="memberResultMap"/>
		 <!-- 수업요일 -->
		 <collection property="dayList" resultMap="dayResultMap"/>
		 <!--  교시 --> 
		 <collection property="time" resultMap="timeResultMap"/>
	</resultMap>
	
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="GENDER"/>
		<result property="gender" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
	</resultMap>
	
	
	<!-- 요일 checkbox -->
	<resultMap id="dayResultMap" type="com.scon.project.admin.Class.dto.DayDTO">
		<id property="clsDayId" column="CLS_DAY_ID"/>
		<result property="clsDayName" column="CLS_DAY_NAME"/>
	</resultMap>
	
	<!-- 교시 checkbox -->
	<resultMap id="timeResultMap" type="com.scon.project.admin.Class.dto.TimeDTO">
		<id property="clsTimeId" column="CLS_TIME_ID"/>
		<result property="clsTimeName" column="CLS_TIME_NAME"/>
	</resultMap>
	
	
	
	<!-- 강의등록 : [추후수정] 태미님 테이블에서 강사명 JOIN 필요 
		@ 요일과 교시는 강의1개당 여러개를 가져야함	
	--> 
	<insert id="registClass">
		INSERT
		  INTO TB_CLASS
		 (
		 	CLS_ID
		  , MEMBER_ID
		  , CLS_NAME
		  , CLS_SUBJECT
		  , CLS_STUNUM
		  , CLS_GRADE
		  , CLS_PAY
		  , CLS_ROOM
		  , CLS_START
		  , CLS_END
		  , CLS_NOTE
		  , CLS_STATUS
		 )
		 VALUES
		 (
		    CLS_ID.NEXTVAL
		 , #{ member.id }
		 , #{ clsName }
		 , #{ clsSubject }
		 , #{ clsStuNum }
		 , #{ clsGrade }
		 , #{ clsPay }
		 , #{ clsRoom }
		 , #{ clsStart }
		 , #{ clsEnd }
		 , #{ clsNote }
		 , 'N'
		 )
	</insert>
	

	<!-- 강의와요일 -->
	<insert id="insertClsAndDay">
		INSERT
			 INTO TB_CLANDDA
	      (
	      	CLS_ID
	      , CLS_DAY_ID
	      )
	      VALUES
	      (
	      	CLS_ID.CURRVAL
	      , #{ clsDayId }
	      )
	
	</insert>
	
	<!-- 강의와교시 -->
	<insert id="insertClsAndTime">
		INSERT
			 INTO TB_CLANDTI
	      (
	      	CLS_ID
	      , CLS_TIME_ID
	      )
	      VALUES
	      (
	      	CLS_ID.CURRVAL
	      , #{ clsTimeId }
	      )
	
	</insert>
	
	
	<!-- 강의리스트조회 -->
	<!--  JOIN TB_MEMBER : 태미님 테이블 연결할 때 사용 -->
	<select id="selectClassList" resultMap="classResultMap">
		  SELECT
			   A.CLS_ID
		     , A.CLS_SUBJECT
		     , D.MEMBER_NAME 
		     , A.CLS_NAME
		     , A.CLS_START
		 	 , A.CLS_END
		 	 , A.CLS_ROOM
		 FROM TB_CLASS A
		  JOIN TB_MEMBER D ON (A.MEMBER_ID = D.MEMBER_ID)
		 WHERE A.CLS_STATUS = 'N'
		 ORDER BY A.CLS_ID DESC
	</select>
	
	
	<!-- 강의상세조회 : 모달창 -->
	<select id="classDetail" resultMap="classResultMap">
	SELECT
		    A.CLS_ID
		  , B.MEMBER_ID
		  , A.CLS_NAME
		  , A.CLS_SUBJECT
		  , A.CLS_STUNUM
		  , A.CLS_GRADE
		  , A.CLS_PAY
		  , A.CLS_ROOM
		  , A.CLS_START
		  , A.CLS_END
		  , A.CLS_NOTE
		  , A.CLS_STATUS
		  , C.CLS_DAY_ID
		  , D.CLS_TIME_ID
	   FROM TB_CLASS A
	   JOIN TB_MEMBER B ON (A.MEMBER_ID = B.MEMBER_ID)
	   JOIN TB_CLANDDA C ON (C.CLS_ID = A.CLS_ID)
	   JOIN TB_CLANDTI D ON (D.CLS_ID = A.CLS_ID)
	  WHERE A.CLS_STATUS = 'N'
	    AND A.CLS_ID = #{clsId}
	  ORDER BY A.CLS_ID DESC
	</select> 
	
	<!-- 요일조회 -->
	<select id="selectDayList" resultMap="classResultMap">
		SELECT
		      CLS_DAY_ID
		  FROM TB_CLANDDA
		 WHERE CLS_ID = #{ clsId }
	</select>
	
	<!-- rownum : 기본적으로 작성시간으로 입력 -->
	

	<!-- 강의삭제 -->
	<update id="deleteClass">
		UPDATE
			   TB_CLASS
		   SET CLS_STATUS = 'Y'
		 WHERE CLS_ID = #{ clsId }
	</update>
	
	
	<!-- 강의수정 -->
	<update id="classDetailUpdate">
		UPDATE
			  TB_CLASS A
		  SET   A.MEMBER_ID = (SELECT B.MEMBER_ID FROM TB_MEMBER B WHERE B.MEMBER_ID = #{member.id} )
			  , A.CLS_NAME = #{ clsName }
			  , A.CLS_SUBJECT = #{ clsSubject }
			  , A.CLS_STUNUM = #{ clsStuNum }
			  , A.CLS_GRADE = #{ clsGrade }
			  , A.CLS_PAY = #{ clsPay }
			  , A.CLS_ROOM = #{ clsRoom }
			  , A.CLS_START = #{ clsStart }
			  , A.CLS_END = #{ clsEnd }
			  , A.CLS_NOTE = #{ clsNote }
		 WHERE 	A.CLS_ID = #{ clsId }
		   AND  A.CLS_STATUS = 'N'
 	</update>
 	
	
	<!-- 요일수정 -->
	<update id="updateDay">
	UPDATE
		 TB_CLANDDA
	  SET CLS_DAY_ID = #{ clsDayId }
	WHERE CLS_ID = #{ clsId }
	</update>
	
	
	<!-- 교시수정 -->
	<update id="updateTime">
 	UPDATE
 		 TB_CLANDTI
 	  SET CLS_TIME_ID = #{ clsTimeId }
	WHERE CLS_ID = #{ clsId }
	</update>
	
	
	
	
	
</mapper>