<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.consultant.model.dao.ConsultantMapper">

	<resultMap id="consultantResultMap" type="com.scon.project.admin.consultant.model.dto.ConsultantDTO">
		<id property="no" column="CON_NO"></id>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="conWriteDate" column="CON_WRITE_DATE"/>
		<result property="conHDate" column="CON_HDATE"/>
		<result property="conHTime" column="CON_HTIME"/>
		<result property="conHTitle" column="CON_HTITLE"/>
		<result property="conHContent" column="CON_HCONTENT"/>
		<result property="conHUpdate" column="CON_HUPDATE"/>
		<result property="conHDelete" column="CON_HDELETE"/>
		<result property="conHandle" column="CON_HANDLE"/>
		<result property="conDate" column="CON_DATE"/>
		<result property="conType" column="CON_TYPE"/>
		<result property="conWay" column="CON_WAY"/>
		<result property="conImp" column="CON_IMP"/>
		<result property="conContent" column="CON_CONTENT"/>
		<result property="conUpdate" column="CON_UPDATE"/>
		<result property="conDelete" column="CON_DELETE"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="GENDER"/>
		<result property="gender" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
	</resultMap>

	<!-- 상담 신청 내역 조회용 -->
	<select id="selectAllConsultantHopeList" resultMap="consultantResultMap">
		SELECT
			   A.CON_NO
			 , B.MEMBER_NAME
			 , A.CON_WRITE_DATE
			 , A.CON_HTITLE
			 , A.CON_HANDLE
		  FROM TB_CONSULTANT A
		  JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		 WHERE A.CON_HDELETE = 'N'
		 ORDER BY A.CON_NO DESC
	</select>
	
	<!-- 상담 신청 상세 조회용 -->
	<select id="selectConsultantHopeDetail" resultMap="consultantResultMap">
		SELECT
			   A.CON_NO
			 , B.MEMBER_NAME
			 , A.CON_WRITE_DATE
			 , A.CON_HDATE
			 , A.CON_HTIME
			 , A.CON_HTITLE
			 , A.CON_HCONTENT
			 , A.CON_HUPDATE
		  FROM TB_CONSULTANT A
		  JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		 WHERE A.CON_HDELETE = 'N'
		   AND A.CON_NO = #{ no }
	</select>
	
	<!-- 상담 일지 내역 조회용 -->
	<select id="selectAllConsultantList" resultMap="consultantResultMap">
		SELECT
			   A.CON_NO
			 , B.MEMBER_NAME
			 , A.CON_HTITLE
			 , A.CON_DATE
			 , A.CON_IMP
			 , A.CON_CONTENT
		  FROM TB_CONSULTANT A
		  JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		 WHERE CON_DELETE = 'N'
		 ORDER BY A.CON_NO DESC
	</select>
	
	<!-- 상담 일지 등록용 -->
	<update id="insertConsultant">
		UPDATE
			   TB_CONSULTANT
		   SET CON_HANDLE = '완료'
		   	 , CON_DATE = #{ conDate }
		     , CON_TYPE = #{ conType }
		     , CON_WAY = #{ conWay }
		     , CON_IMP = #{ conImp }
		     , CON_CONTENT = #{ conContent }
		 WHERE CON_NO = #{ no }
	</update>
	
	<!-- 상담 일지 상세 조회용 -->
	<select id="selectConsultantDetail" resultMap="consultantResultMap">
		SELECT
			   A.CON_NO
			 , A.CON_HCONTENT
			 , A.CON_DATE
			 , A.CON_TYPE
			 , A.CON_WAY
			 , A.CON_IMP
			 , A.CON_CONTENT
			 , A.CON_UPDATE
			 , B.MEMBER_NAME
		  FROM TB_CONSULTANT A
		  JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		 WHERE CON_DELETE = 'N'
		   AND CON_NO = #{ no }
	</select>

	<!-- 상담 일지 수정용 -->
	<update id="modifyConsultant">
		UPDATE
			   TB_CONSULTANT
		   SET CON_TYPE = #{ conType }
		  	 , CON_WAY = #{ conWay }
		  	 , CON_IMP = #{ conImp }
		  	 , CON_CONTENT = #{ conContent }
		  	 , CON_UPDATE = SYSDATE
		 WHERE CON_NO = #{ no }
	</update>
	
	<!-- 상담 일지 삭제용 -->
	<update id="deleteConsultant">
		UPDATE
			   TB_CONSULTANT
		   SET CON_DELETE = 'Y'
		 WHERE CON_NO = #{ no }
	</update>
	
</mapper>