<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.student.consultant.model.dao.ConsultantHopeMapper">

	<resultMap id="consultantResultMap" type="com.scon.project.admin.consultant.model.dto.ConsultantDTO">
		<id property="no" column="CON_NO"></id>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="conWriteDate" column="CON_WRITE_DATE"/>
		<result property="conHDate" column="CON_HDATE"/>
		<result property="conHTime" column="CON_HTIME"/>
		<result property="conHTitle" column="CON_HTITLE"/>
		<result property="conHContent" column="CON_HCONTENT"/>
		<result property="conHUpdate" column="CON_HUPDATE"/>
		<result property="conHDelete" column="CON_HDELETE"/>
		<result property="conHandle" column="CON_HANDLE"/>
		<result property="conDate" column="CON_DATE"/>
		<result property="conType" column="CON_TYPE"/>
		<result property="conWay" column="CON_WAY"/>
		<result property="conImp" column="CON_IMP"/>
		<result property="conContent" column="CON_CONTENT"/>
		<result property="conUpdate" column="CON_UPDATE"/>
		<result property="conDelete" column="CON_DELETE"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="GENDER"/>
		<result property="gender" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
	</resultMap>
	
	<!-- 상담 신청 내역 조회용 -->
	<select id="selectAllConsultantList" resultMap="consultantResultMap">
		SELECT
		       CON_NO
		     , CON_WRITE_DATE
		     , CON_HTITLE
		     , CON_HCONTENT
		 FROM (SELECT /*+INDEX_DESC(C PK_TB_CONSULTANT)*/
		              ROWNUM AS RNUM
		            , CON_NO
		            , CON_WRITE_DATE
		            , CON_HTITLE
		            , CON_HCONTENT
		         FROM TB_CONSULTANT C
		        WHERE CON_HDELETE = 'N'
				  AND MEMBER_ID = #{ memberId }
				<![CDATA[
		          AND ROWNUM <= #{ pageNo } * #{ limit }
				]]>
				<if test="keyword != null">
					<if test="type == 'title'">
						AND CON_HTITLE LIKE '%' || #{ keyword } || '%'
					</if>
					<if test="type == 'content'">
						AND CON_HCONTENT LIKE '%' || #{ keyword } || '%'	
					</if>
					AND CON_HDELETE = 'N'
				</if>
		  	  )
		<![CDATA[
		WHERE RNUM > (#{ pageNo } - 1) * #{ limit }
		]]>
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id="total" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM TB_CONSULTANT
		 WHERE CON_HDELETE = 'N'
		  AND MEMBER_ID = #{ memberId }
		<if test="keyword != null">
			<if test="type == 'title'">
				AND CON_HTITLE LIKE '%' || #{ keyword } || '%'
			</if>
			<if test="type == 'content'">
				AND CON_HCONTENT LIKE '%' || #{ keyword } || '%'	
			</if>
			AND CON_HDELETE = 'N'
		</if>
	</select>
	
	<!-- 상담 신청 등록용 -->
	<insert id="insertConsultant">
		INSERT
		  INTO TB_CONSULTANT
		(
		  CON_NO
		, MEMBER_ID
		, CON_WRITE_DATE
		, CON_HDATE
		, CON_HTIME
		, CON_HTITLE
		, CON_HCONTENT
		)
		VALUES
		(
		  SEQ_CON_NO.NEXTVAL
		, #{ memberId }
		, SYSDATE
		, #{ conHDate }
		, #{ conHTime }
		, #{ conHTitle }
		, #{ conHContent }
		)
	</insert>
	
	<!-- 상담 신청 상세 조회용 -->
	<select id="selectConsultantDetail" resultMap="consultantResultMap">
		SELECT
			   CON_NO
			 , CON_WRITE_DATE
			 , CON_HDATE
			 , CON_HTIME
			 , CON_HTITLE
			 , CON_HCONTENT
			 , CON_HUPDATE
		  FROM TB_CONSULTANT
		 WHERE CON_HDELETE = 'N'
		   AND CON_NO = #{ no }
	</select>
	
	<!-- 상담 신청 수정용 -->
	<update id="modifyConsultant">
		UPDATE
			   TB_CONSULTANT
		   SET CON_HDATE = #{ conHDate }
		     , CON_HTIME = #{ conHTime }
		     , CON_HTITLE = #{ conHTitle }
		     , CON_HCONTENT = #{ conHContent }
		     , CON_HUPDATE = SYSDATE
		 WHERE CON_NO = #{ no }
	</update>
	
	<!-- 상담 신청 삭제용 -->
	<update id="deleteConsultant">
		UPDATE
			   TB_CONSULTANT
		   SET CON_HDELETE = 'Y'
		 WHERE CON_NO = #{ no }
	</update>

</mapper>