<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.grade.model.dao.GradeMapper">

<!-- grade -->
<resultMap id="gradeResultMap" type="com.scon.project.admin.grade.model.dto.GradeDTO">
	<id property="gradeId" column="GRADE_ID"/>
	<result property="gradeDate" column="GRADE_DATE"/>
	<result property="grade" column="GRADE"/>
	<result property="memberId" column="MEMBER_ID" />
	<result property="clsId" column="CLS_ID"/>
	<result property="clsName" column="CLS_NAME"/>
	<result property="memberName" column="MEMBER_NAME"/>
</resultMap>
<!-- 
<resultMap id="classResultMap" type="com.scon.project.admin.Class.dto.ClassDTO">
	<id property="clsId" column="CLS_ID"/>
	<result property="clsName" column="CLS_NAME"/>
	<result property="clsStuNum" column="CLS_STUNUM"/>
	<result property="clsGrade" column="CLS_GRADE"/>
	<result property="clsPay" column="CLS_PAY"/>
	<result property="clsRoom" column="CLS_ROOM"/>
	<result property="clsStart" column="CLS_START"/>
	<result property="clsEnd" column="CLS_END"/>
	<result property="clsNote" column="CLS_NOTE"/>
	<result property="clsStatus" column="CLS_STATUS"/>
	
 <association property="memberId" resultMap="memberResultMap"/>
</resultMap> -->


<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="GENDER"/>
		<result property="gender" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>		
</resultMap>

		<!--  성적 조회 (gradeList)  -->
		<select id="findAllGrade" resultMap="gradeResultMap">
			SELECT 
			    G.GRADE_ID
			  , G.MEMBER_ID
			  , G.CLS_ID
			  , G.GRADE_DATE
			  , G.GRADE
			  , M.MEMBER_NAME
			  , C.CLS_NAME
			 FROM TB_GRADE G JOIN TB_MEMBER M ON (G.MEMBER_ID = M.MEMBER_ID)
			JOIN TB_CLASS C ON (G.CLS_ID = C.CLS_ID)
			WHERE G.CLS_ID = #{	clsId }
			ORDER BY G.GRADE_DATE DESC
		</select>

			  
		
		<!--  성적 수정 -->
		<update id="updateGrade">
			UPDATE TB_GRADE
			   SET grade = #{grade}
			 WHERE grade_id = #{gradeId}  
		</update>
		
		<!--  성적 입력 학생 조회(insertGrade)  -->
		<select id="findAllStudent" resultMap="gradeResultMap">
			SELECT DISTINCT 
    			G.MEMBER_ID
  			  , G.CLS_ID
  			  , M.MEMBER_NAME
  			FROM TB_GRADE G JOIN TB_MEMBER M ON (G.MEMBER_ID = M.MEMBER_ID)
 			WHERE G.CLS_ID = #{ clsId }
		</select>	 
		
		
		<!--  성적 입력 -->
		<insert id="insertGradeList">
			INSERT
				INTO TB_GRADE
				(
			     GRADE_ID
			   , MEMBER_ID
			   , CLS_ID
			   , GRADE
			   , GRADE_DATE
				)
				VALUES
				(
					SEQ_GRADE.NEXTVAL
				  , #{ memberId }
				  , #{ clsId }
				  , #{ grade }
				  , #{ gradeDate }
				)
		</insert>
	
		
		<!-- 성적 삭제 -->
		<delete id="deleteGrade">
			DELETE FROM TB_GRADE WHERE GRADE_ID = #{gradeId}
		</delete>
		


</mapper>







