<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.member.model.dao.MemberMapper">

	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="password" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="delDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
		
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>		
	</resultMap>

	<resultMap id="memberRoleResultMap" type="com.scon.project.member.model.dto.MemberRoleDTO">
		<id property="memberId" column="REF_MEMBER_ID"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>
		
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap id="authorityResultMap" type="com.scon.project.member.model.dto.AuthorityDTO">
		<id property="code" column="REF_AUTHORITY_CODE2"/>
		<result property="name" column="AUTHORITY_NAME"/>
		<result property="desc" column="AUTHORITY_DESC"/>
	</resultMap>
	
	<resultMap id="fileResultMap" type="com.scon.project.member.model.dto.ProfileDTO">
		<id property="fileId" column="FILE_ID"/>
		<result property="fileOrginName" column="FILE_ORGNAME"/>
		<result property="fileSaveName" column="FILE_SAVENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="fileThumnailPathName" column="FILE_THUM_PATH"/>
		<result property="fileThumnailName" column="FILE_THUM.NAME"/>
	</resultMap>

<sql id="memberColumn">
	A.MEMBER_ID
	, A.MEMBER_NAME
	, A.MEMBER_PWD
	, A.TEMP_PWD_YN
	, A.PHONE
	, A.EMAIL
	, A.BIRTHDAY
	, A.ADDRESS
	, A.GENDER
	, A.ENROLL_DATE
	, A.DEL_DATE
	, A.MEMBER_ST
	, B.MEMBER_ID REF_MEMBER_ID
	, B.AUTHORITY_CODE REF_AUTHORITY_CODE
	, C.AUTHORITY_CODE REF_AUTHORITY_CODE2
	, C.AUTHORITY_NAME
	, C.AUTHORITY_DESC
	FROM TB_MEMBER A
	LEFT JOIN TB_MEMBER_ROLE B ON (A.MEMBER_ID = B.MEMBER_ID)
	LEFT JOIN TB_AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
</sql>  

	<insert id="insertMember">
		INSERT
		  INTO TB_MEMBER
		(
		  MEMBER_ID
		, MEMBER_NAME
		, MEMBER_PWD
		, TEMP_PWD_YN
		, PHONE
		, EMAIL
		, BIRTHDAY
		, ADDRESS
		, GENDER
		, ENROLL_DATE
		, DEL_DATE
		, MEMBER_ST
		)
		VALUES
		(
		  #{ id }
		, #{ name }
		, #{ password }
		, 'Y'
		, #{ phone }
		, #{ email }
		, #{ birthDay }
		, #{ address }
		, #{ gender }
		, #{ enrollDate }
		, #{ delDate }
		, #{ status }
		)
	</insert>
	
	<select id="findIdByName" resultType="String">
		SELECT MEMBER_ID
		  FROM TB_MEMBER
		 WHERE MEMBER_NAME = #{ name }
		   AND EMAIL = #{ email } 
	</select>
	
	<select id="findMemberById" resultMap="memberResultMap">
		SELECT
		<include refid="memberColumn"/>
		 WHERE A.MEMBER_ID = #{ username }
	</select>
	
	<select id="findPwd" resultMap="memberResultMap">
		SELECT 
		<include refid="memberColumn"/>
		WHERE A.MEMBER_ID = #{ id }
		  AND A.MEMBER_NAME = #{ name }
		  AND A.EMAIL = #{ email }	
	</select>
	
		
	<insert id="insertFile">
		INSERT
		  INTO TB_FILE
		  (
		   FILE_ID
	 	 , FILE_ORGNAME
		 , FILE_SAVENAME
		 , FILE_PATH
		 , FILE_TYPE
		 , FILE_THUM_PATH
		 , FILE_THUM_NAME
		  )
		 VALUES(
		 	SEQ_FILE_NO.NEXTVAL
		 , #{ fileOrginName }
		 , #{ fileSaveName }
		 , #{ filePath }
		 , #{ fileType }
		 , null
		 , null
		 )

	</insert>

	<insert id="insertProfile">
		INSERT 
		  INTO TB_PROFILE
		  VALUES 
		  (
		    #{ id }
		  , SEQ_FILE_NO.CURRVAL
		  )
	</insert>
	
	<insert id="insertMemberRole">
		INSERT 
		  INTO TB_MEMBER_ROLE
		  VALUES 
		  (
		    #{ role }
		  , #{ id }
		  )
	</insert>
	
	<select id="checkId" resultType="int">
		SELECT
		       COUNT(*)
		  FROM TB_MEMBER A
		 WHERE A.MEMBER_ID = #{ id }
	</select>
	
	<select id="findAllStudentList" resultMap="memberResultMap">
		SELECT *
		  FROM TB_MEMBER A
		  JOIN TB_MEMBER_ROLE B ON (A.MEMBER_ID = B.MEMBER_ID)
		 WHERE AUTHORITY_CODE = 1
	</select>
	
	<select id="findAllTeacherList" resultMap="memberResultMap">
		SELECT *
		  FROM TB_MEMBER A
		  JOIN TB_MEMBER_ROLE B ON (A.MEMBER_ID = B.MEMBER_ID)
		 WHERE AUTHORITY_CODE = 2
	</select>

	<update id="updateMember">
		UPDATE TB_MEMBER
		   SET MEMBER_NAME = #{ name }
			 , PHONE = #{ phone }
			 , EMAIL = #{ email }
			 , BIRTHDAY = #{ birthDay }
			 , ADDRESS = #{ address }
			 , GENDER = #{ gender }
			 , ENROLL_DATE = #{ enrollDate }
			 , MEMBER_ST = #{ status }
			 , DEL_DATE = #{ delDate }
		WHERE MEMBER_ID = #{ id }	 
	</update>
	
	<update id="updateProfile">
		UPDATE TB_PROFILE
		   SET FILE_ID = SEQ_FILE_NO.CURRVAL
		 WHERE MEMBER_ID= #{ id }     
	</update>
	
	<select id="selectPofileById" resultType="int">
		SELECT COUNT(*)
		  FROM TB_PROFILE
		 WHERE MEMBER_ID = #{ id } 
	</select>
	
	<update id="deleteMember">
		UPDATE TB_MEMBER
		   SET MEMBER_ST = #{ status }
		 	  , DEL_DATE = SYSDATE
		 WHERE MEMBER_ID = #{ id }	  
	</update>
	

</mapper>
