<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.notice.model.dao.NoticeMapper">

	<resultMap id="noticeResultMap" type="com.scon.project.admin.notice.model.dto.NoticeDTO">
		<id property="notiNo" column="NOTI_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="notiTitle" column="NOTI_TITLE"/>
		<result property="notiContent" column="NOTI_CONTENT"/>
		<result property="notiDate" column="NOTI_DATE"/>
		<result property="notiUpdate" column="NOTI_UPDATE"/>
		<result property="notiView" column="NOTI_VIEW"/>
		<result property="notiDelete" column="NOTI_DELETE"/>
	</resultMap>
	
<!-- 공지사항 목록 -->
	<select id="findAllNoticeList" resultMap="noticeResultMap">
		SELECT
		       NOTI_NO
		     , NOTI_TITLE
		     , NOTI_DATE
		     , NOTI_DELETE
		  FROM TB_NOTICE
		 WHERE NOTI_DELETE = 'N'
		 ORDER BY NOTI_NO DESC
	</select>
	
<!-- 공지등록 폼 -->
	<insert id="registNotice">
		INSERT
		  INTO TB_NOTICE
		(
		  NOTI_NO
		, NOTI_TITLE
		, NOTI_CONTENT
		, NOTI_DATE
		, NOTI_DELETE
		)
		VALUES
		(
		  SEQ_NOTI_NO.NEXTVAL
		, #{ notiTitle }
		, #{ notiContent }
		, SYSDATE
		, 'N'
		)
	</insert>
	
	
	<!-- 공지 상세 조회 -->
	<select id="sellectNoticeDetail" resultMap="noticeResultMap">
	SELECT
		   NOTI_NO
		 , NOTI_TITLE
		 , NOTI_CONTENT
		 , NOTI_VIEW
		 , NOTI_DATE
	  FROM TB_NOTICE
	 WHERE NOTI_DELETE = 'N'
	   AND NOTI_NO = #{ idx }	
	</select>

	<!-- 게시글 조회수 증가 -->
	<update id="updateHitCount" parameterType="int">		
			UPDATE
				   TB_NOTICE
			   SET NOTI_VIEW = NOTI_VIEW + 1
			 WHERE NOTI_NO = #{ idx }  		
	</update>
	
<!-- 	
	
		
	private int notiNo;
	private String memberId;
	private int clsId;
	private String notiTitle;
	private String notiContent;
	private Date notiDate;
	private Date notiUpdate;
	private int notiView;
	private String notiDelete; -->



</mapper>