<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.notice.model.dao.NoticeMapper">

	<resultMap id="noticeResultMap" type="com.scon.project.admin.notice.model.dto.NoticeDTO">
		<id property="no" column="NOTI_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="notiTitle" column="NOTI_TITLE"/>
		<result property="notiContent" column="NOTI_CONTENT"/>
		<result property="notiDate" column="NOTI_DATE"/>
		<result property="notiUpdate" column="NOTI_UPDATE"/>
		<result property="notiView" column="NOTI_VIEW"/>
		<result property="notiDelete" column="NOTI_DELETE"/>
		
		<association property="member" resultMap="memberResultMap"></association>
		<collection property="comment" resultMap="noticeCmtResultMap"></collection>
	</resultMap>
	
	<resultMap id="noticeCmtResultMap" type="com.scon.project.admin.notice.model.dto.NoticeCmtDTO">
		<id property="cNo" column="CMT_NO"/>
		<result property="no" column="NOTI_NO"/>
		<result property="cmtPNo" column="CMT_P_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="cmtContent" column="CMT_CONTENT"/>
		<result property="cmtDate" column="CMT_DATE"/>
		<result property="cmtUpdate" column="CMT_UPDATE"/>
		<result property="cmtDelete" column="CMT_DELETE"/>
		
	</resultMap>
	
		<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="gender" column="ADDRESS"/>
		<result property="address" column="GENDER"/>		
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
	</resultMap>
	
	
<!--private int cNo;
	private int bNo;
	private int cmtPNo;
	private String memberId;
	private String cmtContent;
	private Date cmtDate;
	private Date cmtUpdate;
	private String cmtDelete;
	-->
	
	
	
	<!-- 공지사항 목록 + 페이징 -->
<!-- 	<select id="findAllNoticeList" resultMap="noticeResultMap">
		SELECT
		       NOTI_NO
		     , NOTI_TITLE
		     , NOTI_DATE
		     , NOTI_DELETE
		  FROM TB_NOTICE
		 WHERE NOTI_DELETE = 'N'
		 ORDER BY NOTI_NO DESC
	</select>	 -->
	
	<select id="findAllNoticeList" resultMap="noticeResultMap">
		SELECT
		       NOTI_NO
		     , NOTI_TITLE
		     , NOTI_DATE
		     , NOTI_VIEW
		 FROM (SELECT /*+INDEX_DESC(N PK_TB_NOTICE)*/
		 	  		  ROWNUM AS RNUM
		 	  		, NOTI_NO
				    , NOTI_TITLE
				    , NOTI_DATE
				    , NOTI_VIEW
		 		 FROM TB_NOTICE N
		 		WHERE NOTI_DELETE = 'N'
		 		<![CDATA[
			          AND ROWNUM <= #{ pageNo } * #{ limit }
					]]>
			  		<if test="keyword != null">
			  		  AND NOTI_TITLE LIKE '%' || #{ keyword } || '%'
			  		</if>
			  	  )
		<![CDATA[
			WHERE RNUM > (#{ pageNo } - 1) * #{ limit }
		]]>
	</select>

	<!-- 게시물 총 갯수 -->
	<select id="total" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM TB_NOTICE
		 WHERE NOTI_DELETE = 'N'
		 <if test="keyword != null">
		   AND NOTI_TITLE LIKE '%' || #{ keyword } || '%'
		 </if>
	</select>

	

	<!-- 공지등록 폼 -->
	<insert id="registNotice">
		INSERT
		  INTO TB_NOTICE
		(
		  NOTI_NO
		, NOTI_TITLE
		, NOTI_CONTENT
		, NOTI_DATE
		, NOTI_VIEW
		, NOTI_DELETE		
		)
		VALUES
		(
		  SEQ_NOTI_NO.NEXTVAL
		, #{ notiTitle }
		, #{ notiContent }
		, SYSDATE
		, '0'
		, 'N'
		)
	</insert>	
	
	<!-- 공지 상세 조회 -->
	<select id="sellectNoticeDetail" resultMap="noticeResultMap">
	SELECT
		   NOTI_NO
		 , NOTI_TITLE
		 , NOTI_CONTENT
		 , NOTI_VIEW
		 , NOTI_DATE
	  FROM TB_NOTICE
	 WHERE NOTI_DELETE = 'N'
	   AND NOTI_NO = #{ no }	
	</select>	
	
	<!-- 게시글 조회수 증가 -->
	<update id="updateHitCount" parameterType="int" >		
			UPDATE
				   TB_NOTICE
			   SET NOTI_VIEW = NOTI_VIEW + 1
			 WHERE NOTI_NO = #{ no }  		
	</update>	

  	<!-- 게시글 수정등록 -->
	<update id="modifyNotice">
		UPDATE 
			   TB_NOTICE
		   SET NOTI_TITLE = #{ notiTitle }
			 , NOTI_CONTENT	= #{ notiContent }
			 , NOTI_UPDATE = SYSDATE
		 WHERE NOTI_NO = #{ no }
	</update>		
		
	<!-- 게시글 삭제 -->
 	<update id="deleteNotice">
		UPDATE
		  	   TB_NOTICE
		   SET NOTI_DELETE = 'Y'
		   	 , NOTI_UPDATE = SYSDATE
		 WHERE NOTI_NO = #{ no }
	</update> 
	
	
	
<!--                 댓글                             -->	
		<!-- 댓글 조회 -->
<!-- 	<select id="readCmt" resultMap="noticeCmtResultMap">
		SELECT
			   CMT_NO
			 , CMT_CONTENT
			 , MEMBER_ID
			 , CMT_DATE
		  FROM TB_COMMENT	 
	 	 WHERE CMT_DELETE = 'N'
	 	   AND NOTI_NO = #{ no }
	 	 ORDER BY CMT_NO ASC
	</select> -->
	
	<select id="readCmt" resultMap="noticeCmtResultMap">
	SELECT 
			A.CMT_NO
		  , B.NOTI_NO
		  , A.CMT_CONTENT
		  , C.MEMBER_ID
	 	  , A.CMT_DATE
	 	  , A.CMT_DELETE
	   FROM TB_COMMENT A 
	   JOIN TB_NOTICE B ON(A.NOTI_NO = B.NOTI_NO)
	   JOIN TB_MEMBER C ON (A.MEMBER_ID = C.MEMBER_ID)
	  WHERE A.CMT_DELETE = 'N'
	 	AND B.NOTI_NO = #{ no }
	  ORDER BY A.CMT_NO ASC
	 </select>
		
		
	
	
	
	
	
	<!-- 댓글 작성 -->
	<insert id="registCmt" >
		INSERT
		  INTO TB_COMMENT
		(
  	      CMT_NO
        , NOTI_NO
        , MEMBER_ID
        , CMT_CONTENT
        , CMT_DATE
        , CMT_DELETE
        )
   VALUES 
   		( 
          SEQ_CMT_NO.NEXTVAL
		, #{ no }
		, #{ memberId }
		, #{ cmtContent }
		, SYSDATE
		, 'N'
		)
	</insert>
	
	<!-- 댓글 수정등록 -->
 	<update id="modifyCmt">
		UPDATE 
			   TB_COMMENT
		   SET CMT_CONTENT = #{ cmtContent }
			 , CMT_UPDATE = SYSDATE
		 WHERE NOTI_NO = #{ no }
		   AND CMT_NO = #{cNo}
	</update>
	
	<!-- 댓글 삭제 -->
 	<update id="deleteCmt">
       UPDATE
		  	   TB_COMMENT
		   SET CMT_DELETE = 'Y'
		   	 , CMT_UPDATE = SYSDATE
		 WHERE CMT_NO = #{cNo}
	</update> 


	
	
<!-- 	
	NOTI_NO
NOTI_TITLE
NOTI_CONTENT
NOTI_DATE
NOTI_UPDATE
NOTI_VIEW
NOTI_DELETE
	
	
		
	private int no;
	private String memberId;
	private int clsId;
	private String notiTitle;
	private String notiContent;
	private Date notiDate;
	private Date notiUpdate;
	private int notiView;
	private String notiDelete; -->



</mapper>