<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.student.lecture.model.dao.StudentLectureMapper">

	<resultMap id="lectureResultMap" type="com.scon.project.admin.lecture.model.dto.LectureDTO">
		<id property="no" column="LEC_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="lecPay" column="LEC_PAY"/>
		<result property="lecStatus" column="LEC_STATUS"/>
		<result property="lecDiscount" column="LEC_DISCOUNT"/>
		<result property="lecDelete" column="LEC_DELETE"/>
		<result property="accStatus" column="ACC_STATUS"/>
		<result property="accDate" column="ACC_DATE"/>
		<result property="accOption" column="ACC_OPTION"/>
		
		<association property="member" resultMap="memberResultMap"/>
		<association property="cls" resultMap="classResultMap"/>
		<association property="ref" resultMap="refundResultMap"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="GENDER"/>
		<result property="gender" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
	</resultMap>
	
	<resultMap id="classResultMap" type="com.scon.project.admin.Class.dto.ClassDTO">
		<id property="clsId" column="CLS_ID"/>
		<result property="clsName" column="CLS_NAME"/>
		<result property="clsSubject" column="CLS_SUBJECT"/>
		<result property="clsStuNum" column="CLS_STUNUM"/>
		<result property="clsGrade" column="CLS_GRADE"/>
		<result property="clsPay" column="CLS_PAY"/>
		<result property="clsRoom" column="CLS_ROOM"/>
		<result property="clsStart" column="CLS_START"/>
		<result property="clsEnd" column="CLS_END"/>
		<result property="clsNote" column="CLS_NOTE"/>
		<result property="clsStatus" column="CLS_STATUS"/>
		
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap id="refundResultMap" type="com.scon.project.admin.lecture.model.dto.RefundDTO">
		<id property="no" column="REF_NO"/>
		<result property="lecNo" column="LEC_NO"/>
		<result property="refPay" column="REF_PAY"/>
		<result property="refDate" column="REF_DATE"/>
		<result property="refContent" column="REF_CONTENT"/>
	</resultMap>
	
	<!-- 수강 내역 조회용 -->
	<select id="selectAllLectureList" resultMap="lectureResultMap">
		SELECT
		       RNUM
		     , E.LEC_NO
             , E.LEC_PAY
             , E.LEC_STATUS
             , E.ACC_STATUS
             , E.ACC_DATE
             , E.ACC_OPTION
             , E.MEMBER_ID
             , E.MEMBER_NAME
             , E.CLS_ID
			 , E.CLS_NAME
			 , E.CLS_PAY
			 , E.CLS_START
			 , E.CLS_END
			 , E.REF_NO
			 , E.REF_PAY
			 , E.REF_DATE
			 , E.REF_CONTENT
		  FROM (SELECT
		               ROWNUM AS RNUM
		             , D.LEC_NO
		             , D.LEC_PAY
		             , D.LEC_STATUS
		             , D.ACC_STATUS
		             , D.ACC_DATE
		             , D.ACC_OPTION
		             , D.MEMBER_ID
		             , D.MEMBER_NAME
                     , D.CLS_ID
					 , D.CLS_NAME
					 , D.CLS_PAY
					 , D.CLS_START
					 , D.CLS_END
					 , D.REF_NO
					 , D.REF_PAY
					 , D.REF_DATE
					 , D.REF_CONTENT
		          FROM (SELECT 
		                       A.LEC_NO
		                     , A.LEC_PAY
		                     , A.LEC_STATUS
		                     , A.ACC_STATUS
		                     , A.ACC_DATE
		                     , A.ACC_OPTION
				             , A.MEMBER_ID
		                     , B.MEMBER_NAME
		                     , C.CLS_ID
							 , C.CLS_NAME
							 , C.CLS_PAY
							 , C.CLS_START
							 , C.CLS_END
							 , F.REF_NO
							 , F.REF_PAY
							 , F.REF_DATE
							 , F.REF_CONTENT
		                  FROM TB_LECTURE A
		                  JOIN TB_MEMBER B ON(A.MEMBER_ID = B.MEMBER_ID)
		                  JOIN TB_CLASS C ON(A.CLS_ID = C.CLS_ID)
		                  LEFT JOIN TB_REFUND F ON(A.LEC_NO = F.LEC_NO)
		                 WHERE A.LEC_DELETE = 'N'
		                   AND A.MEMBER_ID = #{ memberId }
						<if test="keyword != null">
							<if test="type == 'lecStatus'">
								AND A.LEC_STATUS LIKE '%' || #{ keyword } || '%'	
							</if>
							<if test="type == 'accOption'">
								AND A.ACC_OPTION LIKE '%' || #{ keyword } || '%'	
							</if>
							<if test="type == 'accStatus'">
								AND A.ACC_STATUS LIKE '%' || #{ keyword } || '%'	
							</if>
						</if>
		                 ORDER BY A.LEC_NO DESC
		               ) D
			 <![CDATA[
				 WHERE ROWNUM <= #{ pageNo } * #{ limit }
			 ]]>
		      ) E
	<![CDATA[
		WHERE RNUM > (#{ pageNo } - 1) * #{ limit }
	]]>
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id="total" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM TB_LECTURE A
		 WHERE LEC_DELETE = 'N'
		   AND MEMBER_ID = #{ memberId }
		 <if test="keyword != null">
			<if test="type == 'lecStatus'">
				AND A.LEC_STATUS LIKE '%' || #{ keyword } || '%'	
			</if>
			<if test="type == 'accOption'">
				AND A.ACC_OPTION LIKE '%' || #{ keyword } || '%'	
			</if>
			<if test="type == 'accStatus'">
				AND A.ACC_STATUS LIKE '%' || #{ keyword } || '%'	
			</if>
		</if>
	</select>

</mapper>