<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.student.model.dao.StudentMapper">

	<resultMap id="studentResultMap" type="com.scon.project.admin.student.model.dto.StudentDTO">
		<id property="id" column="REF_MEMBER_ID2"/>
		<result property="studentType" column="STUDENT_TYPE"/>
		<result property="schoolName" column="SCHOOL_NAME"/>
		<result property="schoolGrade" column="SCHOOL_GRADE"/>
		<result property="schoolClass" column="SCHOOL_CLASS"/>
		<result property="consult" column="CONSULT"/>
		
		<association property="member" resultMap="memberResultMap"/> <!-- 회원 기본정보  -->
		<association property="profile" resultMap="profileResultMap"/> <!-- 프로필 사진 -->
		<association property="parents" resultMap="parentsResultMap"/> <!-- 학부모 정보 -->
		
	</resultMap>
	
	<resultMap id="memberResultMap" type="com.scon.project.member.model.dto.MemberDTO">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="password" column="MEMBER_PWD"/>
		<result property="tempPwdYN" column="TEMP_PWD_YN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="address" column="GENDER"/>
		<result property="gender" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DEL_DATE"/>
		<result property="status" column="MEMBER_ST"/>
		
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
		
	</resultMap>

	<resultMap id="memberRoleResultMap" type="com.scon.project.member.model.dto.MemberRoleDTO">
		<id property="memberId" column="REF_MEMBER_ID"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>
		
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap id="authorityResultMap" type="com.scon.project.member.model.dto.AuthorityDTO">
		<id property="code" column="REF_AUTHORITY_CODE2"/>
		<result property="name" column="AUTHORITY_NAME"/>
		<result property="desc" column="AUTHORITY_DESC"/>
	</resultMap>
	

	<resultMap id="fileResultMap" type="com.scon.project.member.model.dto.AuthorityDTO">
		<id property="fileId" column="FILE_ID"/>
		<result property="fileOrginName" column="FILE_ORGNAME"/>
		<result property="fileSaveName" column="FILE_SAVENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="fileThumnailPathName" column="FILE_THUM_PATH"/>
		<result property="fileThumnailName" column="FILE_THUM.NAME"/>
	</resultMap>
	
	<resultMap id="parentsResultMap" type="com.scon.project.admin.student.model.dto.ParentsDTO">
		<id property="id" column="REF_MEMBER_ID3"/>
		<result property="parentsType" column="PARENTS_TYPE"/>
		<result property="parentsName" column="PARENTS_NAME"/>
		<result property="parentsPhone" column="PHONE"/>
	</resultMap>
	

	<insert id="insertStudent">
		INSERT
		  INTO TB_STUDENT
		(
		  MEMBER_ID
		, STUDENT_TYPE
		, SCHOOL_NAME
		, SCHOOL_GRADE
		, SCHOOL_CLASS
		, CONSULT
		)
		VALUES
		(
		  #{ id }
		, #{ studentType }
		, #{ schoolName }
		, #{ schoolGrade }
		, #{ schoolClass }
		, #{ consult }
		)
	</insert>
	
	<insert id="insertParents">
		INSERT
		  INTO TB_PARENTS
		(
		  MEMBER_ID
		, PARENTS_TYPE
		, PARENTS_NAME
		, PHONE
		)
		VALUES
		(
		  #{ id }
		, #{ parentsType }
		, #{ parentsName }
		, #{ parentsPhone }
		)
	</insert>
	
	
	<select id="findMemberById" resultMap="memberResultMap">
		SELECT
		       A.MEMBER_ID
		     , A.MEMBER_NAME  
		     , A.MEMBER_PWD
		     , A.TEMP_PWD_YN
		     , A.PHONE
		     , A.EMAIL
		     , A.BIRTHDAY
		     , A.ADDRESS
		     , A.GENDER
		     , A.ENROLL_DATE
		     , A.DEL_DATE
		     , A.MEMBER_ST
		     , B.MEMBER_ID REF_MEMBER_ID
		     , B.AUTHORITY_CODE REF_AUTHORITY_CODE
		     , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
		     , C.AUTHORITY_NAME
		     , C.AUTHORITY_DESC
		  FROM TB_MEMBER A
		  LEFT JOIN TB_MEMBER_ROLE B ON (A.MEMBER_ID = B.MEMBER_ID)
		  LEFT JOIN TB_AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)  
		 WHERE A.MEMBER_ID = #{ username }
	</select>
	
	
	<select id="findStudentById" resultMap="studentResultMap">
		SELECT
		       A.MEMBER_ID
		     , A.MEMBER_NAME  
		     , A.MEMBER_PWD
		     , A.TEMP_PWD_YN
		     , A.PHONE
		     , A.EMAIL
		     , A.BIRTHDAY
		     , A.ADDRESS
		     , A.GENDER
		     , A.ENROLL_DATE
		     , A.DEL_DATE
		     , A.MEMBER_ST
		     , B.MEMBER_ID REF_MEMBER_ID
		     , B.AUTHORITY_CODE REF_AUTHORITY_CODE
		     , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
		     , C.AUTHORITY_NAME
		     , C.AUTHORITY_DESC
		     , S.MEMBER_ID
			 , S.STUDENT_TYPE REF_MEMBER_ID2
			 , S.SCHOOL_NAME
			 , S.SCHOOL_GRADE
			 , S.SCHOOL_CLASS
			 , S.CONSULT
			 , D.MEMBER_ID REF_MEMBER_ID3
			 , D.PARENTS_TYPE
			 , D.PARENTS_NAME
			 , D.PHONE
			 , P.MEMBER_ID REF_MEMBER_ID4
			 , F.FILE_ID
			 , F.FILE_ORGNAME
			 , F.FILE_SAVENAME
			 , F.FILE_PATH
			 , F.FILE_TYPE
			 , F.FILE_THUM_PATH
			 , F.FILE_THUM_NAME
		  FROM TB_MEMBER A
		  LEFT JOIN TB_MEMBER_ROLE B ON (A.MEMBER_ID = B.MEMBER_ID)
		  LEFT JOIN TB_AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE) 
		  LEFT JOIN TB_STUDENT S ON (A.MEMBER_ID = S.MEMBER_ID)
		  LEFT JOIN TB_PARENTS D ON (A.MEMBER_ID = D.MEMBER_ID) 
		  LEFT JOIN TB_PROFILE P ON (A.MEMBER_ID = P.MEMBER_ID) 
		  LEFT JOIN TB_FILE F ON (P.FILE_ID = F.FILE_ID) 
		 WHERE A.MEMBER_ID = #{ username }
	</select>
	
	
	<insert id="insertFile">
	
		INSERT
		  INTO TB_FILE
		  (
		   FILE_ID
	 	 , FILE_ORGNAME
		 , FILE_SAVENAME
		 , FILE_PATH
		 , FILE_TYPE
		 , FILE_THUM_PATH
		 , FILE_THUM_NAME
		  )
		 VALUES(
		 	SEQ_FILE_NO.NEXTVAL
		 , #{ fileOrginName }
		 , #{ fileSaveName }
		 , #{ filePath }
		 , #{ fileType }
		 , null
		 , null
		 )
	</insert>

	<insert id="insertProfile">
	
	<selectKey keyProperty="fileNo" order="BEFORE" resultType="long">
		SELECT LAST_NUMBER
		  FROM USER_SEQUENCES
		 WHERE SEQUENCE_NAME = 'SEQ_FILE_NO'
	</selectKey>	

		INSERT 
		  INTO TB_PROFILE
		  VALUES 
		  (
		    #{ id }
		  , #{ fileNo }
		  )
	
	</insert>
	


</mapper>
