<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scon.project.admin.taskBoard.model.dao.TaskBoardMapper">


<resultMap id="taskBoardResultMap" type="com.scon.project.admin.taskBoard.model.dto.TaskBoardDTO">
	<id property="taskId" column="TASK_ID"/>
	<result property="taskTitle" column="TASK_TITLE"/>
	<result property="taskContent" column="TASK_CONTENT"/>
	<result property="taskDate" column="TASK_DATE"/>
	<result property="taskUpdate" column="TASK_UPDATE"/>
	<result property="taskDelete" column="TASK_DELETE"/>
	<result property="taskView" column="TASK_VIEW"/>
	<result property="memberId" column="MEMBER_ID"/>
	<result property="clsId" column="CLS_ID"/>
	<result property="memberName" column="MEMBER_NAME"/>
	
	<collection property="fileList" resultMap="taskFileResultMap"/>
</resultMap>

<resultMap id="fileResultMap" type="com.scon.project.admin.taskBoard.model.dto.FileDTO">
		<id property="fileId" column="FILE_ID"/>
		<result property="fileOrginName" column="FILE_ORGNAME"/>
		<result property="fileSaveName" column="FILE_SAVENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileType" column="FILE_TYPE"/>
</resultMap>

<resultMap id="taskFileResultMap" type="com.scon.project.admin.taskBoard.model.dto.TaskFileDTO">
	<result property="taskId" column="TASK_ID" />
	<result property="fileId" column="FILE_ID"/>
</resultMap>



<!-- 검색 조건 -->
	<sql id="criteria">
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 't'.toString()">
                            CON_HTITLE LIKE '%' || #{ keyword } || '%' 
                        </when>
                        <when test="type == 'c'.toString()">
                            CON_HCONTENT LIKE '%' || #{ keyword } || '%' 
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

	<!--  과제 게시판 목록 조회 -->
		<select id="findAllTask" resultMap="taskBoardResultMap">
			SELECT
				D.TASK_ID
			  , D.MEMBER_ID
			  , D.CLS_ID
			  , D.TASK_TITLE
			  , D.TASK_CONTENT
			  , D.TASK_DATE
			  , D.TASK_VIEW
			  , D.MEMBER_NAME
			FROM ( SELECT 
					  ROWNUM AS NUM,
					  C.TASK_ID
				  	  , C.MEMBER_ID
				  	  , C.CLS_ID
					  , C.TASK_TITLE
					  , C.TASK_CONTENT
					  , C.TASK_DATE
					  , C.TASK_VIEW
				  	  , C.MEMBER_NAME
				FROM (SELECT
							T.TASK_ID
				  		  , T.MEMBER_ID
				  		  , T.CLS_ID
				  		  , T.TASK_TITLE
				  		  , T.TASK_CONTENT
				  		  , T.TASK_DATE
				  		  , T.TASK_VIEW
				  		  , M.MEMBER_NAME
						FROM TB_TASK T
						JOIN TB_MEMBER M ON(T.MEMBER_ID = M.MEMBER_ID)
						WHERE T.CLS_ID = #{ taskBoard.clsId }
						AND T.TASK_DELETE = 'N' 	
			  	<if test="taskBoard.keyword != null">
			  		AND T.TASK_TITLE LIKE '%' || #{ taskBoard.keyword } || '%'
			  	</if>
		          ORDER BY T.TASK_ID DESC
		         ) C
		<![CDATA[
				 WHERE ROWNUM <= #{ cri.pageNo } * #{ cri.limit }
			 ]]>
			 ) D
		<![CDATA[
			WHERE NUM > (#{ cri.pageNo } - 1) * #{ cri.limit }
		]]>
		</select>
		
		<!-- 게시물 총 갯수 -->
		<select id="total" resultType="_int">
				SELECT
					   COUNT(*)
				  FROM TB_TASK
				 WHERE TASK_DELETE = 'N'
				 <if test="keyword != null">
				   AND TASK_TITLE LIKE '%' || #{ keyword } || '%'
				 </if>
		</select>


	<!-- 과제 게시판 게시글 입력  -->
 	<insert id="insertTask">
		INSERT
			INTO TB_TASK
			(
				TASK_ID
			  , MEMBER_ID
			  , CLS_ID
			  , TASK_TITLE
			  , TASK_CONTENT
			  , TASK_DATE
			)
			VALUES
			(
				SEQ_TASK_NO.NEXTVAL
			  , #{ memberId }
			  , #{ clsId }              
			  , #{ taskTitle }
			  , #{ taskContent }
			  , SYSDATE
			) 
	</insert> 
	
	
	<insert id="insertFile">
	INSERT
		  INTO TB_FILE
		  (
		   FILE_ID
	 	 , FILE_ORGNAME
		 , FILE_SAVENAME
		 , FILE_PATH
		 , FILE_TYPE
		  )
		 VALUES(
		 	SEQ_FILE_NO.NEXTVAL
		 , #{ fileOrginName }
		 , #{ fileSaveName }
		 , #{ filePath }
		 , #{ fileType }
		 )
	</insert> 
	
	
  	<insert id="insertTaskFileTB">
		INSERT 
		  INTO TB_TASK_FILE
		  (
		  	TASK_ID
		  , FILE_ID
		  )
		  VALUES 
		  (
		    SEQ_TASK_NO.CURRVAL
		  , SEQ_FILE_NO.CURRVAL
		  )
	</insert>
	<!--               -->
	
	<!-- 과제 게시판 게시글 상세 조회 -->
	<select id="findDetail" resultMap="taskBoardResultMap">
  	SELECT *
  	 FROM TB_TASK T
   	JOIN TB_MEMBER M ON (T.MEMBER_ID = M.MEMBER_ID)
    JOIN TB_TASK_FILE TF ON(T.TASK_ID = TF.TASK_ID)
    JOIN TB_FILE F ON(TF.FILE_ID = F.FILE_ID)
  	WHERE T.TASK_DELETE = 'N'
  	AND T.TASK_ID = #{ taskId }
	</select> 
	
	<!--  과제 게시판 게시글 상세 조회 (파일) -->
	<select id="findFiles" resultMap="fileResultMap" resultType="list">
		SELECT
		    T.TASK_ID,
		    T.FILE_ID,
		    F.FILE_ORGNAME,
		    F.FILE_SAVENAME,
		    F.FILE_PATH,
		    F.FILE_TYPE
		    FROM TB_TASK_FILE T
		    JOIN TB_FILE F ON(T.FILE_ID = F.FILE_ID)
		    WHERE T.TASK_ID = #{ taskId }
	</select> 

	<!-- 과제 게시판 게시글 삭제 -->
	<update id="deleteBoard">
		UPDATE 
			TB_TASK 
		SET TASK_DELETE = 'Y' 
		WHERE TASK_ID = #{ taskId }
	</update>
	
	<!-- 게시글 수정 전 상세 조회 -->
	<select id="findModifyTask" resultMap="taskBoardResultMap" resultType="list">
  	SELECT *
  	 FROM TB_TASK T
   	JOIN TB_MEMBER M ON (T.MEMBER_ID = M.MEMBER_ID)
    JOIN TB_TASK_FILE TF ON(T.TASK_ID = TF.TASK_ID)
    JOIN TB_FILE F ON(TF.FILE_ID = F.FILE_ID)
  	WHERE T.TASK_DELETE = 'N'
  	AND T.TASK_ID = #{ taskId }
	</select> 
	
	<!--  게시글 수정 전 상세 조회 (파일) -->
	<select id="findModifyfiles" resultMap="fileResultMap" resultType="list">
		SELECT
		    T.TASK_ID,
		    T.FILE_ID,
		    F.FILE_ORGNAME,
		    F.FILE_SAVENAME,
		    F.FILE_PATH,
		    F.FILE_TYPE
		    FROM TB_TASK_FILE T
		    JOIN TB_FILE F ON(T.FILE_ID = F.FILE_ID)
		    WHERE T.TASK_ID = #{ taskId }
	</select> 

	<!-- 게시글 수정  -->
		<!-- 1. 파일 업데이트 -->
		<insert id="modifyFiles">
		 UPDATE TB_FILE
		 	SET FILE_ORGNAME = #{ fileOrginName },
		 		FILE_SAVENAME = #{ fileSaveName },
		 		FILE_PATH = #{ filePath },
		 		FILE_TYPE =#{ fileType }
		 	WHERE FILE_ID = #{ fileId }
		</insert>

		<!-- 2. 컨텐츠 업데이트 -->
		<update id="modifyTask">
			UPDATE TB_TASK
			 SET TASK_TITLE = #{ taskTitle },
				 TASK_CONTENT = #{ taskContent }
			WHERE TASK_ID = #{ taskId }
		</update>
	<!--  -->
	
	<!-- 조회수 올리기 -->
	<update id="updateView">
		UPDATE TB_TASK
		SET TASK_VIEW = TASK_VIEW + 1
			WHERE TASK_ID = #{ taskId }
	</update>  

</mapper>