<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공지사항</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    
    <script>
	const successMessage = '[[${successMessage}]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
    
    <style>
    .notiCheck { width: 1rem; }
    .notiNo { width : 4rem; }
    .notiWriter, .notiDate, .notiviewCount { width : 8rem; }
    .notiTitle { width : auto; }
    
    /* 공지 제목 */
    .notiTitleDetail { 
        color: #858796; 
    }
    .notiTitleDetail:link { 
        text-decoration: none;
    }
    .notiTitleDetail:visited { 
        text-decoration: none;
    }
    .notiTitleDetail:hover { 
        text-decoration: underline;
        color: #8B169E;
    }

    /* 페이지네이션 */
    .page-item:first-child .page-link {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .pagination {
        justify-content: center;
    }
    .page-link {
        padding: 5px 12px;
    }

    /* 모달창 버튼 */
    .btn-secondary:hover {
        border-color: #D4D4D4;
        background-color: #D4D4D4 !important;
    }

    .btn-secondary:focus {
        box-shadow: none !important;
        border-color: #D4D4D4 !important;
        background-color: #D4D4D4 !important;
    }
    .btn-primary:hover {
        border-color: #651c70;
        background-color: #651c70 !important;
    }

    .btn-primary:focus {
        box-shadow: none !important;
        border-color: #651c70 !important;
        /* background-color: #8B169E !important; */
    }



    </style>


</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
    <!-- 사이드바 -->
	<div th:replace="/common/adminSidebar.html"></div> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
            <!-- 탑바 -->
                <div th:replace="/common/adminTopbar.html"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">공지사항</h1>                        
                    </div>
                    <hr class="border-bottom-primary">

                    <!-- 공지사항 테이블 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">공지사항 조회</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive"> 
                            <form action="/admin/notiDelete" method="post" id="notiSubmitForm" enctype="multipart/form-data">
                            <input type="hidden" value="${ notice.no }" name="no"/>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <!-- 테이블 제목 -->
                                    <thead>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <th class="notiNo">NO</th>
                                            <th class="notiTitle">제목</th>
                                            <th class="notiWriter">작성자</th>
                                            <th class="notiDate">작성일</th>
                                            <th class="notiviewCount">조회수</th>
                                        </tr>
                                    </thead>
                                    <!-- 테이블 내용 -->
                                    <tbody>
                                        <tr th:each="notice : ${ noticeList }">
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" th:value="${ notice.no }" id="flexCheckDefault" name="flexCheckDefaultRow">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td th:text="${ notice.no }"></td>
                                            <td>
                                            	<a class="notiTitleDetail" 
                                            		th:href="@{/admin/notiDetail(no=${notice.no})}">[[${notice.notiTitle}]]</a>
                                            </td>
                                            <td>관리자</td>
                                            <td th:text="${ notice.notiDate }"></td>
                                            <td th:text="${ notice.notiView }"></td>
                                        </tr>
                                        <tr>
                                    </tbody>
                                </table>
                                </form>
                            </div>

							<!-- 페이징 -->
                            <nav aria-label="Page navigation">
								<div class="pageInfo_area">
									<ul id="pageInfo" class="pageInfo pagination mt-1 mb-0">
									
										<!-- 첫 페이지 이동 -->
										<!-- 첫 번째 블럭이면 안 보이게 조건 걸기 -->
										<li class="page-item">
											<a th:if="${ page.startPage > 1 }" th:href="@{/admin/notiTables/?pageNo=1}" th:text="'<<'" class="page-link"></a>
										</li>

										<!-- 이전 페이지 버튼 -->
										<li th:if="${ page.prev }" class="page-item">
											<a th:href="@{/admin/notiTables(pageNo=${page.startPage - 1})}" th:text="'<'" class="page-link"></a>
										</li>
										
										<!-- 각 번호 페이지 버튼 -->
										<th:block th:with="start = ${ page.startPage }, end = ${ page.endPage }">
											<li th:each="num : ${ #numbers.sequence(start, end) }" class="pageInfo_btn page-item">
												<a th:if="${ page.cri.pageNo == num }" th:text="${ num }" class="page-link" disabled></a>
												<a th:if="${ page.cri.pageNo != num }" th:href="@{/admin/notiTables(pageNo=${num})}" th:text="${ num }" class="page-link"></a>
											</li>
										</th:block>
										
										<!-- 다음 페이지 버튼 -->
										<li th:if="${ page.next }" class="page-item">
											<a th:href="@{/admin/notiTables(pageNo=${page.endPage + 1})}" th:text="'>'" class="page-link"></a>
										</li>
										
										<!-- 마지막 페이지 이동 -->
										<li class="page-item">
									    	<a th:if="${ page.cri.pageNo == page.maxPage }" th:text="'>>'" class="page-link d-none" disabled></a>
									    	<a th:if="${ page.cri.pageNo != page.maxPage }" th:href="@{/admin/notiTables(pageNo=${page.maxPage})}" th:text="'>>'" class="page-link"></a>
									    </li>
							    
									</ul>
								</div>
							</nav>
					<!-- 페이징 끝	 -->
					
							<!-- 하단 버튼 박스 -->
                            <div class="row buttonbox">
                                <button class="resetbuttonbox col-1 w-10 btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteModal" type="delete">삭제</button>
                                <a class="submitbuttonbox col-1 w-10 btn btn-primary btn-sm" type="button" th:href="@{/admin/notiForm}">등록</a>
                            </div>

                        </div>
                    </div>
                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- 삭제 확인 Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">삭제하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">삭제하시려면 확인버튼을 눌러주세요.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <button class="btn btn-primary" id="submitBtn" type="button" data-dismiss="modal" 
                    		onclick="notiDeleteClick()">확인</button>
                </div>
            </div>
        </div>
    </div>
    
	<script type='text/javascript'>
	// 체크박스 선택 후 삭제 버튼 클릭시 이벤트 
/* 	function notiDeleteClick(){
	  var no = []; 
	  $("input:checkbox[name='flexCheckDefaultRow']:checked").each(function() {
	  no.push($(this).val());     // 체크된 것만 값을 뽑아서 배열에 push
	  console.log(no);
	});
		
	  if(no == ""){
			alert("삭제할 항목을 선택해주세요.");
			return false;
	  } else {
			  $.ajax({
			      type  : "POST",
			      url    : "/admin/notiDelete",
			      data: {
			      no : no       // folder seq 값을 가지고 있음.
			      },
			      success: function(result){
			    	  alert("해당글이 정상적으로 삭제되었습니다.");
			    	  console.log(result);
			    	  location.href="/admin/notiTables"
			      },
			      error: function(request, status, error) {
			      	alert("삭제에 실패하였습니다.");
			      }  
			   });
	  }
	} 
	
	컨트롤러부터 다중 삭제 되는 걸로 새로 작성 해야함..ㅠㅠ
	
	 */
	
	// 확인 누르면 글 삭제
/*      window.onload = function() {
        document.getElementById('submitBtn').onclick = function() {
            document.getElementById('notiSubmitForm').submit();
            return false;
        };
    }; */
	</script>




    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    

</body>

</html>