<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공지사항</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


    <style>
    /* 공지사항 목록으로 버튼 */
    .detailPageTitle { 
        color: #5a5c69;
    }
    .detailPageTitle:link { 
        text-decoration: none;
    }
    .detailPageTitle:visited { 
        text-decoration: none;
    }
    .detailPageTitle:hover { 
        text-decoration: underline;
        color: #8B169E;
    }
    
    
    /* 파일첨부 */
    form input { 
        border-radius: 5px; 
        padding: 5px 10px; 
    } 
    form input::file-selector-button { 
        display: none; 
    }

    
    /* 정렬 */
    .table th{
        vertical-align: middle;
    }
    
    /* 내용 */
    .notiContents {
        min-height: 20rem;
        
    }

    /* 모달창 버튼 */
    .btn-secondary:hover {
        border-color: #D4D4D4;
        background-color: #D4D4D4 !important;
    }

    .btn-secondary:focus {
        box-shadow: none !important;
        border-color: #D4D4D4 !important;
        background-color: #D4D4D4 !important;
    }
    .btn-primary:hover {
        border-color: #651c70;
        background-color: #651c70 !important;
    }

    .btn-primary:focus {
        box-shadow: none !important;
        border-color: #651c70 !important;
        /* background-color: #8B169E !important; */
    }
    </style>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
     <div th:replace="/common/adminSidebar.html"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
              <div th:replace="/common/adminTopbar.html"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><a class="detailPageTitle" th:href="@{/admin/notiTables}">공지사항</a></h1>                        
                    </div>
                    <hr class="border-bottom-primary">

                    <!-- 공지사항 수정 테이블 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">공지사항 수정</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            	<form action="/admin/notiModify" method="post" id="notiSubmitForm" enctype="multipart/form-data">
                            	<input type="hidden" th:value="${ modifyNotice.no }" name="no"/>	                             
	                                <table class="table">
	                                    <thead>
	                                    <tr></tr>
	                                    </thead>
	                                    <tbody>
		                                <tr>
	                                        <th>글번호</th>
	                                        <td>[[${ modifyNotice.no }]]</td>
	                                    </tr>
	                                    <tr>
	                                        <th>조회수</th>
	                                        <td th:text="${ modifyNotice.notiView }" class="col-sm-10" name="notiView"></td>
	                                    </tr>
	                                    <tr>
	                                        <th>
	                                            작성자 <span id="pointtext">*</span>
	                                        </th>
	                                        <td class="col-sm-10">
	                                            <input class="form-control" type="text" placeholder="관리자"
	                                            aria-label="Disabled input example" disabled>	                                            
	                                        </td>
	                                    </tr>
	                                    <tr>
                                        	<th>작성일</th>
                                        	<td th:text="${ modifyNotice.notiDate }" class="col-sm-10" name="notiDate"></td>
                                  		</tr>
	                                    <tr>
	                                        <th>
	                                            제목 <span id="pointtext">*</span>
	                                        </th>
	                                        <td class="col-sm-10">
	                                            <input class="form-control" type="text" 
	                                            aria-label="default input example" name="notiTitle" th:value="${ modifyNotice.notiTitle }">
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th>파일첨부</th>
	                                        <td class="col-sm-10"> 	                                            
	                                            <label for="file-input"></label> 
	                                            <input id="file-input" type="file" name="notiFile"/> 
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th>내용 <span id="pointtext">*</span></th>
	                                        <td class="col-sm-10">
	                                            <textarea class="form-control notiContents" name="notiContent" rows="3"
	                                            			th:text="${ modifyNotice.notiContent }"></textarea>
	                                        </td>
	                                    </tr>
	                                    </tbody>
	                                </table>
                            	</form>
                            </div>
                            <div class="row buttonbox">                                
                                <button class="submitbuttonbox col-1 w-10 btn btn-primary btn-sm" data-toggle="modal" data-target="#submitModal">등록</button>
                            </div>
                        </div>
                    </div>
                    <h2 >

                    </h2>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

             <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<!--  확인 Modal -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">수정하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">등록하시려면 확인버튼을 눌러주세요.</div>
	                <div class="modal-footer">
	                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
	                    <button class="btn btn-primary" id="submitBtn" type="submit" data-dismiss="modal" 
	                   			th:href="@{/admin/notiTables}">확인</button>
	                </div>
            </div>
        </div>
    </div> 
    
    <script>
    window.onload = function() {
        document.getElementById('submitBtn').onclick = function() {
            document.getElementById('notiSubmitForm').submit();
            return false;
        };
    };
	</script>
    
    
    

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>


</body>

</html>