<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공지사항</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <!-- bootstrap-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">


    <style>
    .notiCheck { width: 1rem; }
    .notiNo { width : 4rem; }
    .notiWriter, .notiDate, .notiviewCount { width : 8rem; }
    .notiTitle { width : auto; }
    
    /* 공지 제목 */
    .notiTitleDetail { 
        color: #858796; 
    }
    .notiTitleDetail:link { 
        text-decoration: none;
    }
    .notiTitleDetail:visited { 
        text-decoration: none;
    }
    .notiTitleDetail:hover { 
        text-decoration: underline;
        color: #8B169E;
    }

    /* 페이지네이션 */
    .page-item:first-child .page-link {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .pagination {
        justify-content: center;
    }
    .page-link {
        padding: 5px 12px;
    }

    </style>


</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	<div th:replace="/common/adminSidebar.html"></div> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div th:replace="/common/adminTopbar.html"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">공지사항</h1>                        
                    </div>
                    <hr class="border-bottom-primary">

                    <!-- 공지사항 테이블 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">공지사항 조회</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <!-- 테이블 제목 -->
                                    <thead>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <th class="notiNo">NO</th>
                                            <th class="notiTitle">제목</th>
                                            <th class="notiWriter">작성자</th>
                                            <th class="notiDate">작성일</th>
                                            <th class="notiviewCount">조회수</th>
                                        </tr>
                                    </thead>
                                    <!-- 테이블 내용 -->
                                    <tbody>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>10</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>9</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>8</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>7</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>6</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>5</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>4</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>3</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>2</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                        <tr>
                                            <!-- 체크박스 -->
                                            <th class="notiCheck">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                </div>
                                            </th>
                                            <!-- 내용 -->
                                            <td>1</td>
                                            <td><a href="#" class="notiTitleDetail">공지사항 제목 입니다.</a></td>
                                            <td>관리자</td>
                                            <td>2020.12.04</td>
                                            <td>52</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이지네이션 -->
                            <nav aria-label="">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link"><</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">></a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="row buttonbox">
                                <button class="resetbuttonbox col-1 w-10 btn btn-primary btn-sm" type="delete">삭제</button>
                                <button class="submitbuttonbox col-1 w-10 btn btn-primary btn-sm" type="submit">등록</button>
                            </div>

                        </div>
                    </div>
                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <!-- <script src="vendor/datatables/jquery.dataTables.min.js"></script> -->
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

    

</body>

</html>