<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="김소영">

<title>강의조회</title>

<!-- 파비콘 -->
<link rel="icon" type="image/x-icon" href="/img/favicon.png">

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 채팅 cs -->
<!-- <link href="/css/chat.css" rel="stylesheet">-->

<!-- bootstrap-icons -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">


<style>
.bi {
	color: purple;
}

input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 60% !important;
	left: 10PX !important;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}
</style>



</head>


<body id="page-top">
	<div id="wrapper">
		<!-- navbar include -->
		<div th:replace="/common/adminSidebar.html"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header include -->
			<div th:replace="/common/adminTopbar.html"></div>


			<!-- Main Content -->


			<div id="content">
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->

					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-2 text-gray-800">강의조회</h1>
					</div>
					<hr class="border-bottom-primary">

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">강의조회목록</h6>
						</div>

						<!-- 검색창 -->
						<div class="form-inline"
							style="margin-left: auto; margin-right: 1em; margin-top: 1em;">
							<input type="text" class="form-control" id="accSearch"
								onkeyup='searchTable()' placeholder="검색 키워드를 입력하세요"
								aria-label="Search" style="font-size: small;">
							<button class="btn btn-outline-success my-2 my-sm-0"
								name="getSearch()" type="submit"
								style="color: #8B169E; background-color: white; border-color: #8B169E; font-size: small;">검색</button>
						</div>

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th style="text-align: center">과목</th>
											<th style="text-align: center">강사</th>
											<th style="text-align: center">강의명</th>
											<th style="text-align: center">수업일</th>
											<th style="text-align: center">강의실</th>
											<th style="text-align: center">Action</th>
										</tr>
									</thead>


									<tbody class="classBody" style="text-align: center">
										<tr th:each="class : ${ classList }">
											<input type="hidden" th:value="${class.clsId}" class="clsId" />
											<td th:text="${ class.clsSubject }"></td>
											<td th:text="${ class.member.name }"></td>

											<td th:onclick="|detailclass(${class.clsId})|"><text
													class="classdetail" type="text" data-toggle="modal"
													data-target="#classdetail"> <class
													th:text="${ class.clsName }" /> </text></td>

											<td th:text="|${ class.clsStart} ~ ${ class.clsEnd }|"></td>
											<td th:text="${ class.clsRoom }"></td>

											<td>
												<!-- 강의실 입장 --> <text
													onclick="location.href='/admin/classList'"> <i
													class="bi bi-arrow-right-square-fill"></i>&nbsp;</text> <!-- 강의 수정-->
												<text
													th:onclick="'location.href=\'' + @{/admin/classUpdate(clsId=${class.clsId})} + '\';'">
												<i class="bi bi-pencil-square"></i>&nbsp;</text> <!-- 강의 삭제 --> <text
													class="" data-toggle="modal" data-target="#classdelModal"
													th:onclick="|deleteClass(${class.clsId})|"> <i
													class="bi bi-trash"></i>&nbsp;</text>
											</td>
										</tr>
									</tbody>
								</table>


								<!-- 페이징 -->
								<nav aria-label="Page navigation example"
									style="margin-left: 45%;">
									<ul class="pagination">

										<!-- 페이징 -->
										<nav aria-label="Page navigation">
											<div class="pageInfo_area">
												<ul id="pageInfo" class="pageInfo pagination mt-1 mb-0">

													<!-- 첫 페이지 이동 -->
													<!-- 첫 번째 블럭이면 안 보이게 조건 걸기 -->
													<li class="page-item"><a
														th:if="${ page.startPage > 1 }"
														th:href="@{/admin/classList?pageNo=1}" th:text="'<<'"
														class="page-link"></a></li>

													<!-- 이전 페이지 버튼 -->
													<l1 th:if="${ page.prev }" class="page-item"> <a
														th:href="@{/admin/classList(pageNo=${page.startPage - 1})}"
														th:text="'<'" class="page-link"></a> </l1>

													<!-- 각 번호 페이지 버튼 -->
													<th:block
														th:with="start = ${ page.startPage }, end = ${ page.endPage }">
														<li th:each="num : ${ #numbers.sequence(start, end) }"
															class="pageInfo_btn page-item"><a
															th:if="${ page.cri.pageNo == num }" th:text="${ num }"
															class="page-link" disabled></a> <a
															th:if="${ page.cri.pageNo != num }"
															th:href="@{/admin/classList(pageNo=${num})}"
															th:text="${ num }" class="page-link"></a></li>
													</th:block>

													<!-- 다음 페이지 버튼 -->
													<l1 th:if="${ page.next }" class="page-item"> <a
														th:href="@{/admin/classList(pageNo=${page.endPage + 1})}"
														th:text="'>'" class="page-link"></a> </l1>

													<!-- 마지막 페이지 이동 -->
													<li class="page-item"><a
														th:if="${ page.cri.pageNo == page.maxPage }"
														th:text="'>>'" class="page-link d-none" disabled></a> <a
														th:if="${ page.cri.pageNo != page.maxPage }"
														th:href="@{/admin/classList(pageNo=${page.maxPage})}"
														th:text="'>>'" class="page-link"></a></li>
												</ul>
											</div>
										</nav>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			</form>
			<!-- End of Main Content -->
			<!-- footer include -->
			<div th:replace="/common/footer.html"></div>

		</div>
		<!-- End of Main Content -->

	</div>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>


	<!-- 강의 삭제 Modal-->
	<div class="modal fade" id="classdelModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form method="get" name="deleteClassForm"
			th:action="@{/admin/classList/delete}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">강의삭제</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">정말로 삭제하시겠습니까?</div>
					<div class="modal-footer">
						<a class="btn btn-secondary"
							onclick="location.href='/admin/classList'">취소</a>
						<button type="submit" class="btn btn-primary submitbuttonbox">삭제</button>
					</div>
					<input type="hidden" name="clsId" id="delcls" />
				</div>
			</div>
		</form>
	</div>
	<!-- 강의 삭제 Modal 끝 -->


	<!-- 강의상세보기 modal -->
	<form method="get" th:action="@{/admin/classList/detail}">
		<div class="modal fade bd-example-modal-lg show" id="classdetail"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="card shadow mb-4">
						<div class="card-body">
							<h5
								style="margin-top: 1em; margin-left: 1em; font-weight: bold; color: #8B169E; text-align: left">과목정보</h5>
							<input type="hidden" th:value="${clsId}" class="clsId" />
							<div class=" mx-auto row align-items-center">


								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">과목명</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<text type="text" id="clsSubject" th:text="${ clsSubject }"
										name="clsSubject" class="infoformbox form-control"> <input
										type="hidden" name="clsSubject" id="clsSubject" />
								</div>

								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">강사명</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<text type="text" class="infoformbox form-control"
										id="memberId" th:text="${ memberId }"></text>
								</div>
								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">실수강생<span
										id="pointtext">*</span>
									</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<text type="text" class="infoformbox form-control"
										id="clsStuNum" th:text="${ clsStuNum }"></text>
								</div>

								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">강의명<span
										id="pointtext">*</span>
									</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<text type="text" class="infoformbox form-control" id="clsName"
										name="clsName" th:text="${ clsName }"></text>
								</div>

								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">대상학년
									</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<text type="text" class="infoformbox form-control"
										id="clsGrade" th:text="${ clsGrade }">
								</div>

								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">수업료
										<span id="pointtext">*</span>
									</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<text type="text" class="infoformbox form-control" id="clsPay"
										th:text="${ clsPay }"></text>
								</div>





								<div class="col-auto">
									<h5
										style="margin-top: 1em; margin-left: 1em; font-weight: bold; color: #8B169E;">수업정보</h5>
									<div class=" mx-auto row align-items-center">
										<div class="col-auto" style="margin-top: 1em">
											<span class="coloumnamebox input-group-text"
												style="width: 8em">수업일</span>
										</div>
										<div class="col-4" style="margin-top: 1em;">
											<text type="text" class="infoformbox form-control"
												id="clsStart" th:text="${ clsStart }"></text>
										</div>
										~
										<div class="col-4" style="margin-top: 1em;">
											<text type="text" class="infoformbox form-control"
												id="clsEnd" th:text="${ clsEnd }">
										</div>
										<div class="col-auto" style="margin-top: 1em;">
											<span class="coloumnamebox input-group-text"
												style="width: 8em">강의실 <span id="pointtext">*</span></span>
										</div>
										<div class="col-8" style="margin-top: 1em;">
											<text type="terxt" class="infoformbox form-control"
												id="clsRoom" th:text="${ clsRoom }">
										</div>
									</div>
								</div>




								<div class="col-2" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" style="width: 8em">
										수업요일 <span id="pointtext">*</span>
									</span>
								</div>
								<th:block>

									<div class="col-10 class-check"
										style="margin-top: 1em; text-align: left">
										<input type="hidden" th:value="${clsId}" class="clsId" />
										<div class="col-12" style="margin-top: 1em;">
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" name="dayList" value="1"> <label
													class="form-check-label" for="inlineCheckbox1">월</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" value="2"> <label
													class="form-check-label" for="inlineCheckbox2">화</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" value="3"> <label
													class="form-check-label" for="inlineCheckbox1">수</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" value="4"> <label
													class="form-check-label" for="inlineCheckbox1">목</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" value="5"> <label
													class="form-check-label " for="inlineCheckbox1">금</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" value="6"> <label
													class="form-check-label" for="inlineCheckbox1">토</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input daycheck" type="checkbox"
													id="dayList" value="7"> <label
													class="form-check-label" for="inlineCheckbox1">일</label>
											</div>
										</div>
									</div>
								</th:block>


								<div class="col-2" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" id="basic-addon1"
										style="width: 8em"> 교시 <span id="pointtext">*</span></span>
								</div>
								<th:block>
									<div class="col-auto" style="margin-top: 1em;">
										<input type="hidden" th:value="${clsId}" class="clsId" /> <input
											type="hidden" value="1" class="class-check" />
										<div class="col-12" style="margin-top: 1em;">
											<div class="form-check form-check-inline class-check">
												<input class="form-check-input timecheck" type="checkbox">
												<label class="form-check-label" for="inlineCheckbox1">1교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input timecheck" type="checkbox">
												<label class="form-check-label" for="inlineCheckbox2">2교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input timecheck" type="checkbox"
													value="option1"> <label class="form-check-label"
													for="inlineCheckbox1">3교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input timecheck" type="checkbox"
													value="option1"> <label class="form-check-label"
													for="inlineCheckbox1">4교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input timecheck" type="checkbox"
													value="option1"> <label class="form-check-label"
													for="inlineCheckbox1">5교시</label>
											</div>
										</div>
									</div>
								</th:block>
								<br> <br> <br> <br>



								<div class="form-inline ">
									<input type="hidden" th:value="${clsId}" class="clsId" />
									<div class="input-group input-group-lg">
										<span class="input-group-text"
											style="margin: 2em; height: 3em;">비고</span>
										<textarea class="form-control" th:text="${ clsNote }"
											id="clsNote" style="font-size: medium; width: 35em;"></textarea>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- 강의상세보기 모달창 끝-->

	<script>
		function detailclass(clsId) {

			$.ajax({
				type : 'GET',
				url : '/admin/classDetail',
				data : {
					clsId : clsId
				},

				success : function(data) {
					console.log(data);

					$("#clsName").text(data.clsName);
					$("#memberId").text(data.member.name);
					$("#clsSubject").text(data.clsSubject);
					$("#clsStuNum").text(data.clsStuNum);
					$("#clsGrade").text(data.clsGrade);
					$("#clsPay").text(data.clsPay);
					$("#clsRoom").text(data.clsRoom);
					$("#clsStart").text(data.clsStart);
					$("#clsEnd").text(data.clsEnd);
					$("#clsNote").text(data.clsNote);

					//요일체크박스
					const daycheck = document.querySelectorAll(".daycheck");
					console.log(daycheck);
					for ( const index in data.dayList) {
						const clsDayId = data.dayList[index].clsDayId;
						console.log(clsDayId);
						switch (clsDayId) {
						case 1:
							daycheck[0].checked = true;
							break;
						case 2:
							daycheck[1].checked = true;
							break;
						case 3:
							daycheck[2].checked = true;
							break;
						case 4:
							daycheck[3].checked = true;
							break;
						case 5:
							daycheck[4].checked = true;
							break;
						case 6:
							daycheck[5].checked = true;
							break;
						case 7:
							daycheck[6].checked = true;
							break;
						}
					}

					//교시체크박스
					const timecheck = document.querySelectorAll(".timecheck");
					console.log(timecheck);
					for ( const index in data.time) {
						const clsTimeId = data.time[index].clsTimeId;
						console.log(clsTimeId);
						switch (clsTimeId) {
						case 1:
							timecheck[0].checked = true;
							break;
						case 2:
							timecheck[1].checked = true;
							break;
						case 3:
							timecheck[2].checked = true;
							break;
						case 4:
							timecheck[3].checked = true;
							break;
						case 5:
							timecheck[4].checked = true;
							break;
						case 6:
							timecheck[5].checked = true;
							break;
						case 7:
							timecheck[6].checked = true;
							break;
						}
					}

				},
				error : function(xhr) {
					console.log("강의상세조회 실패")
				}
			});

		}

		//강의삭제
		function deleteClass(clsId) {

			document.getElementById("delcls").value = clsId;

		}
		
	</script>


	<script>
		$(document).ready(function() {
			$("#search-input").keyup(function() {
				var k = $(this).val();
				$("tr").hide();
				var temp = $("tr:contains('" + k + "')");
				$(temp).show();
			})
		});
	</script>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>
</html>