<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>강의조회</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 채팅 cs -->
<link href="/css/chat.css" rel="stylesheet">

<!-- bootstrap-icons -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">


<style>
.bi {
	color: purple;
}

input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 60% !important;
	left: 10PX !important;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}
</style>



</head>


<body id="page-top">
	<div id="wrapper">
		<!-- navbar include -->
		<div th:replace="/common/adminSidebar.html"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header include -->
			<div th:replace="/common/adminTopbar.html"></div>


			<!-- Main Content -->


			<div id="content">
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->

					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-2 text-gray-800">강의조회</h1>
					</div>
					<hr class="border-bottom-primary">

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">강의조회목록</h6>
						</div>

						<!-- 검색창 -->
						<div class="form-inline"
							style="margin-left: auto; margin-right: 1em; margin-top: 1em;">
							<input class="form-control mr-sm-2" type="search"
								placeholder="검색 키워드를 입력하세요" aria-label="Search"
								style="font-size: small;">
							<button class="btn btn-outline-success my-2 my-sm-0"
								name="getSearch()" type="submit"
								style="color: #8B169E; background-color: white; border-color: #8B169E; font-size: small;">검색</button>
						</div>

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th style="text-align: center">과목</th>
											<th style="text-align: center">강사</th>
											<th style="text-align: center">강의명</th>
											<th style="text-align: center">수업일</th>
											<th style="text-align: center">강의실</th>
											<th style="text-align: center">Action</th>
										</tr>
									</thead>


									<tbody class="classBody" style="text-align: center">
										<tr th:each="class : ${ classList }">
				   	    					 <input type="hidden" th:value="${class.clsId}" class="clsId"/>  
											<td th:text="${ class.clsSubject }"></td>
											<td th:text="${ class.member.name }"></td>
											
											<td th:onclick="|detailclass(${class.clsId})|">
											<text class="classdetail" type="text" data-toggle="modal" data-target="#classdetail" >
											<class th:text="${ class.clsName }"> </class>
											</text>
											</td>
											
											<td th:text="|${ class.clsStart} ~ ${ class.clsEnd }|"></td>
											<td th:text="${ class.clsRoom }"></td>
											
											<td>
												<!-- 강의실 입장 --> 
												<text onclick="location.href='/admin/classList'"> 
													<i class="bi bi-arrow-right-square-fill"></i>&nbsp;</text> 
												<!-- 강의 수정-->
												<text onclick="location.href='/admin/classUpdate'"> 
												<i class="bi bi-pencil-square"></i>&nbsp;</text> 
													<!-- 강의 삭제 --> 
													<text class="" data-toggle="modal" data-target="#classdelModal">
												<i class="bi bi-trash"></i>&nbsp;</text>
											</td>
										</tr>
									</tbody>
								</table>


								<!-- 페이징 -->
								<nav aria-label="Page navigation example"
									style="margin-left: 45%;">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			</form>
			<!-- End of Main Content -->
			<!-- footer include -->
			<div th:replace="/common/footer.html"></div>

		</div>
		<!-- End of Main Content -->

	</div>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>


	<!-- 강의 삭제 Modal-->
	<div class="modal fade" id="classdelModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">강의삭제</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말로 삭제하시겠습니까?</div>
				<div class="modal-footer">
					<a class="btn btn-secondary"
						onclick="location.href='/admin/classList'">취소</a>
					<button class="btn btn-primary" type="button" data-dismiss="modal">삭제</button>
				</div>
			</div>
		</div>
	</div>


<!-- 강의상세보기 modal -->
	<div class="modal fade bd-example-modal-lg show" id="classdetail"
		tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="card shadow mb-4">
					<div class="card-body">
						<h5
							style="margin-top: 1em; margin-left: 1em; font-weight: bold; color: #8B169E; text-align: left">과목정보</h5>
						<div class="mx-auto  row">
					<!-- <input type="hidden" name="clsId" id="clsId"/> -->
							<div class=" mx-auto row align-items-center">


								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" id="clsSubject"
										style="width: 8em">과목명</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<input type="text"
										class="infoformbox form-control">
								</div>

								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" id="memberId"
										style="width: 8em">강사명</span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<input type="text" class="infoformbox form-control"
										aria-label="Username" 
										aria-describedby="basic-addon1">
								</div>
								<div class="col-auto" style="margin-top: 1em;">
									<span class="coloumnamebox input-group-text" id="basic-addon1"
										style="width: 8em">실수강생 <span id="pointtext">*</span></span>
								</div>
								<div class="col-8" style="margin-top: 1em;">
									<input type="text" class="infoformbox form-control"
										aria-label="Username" 
										aria-describedby="basic-addon1">
								</div>

						<div class="col-auto" style="margin-top: 1em;">
							<span class="coloumnamebox input-group-text" id="clsName"
								style="width: 8em">강의명 <span id="pointtext">*</span></span>
						</div>
						<div class="col-8" style="margin-top: 1em;">
							<input type="text" class="infoformbox form-control"
								aria-label="Username" 
								aria-describedby="basic-addon1">
						</div>

						<div class="col-auto" style="margin-top: 1em;">
							<span class="coloumnamebox input-group-text" id="basic-addon1"
								style="width: 8em">대상학년 </span>
						</div>
						<div class="col-8" style="margin-top: 1em;">
							<input type="text" class="infoformbox form-control"
								aria-label="Username" 
								aria-describedby="basic-addon1">
						</div>

						<div class="col-auto" style="margin-top: 1em;">
							<span class="coloumnamebox input-group-text" id="basic-addon1"
								style="width: 8em">수업료 <span id="pointtext">*</span></span>
						</div>
						<div class="col-8" style="margin-top: 1em;">
							<input type="text" class="infoformbox form-control"
								aria-label="Username" 
								aria-describedby="basic-addon1">
						</div>
						
						<div class="col-auto" style="margin-top: 1em;">
							<span class="coloumnamebox input-group-text" id="basic-addon1"
								style="width: 8em">강의실 <span id="pointtext">*</span></span>
						</div>
						<div class="col-8" style="margin-top: 1em;">
							<input type="text" class="infoformbox form-control"
								aria-label="Username" 
								aria-describedby="basic-addon1">
						</div>

						<div class="col-2" style="margin-top: 1em;">
							<span class="coloumnamebox input-group-text" id="basic-addon1"
								style="width: 8em"> 수업요일 <span id="pointtext">*</span></span>
						</div>


						<div class="col-10" style="margin-top: 1em; text-align: left"
							th:each="day : ${ dayList }">
							<div class="col-12" style="margin-top: 1em;">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="days1"
										th:text="${Allclass.dayList[0] }" value="1"> <label
										class="form-check-label" for="inlineCheckbox1">월</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2" checked> <label
										class="form-check-label" for="inlineCheckbox2">화</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1" checked> <label
										class="form-check-label" for="inlineCheckbox1">수</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1" checked> <label
										class="form-check-label" for="inlineCheckbox1">목</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1" checked> <label
										class="form-check-label" for="inlineCheckbox1">금</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1" checked> <label
										class="form-check-label" for="inlineCheckbox1">토</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1" checked> <label
										class="form-check-label" for="inlineCheckbox1">일</label>
								</div>
							</div>
						</div>

						<div class="col-2" style="margin-top: 1em;">
							<span class="coloumnamebox input-group-text" id="basic-addon1"
								style="width: 8em"> 교시 <span id="pointtext">*</span></span>
						</div>
						<div class="col-auto" style="margin-top: 1em;">
							<div class="col-12" style="margin-top: 1em;">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1교시</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2" checked> <label
										class="form-check-label" for="inlineCheckbox2">2교시</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3교시</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">4교시</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5교시</label>
								</div>
							</div>
						</div>

						<br>
						<div class="form-inline ">
							<div class="input-group input-group-lg">
								<span class="input-group-text" style="margin: 2em; height: 3em;">비고</span>
								<textarea class="form-control" 
									style="font-size: medium;"> </textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>



<script>

	 function detailclass(clsId) {
		
		/* 
		let clsName = ${".clsName"}.text();
		let clsSubject = ${".clsSubject"}.text();
		let clsStuNum = ${".clsStuNum"}.text();
		let clsGrade = ${".clsGrade"}.text();
		let clsPay = ${".clsPay"}.text();
		let clsRoom = ${".clsRoom"}.text();
		let clsStart = ${".clsStart"}.text();
		let clsEnd = ${".clsEnd"}.text();  
		*/	
		
		$.ajax({
			type: 'GET',
			url: '/admin/classDetail',
			data: {clsId : clsId},
				
			
			success: function(data) {
				console.log(data);
				
				
			
				
			},
			errer: function(xhr) {
				console.log("강의상세조회 실패")
			}
		});
		
	
	 }
	
	
</script>
	
	
	
	<script>
	//모달 닫기 
	function closeModal() {
		$("#accModal1").modal("hide");
	}
	</script>

<!-- 
	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	Core plugin JavaScript
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

-->

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!--모달-->
<!-- 	<script>
		$('#myModal').modal(options)
	</script> -->



</body>
</html>