<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="김소영">

<title>강의수정</title>

<!-- 파비콘 -->
<link rel="icon" type="image/x-icon" href="/img/favicon.png">

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">


<!-- ajax -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- bootstrap-icons -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<style>
.table-sy table td, .table-sy table th {
	border: none;
	vertical-align: middle;
}

.bi {
	color: purple;
}

.datetime {
	display: flex;
}

input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 60% !important;
	left: 10px !important;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}
</style>


</head>


<body id="page-top">
	<div id="wrapper">
		<!-- navbar include -->
		<div th:replace="/common/adminSidebar.html"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header include -->
			<div th:replace="/common/adminTopbar.html"></div>


			<!-- Main Content -->
			<div id="content">
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-2 text-gray-800">강의수정</h1>
						<text onclick="location.href='/admin/classUpdate'" type="reset">
						<i class="bi bi-arrow-repeat"></i> </text>
					</div>

					<hr class="border-bottom-primary">

					<!-- 과목정보 -->
					<div class="card shadow mb-4">
						<form th:action="@{/admin/classUpdate}" method="post">
							<input type="hidden" class="clsId" th:value="${clsId}">
							<tbody th:object="${ classUpdate }">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">과목정보</h6>
								</div>

								<div class="card-body">
									<div class="col-lg-12 table-center table-sy">
										<table class="table">
											<tbody>
												<tr>
													<th class="col-lg-1"><label> <span for="std"
															class="col-form-label">과목명 <span id="pointtext">*</span>
														</span>
													</label></th>
													<td class="col-lg-3">
														<div class="col-sm-10 col-lg-10">
															<input type="text" class="form-control" id="std"
																name="clsSubject" th:value="*{ clsSubject }">
														</div>
													</td>
													<th class="col-lg-1"><label for="std"
														class="col-form-label">강사선택 <span id="pointtext">*</span></label>
													</th>
													<td class="col-lg-3">
														<div class="col-sm-10 col-lg-10">
															<select class="form-control form-select-lg"
																aria-label=".form-select-lg example" name="memberId"
																id="memberId">
																<option th:each=" member : ${ memberList }"
																	th:value="${ member?.id }" th:utext="${ member?.name }">
																</option>
															</select>
														</div>
													</td>
													<th class="col-lg-1"><label for="std"
														class="col-form-label"> 실강생 수 </label></th>
													<td class="col-lg-3">
														<div class="col-sm-10 col-lg-10">
															<input type="text" class="form-control" name="clsStuNum"
																th:value="*{ clsStuNum }">
														</div>
													</td>
												</tr>
												<tr>
													<th class="col-lg-1"><label for="std"
														class="col-form-label">강의명 <span id="pointtext">*</span></label>
													</th>
													<td class="col-lg-3">
														<div class="col-sm-10 col-lg-10">
															<input type="text" class="form-control" name="clsName"
																th:value="*{ clsName }">
														</div>
													</td>
													<th class="col-lg-1"><label for="std"
														class="col-form-label">대상 학년</label></th>
													<td class="col-lg-3">
														<div class="col-sm-10 col-lg-10">
															<input type="text" class="form-control" name="clsGrade"
																th:value="*{ clsGrade }">
														</div>
													</td>
													<th class="col-lg-1"><label for="std"
														class="col-form-label">수업료 <span id="pointtext">*</span></label>
													</th>
													<td class="col-lg-3">
														<div class="col-sm-10 col-lg-10">
															<input type="text" class="form-control" name="clsPay"
																th:value="*{ clsPay }">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</tbody>
					</div>
					<!-- 과목정보 -->

					<!-- 수업정보 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">수업정보</h6>
						</div>

						<div class="card-body">

							<div class="col-lg-12 table-center table-sy">
								<table class="table">
									<tbody th:object="${ classUpdate }">
										<tr>
											<th class="col-lg-1 classdatetime"><label for="std"
												class="col-form-label">수업일 <span id="pointtext">*</span></label>
											</th>
											<td class="col-lg-5 classdatetime2">
												<div class="datetime">
													<div class="col-lg-4">
														<input type="date" class="form-control"
															th:value="*{ clsStart }" name="clsStart" required>
													</div>
													<span class="mt-2">~</span>
													<div class="col-lg-4">
														<input type="date" class="form-control"
															th:value="*{ clsEnd }" name="clsEnd" required>
													</div>
												</div>
											</td>



											<th class="col-lg-1"><label for="std"
												class="col-form-label">강의실 <span id="pointtext">*</span></label>
											</th>
											<td class="col-lg-5">
												<div class="col-sm-10 col-lg-10">
													<input type="text" class="form-control" name="clsRoom"
														th:value="*{ clsRoom }">
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- 수업요일 -->
							<div class="col-lg-12 table-center table-sy">
								<table class="table">
									<tr>
										<th class="col-lg-1"><label for="std"
											class="col-form-label">수업요일 <span id="pointtext">*</span></label>
										</th>

										<td class="col-lg-5">
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days1" name="dayList[0].clsDayId"
													value="1" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 1].isEmpty() }">
												<label class="form-check-label" for="days1">월</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days2" name="dayList[1].clsDayId"
													value="2" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 2].isEmpty() }">
												<label class="form-check-label" for="days2">화</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days3" name="dayList[2].clsDayId"
													value="3" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 3].isEmpty() }">
												<label class="form-check-label" for="days3">수</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days4" name="dayList[3].clsDayId"
													value="4" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 4].isEmpty() }">
												<label class="form-check-label" for="days4">목</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days5" name="dayList[4].clsDayId"
													value="5" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 5].isEmpty() }">
												<label class="form-check-label" for="days5">금</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days6" name="dayList[5].clsDayId"
													value="6" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 6].isEmpty() }">
												<label class="form-check-label" for="days6">토</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="days7" name="dayList[6].clsDayId"
													value="7" class="form-check form-check-inline"
													th:checked="${ not classUpdate.dayList.?[clsDayId == 7].isEmpty() }">
												<label class="form-check-label" for="days7">일</label>
											</div>
										</td>

										<!-- 교시 -->
										<th class="col-lg-1"><label for="std"
											class="col-form-label">교시 <span id="pointtext">*</span></label>
										</th>
										<td class="col-lg-5">
											<!-- 인풋박스 -->
											<div class="form-check form-check-inline">
												<input type="checkbox" id="times1" name="time[0].clsTimeId"
													value="1" class="form-check form-check-inline"
													th:checked="${ not classUpdate.time.?[clsTimeId == 1].isEmpty() }">
												<label class="form-check-label" for="inlineCheckbox1">1교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="times2" name="time[1].clsTimeId"
													value="2" class="form-check form-check-inline"
													th:checked="${ not classUpdate.time.?[clsTimeId == 2].isEmpty() }">
												<label class="form-check-label" for="inlineCheckbox2">2교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="times3" name="time[2].clsTimeId"
													value="3" class="form-check form-check-inline"
													th:checked="${ not classUpdate.time.?[clsTimeId == 3].isEmpty() }">
												<label class="form-check-label" for="inlineCheckbox1">3교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="times4" name="time[3].clsTimeId"
													value="4" class="form-check form-check-inline"
													th:checked="${ not classUpdate.time.?[clsTimeId == 4].isEmpty() }">
												<label class="form-check-label" for="inlineCheckbox1">4교시</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="checkbox" id="times5" name="time[4].clsTimeId"
													value="5" class="form-check form-check-inline"
													th:checked="${ not classUpdate.time.?[clsTimeId == 5].isEmpty() }">
												<label class="form-check-label" for="inlineCheckbox1">5교시</label>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 수업정보 -->


				<!-- 비고란 -->
				<div class="card shadow mb-4">
					<div class="card-body">
						<div class="input-group input-group-lg">
							<span class="input-group-text">비고</span>
							<textarea class="form-control" aria-label="With textarea"
								name="clsNote" th:text="${ classUpdate.clsNote }"></textarea>
						</div>
					</div>
				</div>

				<!-- 수정버튼 -->
				<div class="row buttonbox">
					<button class="submitbuttonbox col-1 w-10 btn btn-primary btn-sm"
						data-toggle="modal" data-target="#classupdateModal"
						th:onclick="|updateClass(${classUpdate.clsId})|">수정</button>
					<button class="resetbuttonbox col-1 w-10 btn btn-primary btn-sm"
						type="reset" onclick="location.href='/admin/classList'">취소</button>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- End of Main Content -->
	<!-- footer include -->
	<div th:replace="/common/footer.html"></div>


	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- 강의 수정 Modal-->
	<div class="modal fade" id="classupdateModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">강의수정</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">강의를 수정하시겠습니까?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						onclick="location.href='/admin/classList'">취소</button>
					<button class="btn btn-primary submitbuttonbox" type="submit">수정</button>
				</div>
				<input type="hidden" name="clsId" id="updatecls" />
			</div>
		</div>
	</div>
	</form>


	<script>
		//강의수정
		function updateClass(clsId) {
			document.getElementById("updatecls").value = clsId;
		}
	</script>


	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>
