<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>과제 제출</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!--  파비콘 -->
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">

    <style>
    /* 파일첨부 */
    form input { 
        border-radius: 5px; 
        padding: 5px 10px; 
    } 
    form input::file-selector-button { 
        display: none; 
    }

    /* 내용 */
    .notiContents {
        min-height: 20rem;
        
    }
    
    /* 정렬 */
    .table th{
        vertical-align: middle;
    }

    /* 수정, 삭제 버튼 */
    #delete-btn {
        background-color: red;
        border: none;
    }

    /* 댓글 작성 창*/
    textarea {
        resize: none;
    }

    #apply-btn {
        background-color: purple;
        color: white;
        border-radius: 3px;
        border: none;
       
    }
    </style>


</head>


<body id="page-top">
    <div id="wrapper">
        	<!-- navbar include -->
        	<div th:replace="/common/studentSidebar.html"></div>
        	<div id="content-wrapper" class="d-flex flex-column">
            
            <!-- header include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

            <!-- Page Heading -->
             <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">과제 게시판</h1>                        
             </div>
             <hr class="border-bottom-primary">
             <a style="color:grey" href="javascript:window.history.back();">← 목록으로</a> 

                    <!-- 공지사항 작성 테이블 -->
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">과제 제출</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                    <tbody th:each="detail : ${ detailList }">
                                    <tr>
                                        <th>
                                            작성자 <span id="pointtext"></span>
                                        </th>
                                        <td>
                                            <input class="form-control" type="text" th:value="${ detail.memberName }" name="memberName"
                                            aria-label="Disabled input example" disabled>
                                            <input type="hidden" th:value="${detail.taskId}" class="taskId" id="taskId" name="taskId"/>
                                            <input type="hidden" th:value="${detail.memberId}" class="memberId" id="memberId" name="memberId"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            제목 <span id="pointtext"></span>
                                        </th>
                                        <td>
                                            <input class="form-control" type="text" th:value="${ detail.taskTitle }" name="taskTitle"
                                            aria-label="default input example" readonly>
                                        </td>
                                    </tr>
                                    <!-- 첨부 파일 다운로드 -->
                                    <tr>
                                        <th>파일첨부</th>
                                        <td th:each="files : ${ fileList }">
                                           <span></span>
                          		 			<a th:if="fileList" th:href="@{/uploadFiles/taskFiles/{fileSaveName}(fileSaveName=${files.fileSaveName})}" th:text="${files.fileOrginName}" th:download="${files.fileOrginName}"></a> 
                           		 			<input type="hidden" th:value="${files.fileOrginName}">
                           		 			<input type="hidden" th:value="${files.fileId}">
                                        </td>
                                    </tr>
                                    <!--               -->
                                    <tr>
                                        <th>내용 <span id="pointtext"></span></th>
                                        <td>
                                            <textarea class="form-control notiContents" id="exampleFormControlTextarea1" rows="3" th:text="${ detail.taskContent }" name="taskContent" readonly></textarea>
                                        </td>
                                    </tr>
    
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- footer include -->
            <div th:replace="/common/footer"></div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- Page level plugins --><script src="vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>