<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>과제</title>

 	<!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">



    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Awesome Font -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!--  파비콘 -->
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">

</head>

<style>
    .pagination {
        justify-content: center;
    }

    .notiTitleDetail {
        color: #858796;
    }
    .notiTitleDetail:link {
        text-decoration: none;
    }
    .notiTitleDetail:visited {
        text-decoration: none;
    }
    .notiTitleDetail:hover {
        text-decoration: underline;
        color: #8B169E;
    }
    
    .pointer {
    	cursor: pointer;
    }
    
    .pointer:hover {
    	text-decoration: underline;
        color: #8B169E;
    }

</style>


<body id="page-top">
    <div id="wrapper">
        	<!-- navbar include -->
        	<div th:replace="/common/studentSidebar.html"></div>
        	<div id="content-wrapper" class="d-flex flex-column">
            
            <!-- header include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
            
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">과제 게시판</h1>
                </div>
                <hr class="border-bottom-primary">
               
                <!-- 검색창 -->
                <div class="mx-auto search-area">
                    <form action="/admin/taskBoardList?clsId=1" method="GET">
                      <div class="input-group mb-4 border rounded-pill p-1">
                          <div class="input-group-prepend border-0">
                              <button id="button-addon4" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
                          </div>
                          <input type="search"  th:value="${ page.cri.keyword }" placeholder="검색" name="keyword" aria-describedby="button-addon4" class="form-control bg-none border-0" id="search-input" style="margin-right: 20px; background-color: ghostwhite;">
                      </div>
                    </form>
                  </div>

                <table class="table">
                    <thead>
                      <th scope="col">글번호</th>
                      <th scope="col">제목</th>
                      <th scope="col">작성자</th>
                      <th scope="col">작성일</th>
                      <th scope="col">조회수</th>
                    </thead>
                    <tbody>
                 		<tr th:each=" task : ${ taskList }">
                        	<input type="hidden" th:value="${ task.memberId }" class="memberId" name="memberId"/>
                        	<input type="hidden" th:value="${ task.taskView }" name="taskView"/>
                            <th scope="row" th:text="${ task.taskId }" class="taskId" name="taskId"></th>
                            <td class="pointer" th:text="${ task.taskTitle }" th:onclick="'location.href=\'' + @{/student/taskDetail(clsId=${task.clsId},taskId=${task.taskId})} + '\';'"></td>
                            <td th:text="${ task.memberName }"></td>
                            <td th:text="${ task.taskDate }"></td>
                            <td th:text="${ task.taskView }"></td>
                        </tr>
                    </tbody>
                  </table>

                   <!-- 페이징 -->
                            <nav aria-label="Page navigation">
								<div class="pageInfo_area">
									<ul id="pageInfo" class="pageInfo pagination mt-1 mb-0">
									
										<!-- 첫 페이지 이동 -->
										<!-- 첫 번째 블럭이면 안 보이게 조건 걸기 -->
										<li class="page-item">
											<a th:if="${ page.startPage > 1 }" th:href="${ 1 }" th:text="'<<'" class="page-link"></a>
										</li>

										<!-- 이전 페이지 버튼 -->
										<l1 th:if="${ page.prev }" class="page-item">
											<a th:href="${ page.startPage - 1 }" th:text="'<'" class="page-link"></a>
										</l1>
										
										<!-- 각 번호 페이지 버튼 -->
										<th:block th:with="start = ${ page.startPage }, end = ${ page.endPage }">
											<li th:each="num : ${ #numbers.sequence(start, end) }" class="pageInfo_btn page-item">
												<!-- <a th:if="${ page.cri.pageNo == num }" th:text="${ num }" class="page-link" disabled></a> -->
												<a th:href="${ num }" th:text="${ num }" class="page-link"></a>
												<!-- <a th:if="${ page.cri.pageNo != num }" th:href="@{/student/consultant/list(pageNo=${num})}" th:text="${ num }" class="page-link"></a> -->
											</li>
										</th:block>
										
										<!-- 다음 페이지 버튼 -->
										<l1 th:if="${ page.next }" class="page-item">
											<a th:href="${ page.endPage + 1 }" th:text="'>'" class="page-link"></a>
										</l1>
										
										<!-- 마지막 페이지 이동 -->
										<li class="page-item">
									    	<a th:if="${ page.cri.pageNo == page.maxPage }" th:text="'>>'" class="page-link d-none" disabled></a>
									    	<a th:if="${ page.cri.pageNo != page.maxPage }" th:href="${ page.maxPage }" th:text="'>>'" class="page-link"></a>
									    </li>
							    
									</ul>
								</div>
							</nav>
							
							<form id="searchForm" method="get">	
								<input type="hidden" name="clsId" th:value="${param.clsId}">
								<input type="hidden" name="pageNo" th:value="${ page.cri.pageNo }">
								<!-- <input type="hidden" name="limit" th:value="${ page.cri.limit }"> -->
								<input type="hidden" name="keyword" th:value="${ page.cri.keyword }">	
								<!-- <input type="hidden" name="type" th:value="${ page.cri.type }"> -->	
							</form>

               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- footer include -->
            <div th:replace="/common/footer"></div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->






	<script>

	      /* 페이징 & 검색 */
			let searchForm = $("#searchForm");   	
	        
	        $(".pageInfo a").on("click", function(e){
	        	e.preventDefault();
	            searchForm.find("input[name='pageNo']").val($(this).attr("href"));
	            searchForm.attr("action", "/admin/taskBoardList?clsId=1");
		        searchForm.submit();
	        });
	    	
	    	
	    	$(".search-area button").on("click", function(e){
	    		e.preventDefault();
	    		
		    	let keyword = $(".search-area input[name='keyword']").val();
		    	
		    	
	    		if(!keyword){
	    			swal({
	    				text: "검색어를 입력하세요",
	    				icon: "warning",
	    				button: "확인"
	    			});
	    			return false;
	    		}		
	    		
	    		searchForm.find("input[name='keyword']").val(keyword);
	    		searchForm.find("input[name='pageNo']").val(1);
	    		searchForm.submit();
	    	});
	    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins --><script src="vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>  

    <!-- Sweet Alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

</body>



</html>