<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>new Password</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
    
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
     
     <!-- bootstrap-icons -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
	 <!-- sweetalert2 -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
     
</head>

<body class="bg-gradient-primary">

    <div class="container con1">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-7 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-1 d-none d-lg-block"></div>
                            <div class="col-lg-10">
                                <div class="pt-5">
                                    <div class="text-center">
                                        <div class="sidebar-brand d-flex align-items-center justify-content-center">
                                            <div class="sidebar-brand-icon rotate-n-15 text-xl">
                                                <!-- 스콘로고 -->
                                                <i class="fas fa-laugh-wink text-primary"></i>
                                            </div>&nbsp;
                                            <div class="m-0 font-weight-bold text-primary">SCON</div>
                                        </div>
                                        <br>
                                        <h1 class="h4 text-gray-900 mb-4 font-bold">비밀번호 변경</h1>
                                    
                                    </div>
                                    <br>
                                    <form class="user" id="newPwd" name="newPwd">
                                        <div class="form-group">
                                            <label>새로운 비밀번호</label>
                                            <input type="password" class="form-control form-control-user"
                                               id="pwd" name="pwd" placeholder="password">
                                               <small id="passwordHelp" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <label>비밀번호 재확인</label>
                                            <input type="password" class="form-control form-control-user"
                                                id="pwd2" name="pwd2" placeholder="password">
                                        </div> <small id="passwordHelp2" class="text-danger"></small>
                                        
                                        <br>
                                        <button type="button" class="btn bg-scon btn-user btn-block" onclick="newPassword();">
                                           비밀번호 변경
                                        </button>
                                    </form>
                                    <hr>
                                    <p class="text-center small">
                                        비밀번호를 재설정하실 수 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        &nbsp;&nbsp;<a class="rollbackLogin" href="/member/login"><i class="bi bi-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<script src="/js/forgotIdAndPwd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>