<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>교육원 정보 관리</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/academyinfo.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <style>
    .notiCheck { width: 1rem; }
    .notiNo { width : 4rem; }
    .notiWriter, .notiDate, .notiviewCount { width : 8rem; }
    .notiTitle { width : auto; }
    
    /* 공지 제목 */
    .notiTitleDetail { 
        color: #858796; 
    }
    .notiTitleDetail:link { 
        text-decoration: none;
    }
    .notiTitleDetail:visited { 
        text-decoration: none;
    }
    .notiTitleDetail:hover { 
        text-decoration: underline;
        color: #8B169E;
    }

    /* 페이지네이션 */
    .page-item:first-child .page-link {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .pagination {
        justify-content: center;
    }
    .page-link {
        padding: 5px 12px;
    }

    </style>


</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	<div th:replace="/common/adminSidebar.html"></div> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div th:replace="/common/adminTopbar.html"></div>
                <!-- 채팅 -->
                <!-- <div th:replace="/admin/chat/chatList.html"></div>  -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">교육원 정보 관리</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <!-- Content Row -->
                    <div class="mx-auto acaformbox">
                    <form action="/admin/business/insertBusinessInfo" method="post" id="insert_data">
                        <div class="acaformrow mx-auto row g-3 align-items-center">
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">교육원명 <span id="pointtext">*</span></span>
                            </div>
                            <div class="col-3">
                                <input type="text" class="infoformbox form-control" id="busTitle" name="busTitle" th:value="${ BusinessDTO.busTitle }" placeholder="필수 기입" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-2"></div>
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">교육원 코드 <span id="pointtext">*</span></span>
                            </div>
                            <div class="col-3">
                                <input type="text" class="infoformbox form-control" id="busCode" name="busCode" th:value="${ BusinessDTO.busTitle }" placeholder="필수 기입" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="acaformrow mx-auto row g-3 align-items-center">
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">대표자 <span id="pointtext">*</span></span>
                            </div>
                            <div class="col-3 inputinfo">
                                <input type="text" class="infoformbox form-control" id="busRep" name="busRep" placeholder="필수 기입" th:value="${BusinessDTO.busRep}" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-2"></div>
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">사업자등록번호 </span>
                            </div>
                            <div class="col-3 inputinfo">
                                <input type="text" class="infoformbox form-control" id="busNum" name="busNum" aria-label="Username" th:value="${BusinessDTO.busNum}" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="acaformrow mx-auto row g-3 align-items-center">
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">전화번호 <span id="pointtext">*</span></span>
                            </div>
                            <div class="col-3 inputinfo">
                                <input type="text" class="infoformbox form-control" id="busPhone" name="busPhone" placeholder="필수 기입" th:value="${BusinessDTO.busPhone}" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-2"></div>
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">팩스번호 </span>
                            </div>
                            <div class="col-3 inputinfo">
                                <input type="text" class="infoformbox form-control" aria-label="Username" id="busFax" name="busFax" th:value="${BusinessDTO.busFax}" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="acaformrow mx-auto row g-3 align-items-center">
                            <div class="col-auto">
                                <span class="addcoloumnamebox input-group-text" id="basic-addon1">주소 <span id="pointtext">*</span></span>
                            </div>
                            <div class="col-auto row">
                                <div class="col-3 inputinfo">
                                    <input type="text" class="infoformbox form-control" id="sample6_postcode" placeholder="우편번호" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-3">
                                    <input type="button" onclick="sample6_execDaumPostcode()" class="postbutton btn btn-user btn-sm stu-btn " value="우편번호 찾기" />
                                </div>
                                <div class="col-6">
                                </div>
                                <div class="col-6 inputinfo">
                                    <input type="text" class="infoformbox form-control" id="busAdr" name="busAdr" placeholder="필수 기입" th:value="${BusinessDTO.busAdr}" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-6 inputinfo">
                                    <input type="text" class="infoformbox form-control" id="sample6_extraAddress" placeholder="(상세주소)" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="acaformrow mx-auto row g-3 align-items-center">
                            <div class="col-auto">
                                <span class="coloumnamebox input-group-text" id="basic-addon1">학원 홈페이지 <span id="pointtext">*</span></span>
                            </div>
                            <div class="col-10 inputinfo">
                                <input type="text" class="infoformbox form-control" id="busHompy" name="busHompy" th:value="${BusinessDTO.busHompy}" placeholder="필수 기입" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <br><br><br>
                        <div class="row buttonbox">
                            <button class="resetbuttonbox col-1 w-10 btn btn-primary btn-sm" type="reset">취소</button>
                            <button class="submitbuttonbox col-1 w-10 btn btn-primary btn-sm" type="submit">저장</button>
                        </div>
                    </form>
                    </div>
                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
     <!-- Search Address API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	    function sample6_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수
	
	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	
	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                    // 조합된 참고항목을 해당 필드에 넣는다.
	                    document.getElementById("sample6_extraAddress").value = extraAddr;
	                
	                } else {
	                    document.getElementById("sample6_extraAddress").value = '';
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample6_postcode').value = data.zonecode;
	                document.getElementById("busAdr").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("sample6_extraAddress").focus();
	            }
	        }).open();
	    }
	</script>

	<script type="text/javascript">
    $(document).ready(function() {
        var result = '<c:out value="${result}"/>';
        if(!(result==''))
            alert("게시물이 등록되었습니다!");
    });
	</script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>


</body>

</html>