<fieldset class="row col-lg-12">
	<div class="form-group col-lg-6 row">

		<label for="" class="col-lg-3"> <span
			class="coloumnamebox input-group-text colbox">직급</span>
		</label>
		<div class="col-sm-2"></div>
		<div class="col-sm-7 col-lg-7 row">
			<select class="form-control form-select-lg mb-3 infoformbox col-lg-5"
				name="">
				<option selected>일반 강사</option>
				<option value="1">담당 강사</option>
				<option value="2">팀장</option>
				<option value="3">교수부장</option>
				<option value="4">부원장</option>
				<option value="5">원장</option>
			</select>
		</div>
		<label for="" class="col-lg-3"> <span
			class="coloumnamebox input-group-text colbox">근무 상태</span>
		</label>
		<div class="col-sm-2"></div>
		<div class="col-sm-7 col-lg-7 row">
			<select class="form-control form-select-lg mb-3 infoformbox">
				<option value="1" selected>근무</option>
				<option value="2">휴직</option>
				<option value="3">퇴직</option>
			</select>

		</div>
		<label for="" class="col-lg-3"> <span
			class="coloumnamebox input-group-text colbox">퇴직일</span>
		</label>
		<div class="col-sm-2"></div>
		<div class="col-sm-7 col-lg-7 row">
			<input type="date" class="form-control infoformbox" id="">
		</div>

	</div>
	<div class="form-group col-lg-6 row">
		<label for="" class="col-lg-5 stu-btn"></label>
		<div class="col-sm-7 col-lg-7 row"></div>

	</div>

	<label for="" class="col-lg-1"> <span
		class="coloumnamebox input-group-text colbox">이력 사항 (비고)</span>
	</label>

	<div class="col-sm-8 col-lg-8 row ma-reft">
		<textarea class="form-control" rows="3" id="" name=""></textarea>
	</div>

</fieldset>
<!-- 수정/ 삭제 버튼 -->
<div class="registbtn">
	<button type="submit" class="btn btn-primary submitbuttonbox btn-sm">수정
		하기</button>
	<button type="button" class="btn btn-primary resetbuttonbox btn-sm">삭제
		하기</button>
</div>