<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>내 정보</title>

	 <!-- 파비콘 -->
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
	
	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
		type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	
	<!-- bootstrap-icons -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
	
	<link href="/css/student.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- sweetalert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>


</head>

<body id="page-top">
	<div id="wrapper">
		<!-- navbar include -->
		<div th:replace="/common/studentSidebar.html"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header include -->
			<div th:replace="/common/adminTopbar.html"></div>

			<!-- Main Content -->
			<div id="content">
				<div class="container-fluid">
					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">내 정보</h1>
					</div>
					<hr class="border-bottom-primary">

					<!-- Content Row -->
					<div class="row content-stu">
						<form name="form" class="row col-12 formcenter needs-validation">
							<!-- form태그 시작-->
							<!-- Area Chart -->
							<div class="col-lg-2">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div
										class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">프로필 사진</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body col-lg-12">
										<div>
										
											<input type="hidden" id="fileSaveName" th:value='${#authentication.principal.profile?.fileSaveName}'/>
											
											<img class="profile1" src="/img/profile.jpg" id="img" alt="프로필 사진"><br>
											<br> <input type="file" name="profile" id="profile" accept=".gif, .jpg, .png" onchange="readFile(event);"/>
											
											<!-- 프로필 사진 등록 -->
											
											<script>
												let fileSaveName = document.getElementById('fileSaveName').value;
												
												if(fileSaveName != null) {
													$("#img").removeAttr('src');
													let src = '\\img\\profile\\' + fileSaveName;
													$("#img").attr('src', src);	
												}
												
											</script>
										</div>
									</div>

								</div>
							</div>
							
						  <input type="hidden" name="userid"/>
						  
							<!-- Pie Chart -->
							<div class="col-lg-10">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">내 기본 정보</h6>
								</div>
								<!-- Card Body -->
								<div class="card-body row">
									<fieldset class="row col-lg-12">
										<div class="form-group col-lg-6 row">

											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">이름 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7 row">
												<input type="text" class="form-control infoformbox" maxlength="6"
													id="name" name="name" th:value='${#authentication.principal.name}'/><small id="nameHelp"
														class="text-danger"></small>
											</div>

											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">아이디 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7 row">
													<input type="text" class="form-control infoformbox"
														id="id" name="id" th:value='${#authentication.principal.id}' readonly>
														 <small id="idHelp"
														class="text-danger"></small>
												
											</div>
											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">비밀번호 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7 row">
												<div class="col-sm-9 col-lg-8 row">
												<input type="password" class="form-control infoformbox"
													id="password" name="password" maxlength="20" th:value='${#authentication.principal.pwd}'> <small
													id="passwordHelp" class="text-danger"></small>
												</div>	
												<div class="col-sm-2">
													<input type="button" id="updatePwd"
														class="btn btn-secondary btn-sm stu-btn" value="비밀번호 변경" />
												</div>
											</div>
											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">이메일 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7 row">
												<input type="email" class="form-control infoformbox"
													id="email" name="email" th:value='${#authentication.principal.email}'>
												 <small
													id="emailHelp" class="text-danger"></small>	
											</div>
										</div>

										<div class="form-group col-lg-6 row">

											<label for="gender" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox"
												id="basic-addon1">성별<span id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7 row">
												<label class="radio-inline col-6"> 
												<input
													type="radio" class="radio" name="gender" id="F" value="F"
													th:checked="${#authentication.principal.gender} eq 'F'"> 여자
												</label> <label class="radio-inline col-6"> <input
													type="radio" class="radio" name="gender" id="M" value="M"
													th:checked="${#authentication.principal.gender} eq 'M'">
													남자
												</label> 
												
											</th:if>
											</div>

											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">생년월일 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7">
												<input type="date" id="birthDay" name="birthDay" class="infoformbox form-control"
												th:value='${#authentication.principal.birthDay}'>
											</div>
											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">전화번호 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7">
												<input type="tel" class="infoformbox form-control" placeholder="(-) 하이픈 포함"
												id="phone" name="phone"
												th:value='${#authentication.principal.phone}'>
												 <small
													id="phoneHelp" class="text-danger"></small>
											</div>
											<label for="" class="col-lg-3"> <span
												class="coloumnamebox input-group-text colbox">입사일 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-sm-2"></div>
											<div class="col-sm-7 col-lg-7">
												<input type="date" id="enrollDate" name="enrollDate" class="infoformbox form-control"
												th:value='${#authentication.principal.enrollDate}'>
											</div>

										</div>

										<div class="col-lg-10 row">
											<label for="" class="col-lg-1"> <span
												class="coloumnamebox input-group-text colbox">주소 <span
													id="pointtext">*</span></span>
											</label>
											<div class="col-lg-2"></div>
											<div class="col-lg-8 row">
												<div class="col-lg-4 row">
													<input type="text" class="form-control infoformbox"
														id="zipCode" name="zipCode">
												</div>
												<div class="col-lg-4">
													<input type="button"
														class="btn btn-secondary btn-sm stu-btn" value="우편번호 찾기" onclick="execDaumPostcode()"/>
												</div>
												<input type="text" class="form-control infoformbox"
													id="address" name="address"
													th:value='${#authentication.principal.address}'> 
												<input type="text" class="form-control infoformbox" id="extraAddress" name="extraAddress">
											</div>
											
											<!-- DB주소 문자열 자르기 Js -->
											<script>
											
												let address = document.getElementById('address').value;
												
												let addr = address.split('$');
												
												document.getElementById('zipCode').value = addr[0];
												document.getElementById('address').value = addr[1]
												document.getElementById('extraAddress').value = addr[2];
											
											</script>
											
										</div>
									</fieldset>
								</div>
									<div class="registbtn p-2">
										<input type="hidden" name="delDate">
										<input type="hidden" name="status">
										<input type="hidden" name="path" value="/studnet/modifyMyprofile">
									<button type="button" class="btn btn-primary submitbuttonbox float-right" onclick="checkAll();">수정 하기</button>
								</div>
							</div>
						</div>
						</form>
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
			</div>
			<!-- End of Content Wrapper -->

			<!-- footer include -->
			<div th:replace="/common/footer.html"></div>
		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Custom scripts for all pages-->
		<script src="/sb-admin-2.min.js"></script>
		<!-- 원생 관리 자바스크립트 -->
		<script src="/js/student.js"></script>
		<!-- 다음 주소 api-->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		
</body>

</html>