<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>상담 신청</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <!-- alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <!-- 파비콘 -->
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">

	<script>
    	const successMessage = '[[${successMessage}]]'
    	if(successMessage) {
    		alert(successMessage);
    	}
    </script>
    
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- sidebar include -->
        <div th:replace="/common/adminSidebar.html"></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- topbar include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">상담 관리</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">상담 신청 내역</h6>
                        </div>
                        <br>
                        <form id="searchForm" class="form-inline" action="/admin/consultant/hopeList" method="get">
                        	<input type="hidden" name="pageNo" th:value="${ page.cri.pageNo }">
                            <div class="search-area col-lg-12">
								<select class="form-control form-select-lg" name="type">
									<option value="" th:selected="${ #strings.isEmpty( page.cri.type ) }">-- 검색 유형 --</option>
									<option value="stdName" th:selected="${ #strings.equals( page.cri.type, 'stdName' ) }">원생 이름</option>
									<option value="handle" th:selected="${ #strings.equals( page.cri.type, 'handle' ) }">처리 현황</option>
									<option value="no" th:selected="${ #strings.equals( page.cri.type, 'no' ) }">글 번호</option>
								</select>
                                <div class="form-group mx-sm-3">
                                    <input type="text" name="keyword" class="form-control" th:value="${ page.cri.keyword }" id="keyword"
                                        placeholder="검색어를 입력하세요">
                                </div>
                                <button type="button" class="btn btn-primary btn-search mr-2">검색</button>
                            </div>
                        </form>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered-yj dataTable-yj" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>상담 신청일</th>
                                            <th>원생</th>
                                            <th>상담 제목</th>
                                            <th>처리 현황</th>
                                            <th>관리</th>
                                        </tr>
                                    </thead>
                                    <tbody class="accTbody">
                                        <tr th:if="${not #lists.isEmpty( consultantHopeList )}" th:each="conH : ${ consultantHopeList }" class="conTr">
                                            <td th:text="${ conH.no }" class="no">번호</td>
                                            <td th:text="${ conH.conWriteDate }">상담 신청일</td>
                                            <td th:text="${ conH.member.name }">원생</td>
                                            <td th:text="${ conH.conHTitle }" class="conHTitle"
                                            	th:onclick="'location.href=\'' + @{/admin/consultant/hopeDetail(no=${conH.no}, pageNo=${page.cri.pageNo}, type=${page.cri.type}, keyword=${page.cri.keyword})} + '\';'">상담 제목</td>
                                            <td th:text="${ conH.conHandle }" class="handle">처리 현황</td>
                                            <td>
                                               <button type="button" class="btn btn-primary btn-con"
                                                	th:onclick="movePage(this, [[${conH.no}]], [[${page.cri.pageNo}]], [[${#strings.defaultString(page.cri.type, '')}]], [[${#strings.defaultString(page.cri.keyword, '')}]])">등록</button>
                                                <!-- th:onclick="'location.href=\'' + @{/admin/consultant/insertForm(no=${conH.no})} + '\';'" -->
                                            </td>
                                        </tr>
                                        <tr th:unless="${not #lists.isEmpty( consultantHopeList )}">
                                        	<td colspan="6">조회된 결과가 없습니다</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
							
							<!-- paging include -->
            				<div th:replace="/common/paging.html"></div>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- footer include -->
            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script type="text/javascript">
    	/* 입력 검색 - 원하는 td만 검색 */
        /* function searchTable() {
            var input, filter, table, tr, td, i, j, found;
            input = document.getElementById("accSearch");
            filter = input.value.toLowerCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length - 1; j++) {
                    if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        } */

    	/* 미완료인 상담만 등록 가능 */
    	function movePage(elem, no, pageNo, type, keyword) {
    		document.getElementsByClassName('no').value = no;
    		console.log(document.getElementsByClassName('no').value);
    		
    		document.getElementsByClassName('handle').value = elem.closest('.conTr').querySelector('.handle').innerHTML;
    		console.log(document.getElementsByClassName('handle').value);
    		
    		if(document.getElementsByClassName('handle').value == "완료") {
    			swal({
    				text: "처리가 완료된 상담입니다",
    				icon: "warning",
    				button: "확인"
    			});
    		} else if(document.getElementsByClassName('handle').value == "미완료") {
    			location.href = "insertForm?no=" + no + "&pageNo=" + pageNo + "&type=" + type + "&keyword=" + keyword;
    		}
    	}
        
        /* 페이징 & 검색 */
		let searchForm = $("#searchForm");   	
        
        $(".pageInfo a").on("click", function(e){
        	e.preventDefault();
            searchForm.find("input[name='pageNo']").val($(this).attr("href"));
            searchForm.attr("action", "/admin/consultant/hopeList");
	        searchForm.submit();
        });
    	
    	$(".search-area button").on("click", function(e){
    		e.preventDefault();
    		
    		let type = $(".search-area select").val();
	    	let keyword = $(".search-area input[name='keyword']").val();
	    	
	    	if(!type){
    			swal({
    				text: "검색 유형을 선택하세요",
    				icon: "warning",
    				button: "확인"
    			});
    			return false;
    		}
	    	
    		if(!keyword){
    			swal({
    				text: "검색어를 입력하세요",
    				icon: "warning",
    				button: "확인"
    			});
    			return false;
    		}		
    		
    		searchForm.find("input[name='pageNo']").val(1);
    		searchForm.submit();
    	});
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>