<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>상담 관리</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-yj.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- sidebar include -->
        <div th:replace="/common/adminSidebar.html"></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- topbar include -->
            <div th:replace="/common/adminTopbar.html"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">상담 관리</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">상담 일지 등록</h6>
                        </div>
                        <div class="card-body">
                            <form action="/admin/consultant/insertForm" method="post" name="consultantForm">
                            	<input type="hidden" name="no" value="${ consultant.no }">
                                <div class="col-lg-9 con-table-center">
                                    <table class="table table-bordered-yj">
                                        <tbody>
                                            <tr>
                                                <th class="col-lg-3">
                                                    <label for="std" class="col-form-label">원생</label>
                                                </th>
                                                <td class="col-lg-9">
                                                    <div th:text="${ consultant.member.name }" class="col-sm-10 col-lg-4"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conDate" class="col-form-label">상담일</label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-4">
                                                        <input type="date" class="form-control" id="conDate" name="conDate">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conType" class="col-form-label">상담 유형</label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-4">
                                                        <select class="form-control form-select-lg"
                                                            aria-label=".form-select-lg example" id="conType" name="conType">
                                                            <optgroup label="상담 유형 선택">
	                                                            <option value="학업 문제">학업 문제</option>
	                                                            <option value="진로 문제">진로 문제</option>
	                                                            <option value="교우 문제">교우 문제</option>
	                                                            <option value="가정 문제">가정 문제</option>
	                                                            <option value="교육원 문제">교육원 문제</option>
	                                                            <option value="기타">기타</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conWay" class="col-form-label">상담 방법</label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-4">
                                                        <select class="form-control form-select-lg"
                                                            aria-label=".form-select-lg example" id="conWay" name="conWay">
                                                            <optgroup label="상담 방법 선택">
	                                                            <option value="개인 면담">개인 면담</option>
	                                                            <option value="전화 면담">전화 면담</option>
	                                                            <option value="방문 상담">방문 상담</option>
	                                                            <option value="기타">기타</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conImp" class="col-form-label">중요도</label>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-4">
                                                        <select class="form-control form-select-lg"
                                                            aria-label=".form-select-lg example" id="conImp" name="conImp">
                                                            <optgroup label="중요도 선택">
	                                                            <option value="★★★★★">★★★★★</option>
	                                                            <option value="★★★★☆">★★★★☆</option>
	                                                            <option value="★★★☆☆">★★★☆☆</option>
	                                                            <option value="★★☆☆☆">★★☆☆☆</option>
	                                                            <option value="★☆☆☆☆">★☆☆☆☆</option>
	                                                        </optgroup>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label for="conContent" class="col-form-label">상담 일지 내용 <span
                                                            id="pointtext">*</span></label>
                                                    <p class="textCnt"><span id="conCounter">0</span>/1000</p>
                                                </th>
                                                <td>
                                                    <div class="col-sm-10 col-lg-10">
                                                        <div class="con-input-group">
                                                            <textarea class="form-control conContent"
                                                                aria-label="With textarea" id="conContent" name="conContent"
                                                                placeholder="상담 일지 내용은 최소 20글자 이상 입력해주시기 바랍니다."
                                                                minlength="20" required></textarea>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        $(".conContent").keyup(function () {
                                                            let inputLength = $(this).val().length;
                                                            $("#conCounter").text(inputLength);

                                                            let remain = 1000 - inputLength;

                                                            if (remain >= 0) {
                                                                $("#conCounter").css("color", "#8B169E");
                                                            } else {
                                                                $("#conCounter").css("color", "#e03131");
                                                            }
                                                        });
                                                    </script>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="buttonbox">
                                    <button type="button" class="btn btn-light resetbuttonbox"
                                    	onclick="cancelRegist()">취소하기</button>
                                    <button type="submit" class="btn btn-primary submitbuttonbox"
                                    	th:onclick="registConsultant([[${consultant.no}]])">등록하기</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- footer include -->
            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <script>
    	function registConsultant(no) {
    		if(confirm('상담 일지를 등록하시겠습니까?')) {
    			document.forms.consultantForm.action = "insertForm?no=" + no;
    			document.forms.consultantForm.submit();
    		}
    	}
    	
    	function cancelRegist() {
    		if(confirm('작성 중인 내용은 저장되지 않습니다. \n상담 일지 등록을 취소하시겠습니까?')) {
    			location.href = "/admin/consultant/hopeList";
    		}
    	}
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>