<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="김소영">

<title>강의첨부자료 조회</title>

<!-- 파비콘 -->
<link rel="icon" type="image/x-icon" href="/img/favicon.png">

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- bootstrap-icons -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">


<style>
.bi {
	color: purple;
}

input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 60% !important;
	left: 10PX !important;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}
</style>



</head>


<body id="page-top">
	<div id="wrapper">
		<!-- navbar include -->
		<div th:replace="/common/adminSidebar.html"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header include -->
			<div th:replace="/common/adminTopbar.html"></div>


			<!-- Main Content -->


			<div id="content">
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->

					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-2 text-gray-800">강의첨부자료조회</h1>
					</div>
					<hr class="border-bottom-primary">

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">강의첨부자료조회목록</h6>
						</div>

						<!-- 검색창 -->
						<div class="form-inline"
							style="margin-left: auto; margin-right: 1em; margin-top: 1em;">
							<input type="text" class="form-control" id="accSearch"
								onkeyup='searchTable()' placeholder="검색 키워드를 입력하세요"
								aria-label="Search" style="font-size: small;">
							<button class="btn btn-outline-success my-2 my-sm-0"
								name="getSearch()" type="submit"
								style="color: #8B169E; background-color: white; border-color: #8B169E; font-size: small;">검색</button>
						</div>

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th style="text-align: center">강의명</th>
											<th style="text-align: center">참고자료명</th>
											<th style="text-align: center">강사명</th>
											<th style="text-align: center">Action</th>
										</tr>
									</thead>


									<tbody class="classBody" style="text-align: center">
										<tr th:each="classfile : ${ classFileList }">

											<td><class th:text="${classfile.classDTO.clsName}" /></td>
											<td><class th:text="${classfile.clfName}" /></td>
											<td><class th:text="${classfile.member.name}" /></td>


											<!-- 파일다운로드 -->
											<td><a name="fileList"
												th:href="@{/uploadFiles/classFiles/fileList2/{fileSaveName}(fileSaveName=${classfile.fileList.fileSaveName})}"
												th:download="${classfile.fileList.fileOrginName}"> <i
													class="bi bi-arrow-up-circle-fill"> <input
														type="hidden"
														th:value="${classfile.fileList.fileOrginName}"> <input
														type="hidden" th:value="${classfile.fileList.fileId}">
												</i>&nbsp;
											</a> <i class="bi bi-pencil-square"></i>&nbsp;</text> <!-- 강의첨부자료 삭제 -->
												<a class="" data-toggle="modal"
												data-target="#classFiledelModal"
												th:onclick="|deleteClassFile(${classfile.fileId})|"> <i
													class="bi bi-trash"></i>&nbsp;
											</a></td>
										</tr>
									</tbody>
								</table>


								<!-- 페이징 -->
								<nav aria-label="Page navigation example"
									style="margin-left: 45%;">
									<ul class="pagination">

										<!-- 페이징 -->
										<nav aria-label="Page navigation">
											<div class="pageInfo_area">
												<ul id="pageInfo" class="pageInfo pagination mt-1 mb-0">

													<!-- 첫 페이지 이동 -->
													<!-- 첫 번째 블럭이면 안 보이게 조건 걸기 -->
													<li class="page-item"><a
														th:if="${ page.startPage > 1 }"
														th:href="@{/admin/classFileList?pageNo=1}" th:text="'<<'"
														class="page-link"></a></li>

													<!-- 이전 페이지 버튼 -->
													<l1 th:if="${ page.prev }" class="page-item"> <a
														th:href="@{/admin/classFileList(pageNo=${page.startPage - 1})}"
														th:text="'<'" class="page-link"></a> </l1>

													<!-- 각 번호 페이지 버튼 -->
													<th:block
														th:with="start = ${ page.startPage }, end = ${ page.endPage }">
														<li th:each="num : ${ #numbers.sequence(start, end) }"
															class="pageInfo_btn page-item"><a
															th:if="${ page.cri.pageNo == num }" th:text="${ num }"
															class="page-link" disabled></a> <a
															th:if="${ page.cri.pageNo != num }"
															th:href="@{/admin/classFileList(pageNo=${num})}"
															th:text="${ num }" class="page-link"></a></li>
													</th:block>

													<!-- 다음 페이지 버튼 -->
													<l1 th:if="${ page.next }" class="page-item"> <a
														th:href="@{/admin/classFileList(pageNo=${page.endPage + 1})}"
														th:text="'>'" class="page-link"></a> </l1>

													<!-- 마지막 페이지 이동 -->
													<li class="page-item"><a
														th:if="${ page.cri.pageNo == page.maxPage }"
														th:text="'>>'" class="page-link d-none" disabled></a> <a
														th:if="${ page.cri.pageNo != page.maxPage }"
														th:href="@{/admin/classFileList(pageNo=${page.maxPage})}"
														th:text="'>>'" class="page-link"></a></li>

												</ul>
											</div>
										</nav>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			</form>
			<!-- End of Main Content -->
			<!-- footer include -->
			<div th:replace="/common/footer.html"></div>

		</div>
		<!-- End of Main Content -->

	</div>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- 강의 삭제 Modal-->
	<div class="modal fade" id="classFiledelModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form method="get" name="deleteClassForm" id="deleteClassForm"
			th:action="@{/admin/deleteClassFile}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">강의첨부자료삭제</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">정말로 삭제하시겠습니까?</div>
					<div class="modal-footer">
						<a class="btn btn-secondary"
							onclick="location.href='/admin/classFileList'">취소</a>
						<button type="submit" class="btn btn-primary submitbuttonbox">삭제</button>
					</div>
					<input type="hidden" name="fileId" id="delcls" />
				</div>
			</div>
		</form>
	</div>
	<!-- 강의 삭제 Modal 끝 -->

	<script>
	    function deleteClassFile(fileId) {
		  document.getElementById("delcls").value = fileId; 
	   } 
	</script>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>