@charset "UTF-8";


.chat {
	margin-top: auto;
	margin-bottom: auto;
}

.card2 {
	height: 700px !important;
	width: 500px !important;
	border-radius: 15px !important;
	background-color: -webkit-linear-gradient(to right, #c61aec, #86A8E7, #7F7FD5) !important;
	background: -webkit-linear-gradient(#9306f1, #a24cb6, #7F7FD5);
}

.contacts_body2 {
	padding: 0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}

.container-fluid2 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.card-header2 {
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
	background: -webkit-linear-gradient(#9306f1, #a24cb6);
}

.card-footer2 {
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.search2 {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
}

.search2:focus {
	box-shadow: none !important;
	outline: 0px !important;
}


.search_btn2 {
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
}

.contacts2 {
	list-style: none;
	padding: 0;
}

.contacts2 li {
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}

.active2 {
	background-color: rgba(0, 0, 0, 0.3);
}


.img_cont2 {
	position: relative;
	height: 70px;
	width: 70px;
}

.img_cont_msg {
	height: 40px;
	width: 40px;
}



.user_info2 {
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	/*margin-left: 15px;*/
}

.user_info2 span {
	font-size: 15px;
	color: white;
}


.enterbtn {

	background: none;
	border: none;
	opacity: 60%;
	color: aliceblue;
	height: 30px;

}

.bi-arrow-bar-right {
	display: flex;
}



#action_menu_btn2 {
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.action_menu2 {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu2 ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.action_menu2 ul li i {
	padding-right: 10px;

}

.action_menu2 ul li:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
	.contacts_card2 {
		margin-bottom: 15px !important;

	}
}

@media (min-width: 1200px) {
	.col-xl-5-new {
		flex: 0 0 41.66667%;
		max-width: max-content;
	}
}

@media (min-width: 576px) {
	.topbar .dropdown-list {
		width: max-content !important;
	}
}