/* .radio {
    margin-top: 20px;
}

.infoformbox,
.stu-btn {
    margin-top: 5px;
} */

.ma-reft {
    margin-left: 150px;
}

.registbtn {
    text-align: center;
}

.profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile1 {
    width: 100%;
    object-fit: cover;
}

.content-stu {
    float: none;
    margin: 0 auto;
}

.text-area {
    resize: none;
    border-radius: 0px;
    margin-left: 10px;
}

.submenu-box{
    height: 336px;
}

table, th, td, tr {
    vertical-align: middle;
}


.p-left{
    text-align: right;
    font-size: x-small;
}

.sel {
    width: 100px;
}

.a-bold:hover, .a-bold:focus {
    font-weight: bold;
}

.active {
    font-weight: bold;
    color: red;
}

.colbox {
    width: 150px !important;
    height: 40px !important;
}

.addr {
    margin-left: 10px;
}

option {
	font-size: xx-small;
}

.sub-btn, sub-btn:hover, sub-btn:focus{
	color : #8B169E !important;
	border: none !important;
	box-shadow: none !important;
}


.checkNO{
	width: 10px !important;
}

.tb-h{
	height: 650px !important;
}


.table-responsive {
    display: block;
    width: 100%;overflow-x: auto;
}

.text-a{
    padding-left: 140px;
    border-radius: none;
}

.font-up{
    font-size: 1.2em;
    color: rgb(100, 100, 100) !important;
}
