<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>원생 출석 등록</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Abel|Nunito" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/att-regist.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <style>
        .stusearchbutton { border: 1px !important; border-color: gray !important;}
        .buttonbox {
            margin-top: 5em;
        }
        .table {
        margin-bottom: 0rem !important;
        border-spacing: 0 !important;
    }
    /* 정렬 */
    .table thead th {
        vertical-align: middle;
        
        background-color: #f6f6f6;
    }

    .table th{
        vertical-align: middle;
        text-align: center;
    }
    .table td{
        text-align: center;
        vertical-align: middle;
    }
    </style>



</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	<div th:replace="/common/adminSidebar.html"></div> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div th:replace="/common/adminTopbar.html"></div>
                <!-- 채팅 -->
                <!-- <div th:replace="/admin/chat/chatList.html"></div>  -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">원생 출석 등록</h1>
                    </div>
                    <hr class="border-bottom-primary">

                    <!-- Content Row -->
                    <div class="mx-auto stuformbox">
                    <th:block class="mx-auto">
                    <form name="insertForm" id="insertForm"  th:action="@{/admin/check/chkInsertForm}" method="get" role="form">
                    <div class="stusearchrow py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-0 selectclasstext">강의 선택</div>
	                        <div class="col-2">
	                            <select name="clsId" id="clsId" class="browser-default custom-select selectclassbox">
	                            	<option disabled selected>강의 선택</option>
	                                <th:block th:each="val : ${ classList }" >
	                                <option th:value="${ val.clsId }" th:utext="${ val.clsName }"></option>
	                         		</th:block>
	                             </select>
	                        </div>
                        <div class="col-0 selectstudenttext">학생</div>
                            <div class="col-2">
                                <input class="form-control mr-sm-2 stusearchbox" type="text" name="name" placeholder="학생 이름을 입력해주세요">
                            </div>
                        <div class="col-0 selectclasstext">출석일</div>
                        <div id="date-picker-example" class="col-2 datepicker-section input-with-post-icon datepicker">
                            <!--시작시 기본 날짜 설정은 value를 이용-->
                            <input type="date" name="chkDate" id="datePicker" class="dayselectbox form-control">
                        </div>
                        <button class="stusearchbutton btn-primary btn-sm" type="submit">검색</button>
                    
                        <div class="col-0">
                            <button class="downloadbuttonbox btn-primary btn-sm" id="btnClassSearch" type="button" onclick="window.print()">오프라인 출석부 다운로드</button>
                        </div>
                    </div>
                    </form>
                    </th:block>

                        <br><br>
                        <form >
                        <div class="stulistrow">
                            <div class="table-responsive" style="overflow: scroll; height: 35em;">
                                <table class="studenttable table">
                                    <thead>
                                    <tr>
                                    	<!-- 체크박스 -->
                                        <th rowspan="2" class="stuCheck">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault"></label>
                                            </div>
                                        </th>
                                        <th rowspan="2">번호</th>
                                        <th rowspan="2">학생 이름</th>
                                        <th rowspan="2">수강 강의</th>
                                        <th rowspan="2">출석일</th>
                                        <th colspan="3">출석상태</th>
                                        <th colspan="3" id="gohomebutton">귀가상태</th>
                                    </tr>
                                    <tr>
                                        <th id="attstatusbox"><button type="button" class="attstatusbutton" name="attBtn">출석</button></th>
                                        <th id="attstatusbox"><button type="button" class="attstatusbutton" name="lateBtn">지각</button></th>
                                        <th id="attstatusbox"><button type="button" class="attstatusbutton" name="absentBtn">결석</button></th>
                                        <th id="attstatusbox"><button type="button" class="attstatusbutton" name="homeBtn">귀가</button></th>
                                        <th id="attstatusbox"><button type="button" class="attstatusbutton" name="middleBtn">조퇴</button></th>
                                        <th id="attstatusbox"><button type="button" class="attstatusbutton" name="runBtn">도망</button></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="val:${ checkClassList }">
	                                    <!-- 체크박스 -->
	                                    <th class="stuCheck">
	                                        <div class="form-check">
	                                            <input class="form-check-input" type="checkbox" th:value="${ val.no }" id="flexCheckDefault" name="flexCheckDefaultRow">
	                                        </div>
	                                    </th>
                                        <td th:text="${ val.no }"></td>
                                        <td th:text="${ val.member.name }"></td>
                                        <td th:text="${ val.cls.clsName }"></td>
                                        <td colspan="3"><input type="text" class="attformbox form-control" placeholder="출석" aria-label="Username" aria-describedby="basic-addon1" name="chkStart" th:value="${ val.chkStart }"></td>
                                        <td colspan="3"><input type="text" class="attformbox form-control" placeholder="귀가" aria-label="Username" aria-describedby="basic-addon1" name="chkFinish" th:value="${ val.chkFinish }"></td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    

                        <div class="row buttonbox">
                            <button class="resetbuttonbox col-1 w-10 btn btn-primary btn-sm" type="reset">취소</button>
                            <button class="submitbuttonbox col-1 w-10 btn btn-primary btn-sm" type="submit">저장</button>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="/common/footer.html"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
 	<!-- <script>
 	$(function(){
			$.ajax({
				url : "/admin/check/chkRegist",
				success : function(data) {
					const $classId = $("#clsId");
					
					for(let index in data) {
						$classId.append($("<option>").val(data[index].clsId).text(data[index].clsName));
					}
				},
				error : function(xhr) {
					console.log(xhr);
				}
			});
		});
 	</script> -->
 
<!--  	<script type='text/javascript'>
	// 체크박스 선택 후 삭제 버튼 클릭시 이벤트 
	function notiDeleteClick(){
	  var no = []; 
	  $("input:checkbox[name='flexCheckDefaultRow']:checked").each(function() {
	  no.push($(this).val());     // 체크된 것만 값을 뽑아서 배열에 push
	  console.log(no);
	});
		
	  if(no == ""){
			alert("삭제할 항목을 선택해주세요.");
			return false;
	  } else {
			  $.ajax({
			      type  : "POST",
			      url    : "/admin/notiDelete",
			      data: {
			      no : no       // folder seq 값을 가지고 있음.
			      },
			      success: function(result){
			    	  alert("해당글이 정상적으로 삭제되었습니다.");
			    	  console.log(result);
			    	  location.href="/admin/notiTables"
			      },
			      error: function(request, status, error) {
			      	alert("삭제에 실패하였습니다.");
			      }  
			   });
	  }
	} 
	
	// 확인 누르면 글 삭제
      window.onload = function() {
        document.getElementById('submitBtn').onclick = function() {
            document.getElementById('notiSubmitForm').submit();
            return false;
        };
    };
	</script> -->
		
    <!-- date picker -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery/att-regist.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

    

</body>

</html>